<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="css/care-comple.css" />
    <link rel="stylesheet" type="text/css" href="css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="css/globals.css" />
  </head>
  <body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="care-comple" />
    
    <div class="container-center-horizontal">
      <div class="care-comple screen">
        
        <!-- Main Shape -->
      <div class = "Main shape" >
        <div class="main-shape-e81x7O">
          <div class="main-shape-tEkNqR"></div>
          <img class="path-56-tEkNqR" src="img/path-56-1x-png@1x.png" alt="Path 56" />
        </div>
        
        <!-- QR Placeholder -->
        <div class="qr-placeholder-e81x7O"></div>
        
        <!-- Title Placeholder -->
        <div class="titel-placeholder-e81x7O">
          <div class="titel-placeholder-OKYzwX"></div>
          <h1 class="titel-text-OKYzwX">Box 1</h1>
        </div>
      </div>

        <!-- Remove Button -->
        <div class="remove-button-e81x7O smart-layers-pointers">
          <div class="remove-NGPgxC"></div>
          <img class="remove-icon-NGPgxC smart-layers-pointers" src="img/remove-icon-1@1x.png" alt="remove icon" />
        </div>
        
        <!-- Edit Button -->
        <div class="edit-button-e81x7O smart-layers-pointers">
          <div class="edit-RJ5z46"></div>
          <img class="edit-evggee smart-layers-pointers" src="img/edit@1x.png" alt="edit" />
        </div>
        
        <!-- Print Button -->
        <div class="print-button-e81x7O smart-layers-pointers">
          <div class="print-vvDeTy"></div>
          <img class="path-73-vvDeTy smart-layers-pointers" src="img/path-73-1@1x.png" alt="Path 73" />
        </div>
        
        <!-- Share Button -->
        <div class="share-button-e81x7O smart-layers-pointers">
          <div class="circle-3atM2a"></div>
          <img class="share_6407048-3atM2a smart-layers-pointers" src="img/share-6407048@1x.png" alt="share_6407048" />
        </div>
        
        <!-- Logo Placeholder -->
        <div class="logo_placeholder-e81x7O"></div>
        
      </div>
    </div>
  </body>
</html>
