<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1920, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="css/care-lable.css" />
    <link rel="stylesheet" type="text/css" href="css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="css/globals.css" />
    <title>Care Lable</title>
    <link rel="icon" href="img/favicon.png" sizes="64x64" type="image/png">
  </head>
  <body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="care-lable" />
    
    <div class="container-center-horizontal">
      <div class="care-lable screen">
        
        <!-- Background Section -->
        <div class="bg-qeF0cu">
          <div class="bg-style-mFiOJr">
            <img class="path-267-HvRE6x" src="img/path-129@1x.png" alt="Path 267" />
            <img class="path-268-HvRE6x" src="img/path-268-1x-png@1x.png" alt="Path 268" />
          </div>
          <img class="person-mFiOJr" src="img/person-10@1x.png" alt="Person" />
          <img class="arrow-mFiOJr" src="img/arrow-6@1x.png" alt="Arrow" />
          <div class="main-header-mFiOJr"></div>
          
          <!-- Logo Section -->
          <div class="logo-mFiOJr logo">
            <div class="m-mAU1Ik">
              <img class="path-274-oV9gtG" src="img/path-256@1x.png" alt="Path 274" />
            </div>
            <div class="v-mAU1Ik">
              <img class="path-275-sVTJZj" src="img/path-107@1x.png" alt="Path 275" />
            </div>
            <div class="e-mAU1Ik">
              <img class="path-276-sdkcUD" src="img/path-108@1x.png" alt="Path 276" />
            </div>
            <div class="group-147-mAU1Ik">
              <img class="rectangle-50-eiFDBY" src="img/rectangle-11@1x.png" alt="Rectangle 50" />
            </div>
            <div class="group-148-mAU1Ik">
              <img class="path-277-g3ECHl" src="img/path-259@1x.png" alt="Path 277" />
              <img class="path-278-g3ECHl" src="img/path-110@1x.png" alt="Path 278" />
              <img class="path-279-g3ECHl" src="img/path-111@1x.png" alt="Path 279" />
            </div>
            <div class="pin-mAU1Ik">
              <img class="path-280-4eCdpm" src="img/path-262@1x.png" alt="Path 280" />
              <div class="ellipse-17-4eCdpm"></div>
            </div>
            <div class="box-mAU1Ik">
              <img class="rectangle-51-HHHBDx" src="img/rectangle-12@1x.png" alt="Rectangle 51" />
            </div>
          </div>
        </div>
        
        <!-- New Label Button -->
        <a href="/new-lable">
          <div class="new-lable-button-qeF0cu">
            <div class="group-375-NaVRB0 smart-layers-pointers">
              <div class="green-button-new-lable-AkXcxp"></div>
              <div class="x-AkXcxp smart-layers-pointers">
                <img class="path-464-Q8PWYg" src="img/path-464-11-1x-png@1x.png" alt="Path 464" />
                <img class="path-465-Q8PWYg" src="img/path-465-10-1x-png@1x.png" alt="Path 465" />
              </div>
              <div class="new-lable-AkXcxp lato-black-white-46px">New lable</div>
            </div>
          </div>
        </a>
        
        <!-- Main Shape Section -->
        <div class="main-shape-qeF0cu">
          <div class="rectangle-52-uOxLfH"></div>
          <img class="path-281-uOxLfH" src="img/path-281-1x-png@1x.png" alt="Path 281" />
          <h1 class="title-uOxLfH">Titel :</h1>
          <p class="start-by-listing-your-items-uOxLfH">Start by listing your items...</p>
        </div>
        
        <!-- Cancel Button -->
        <a href="/new-lable">
          <div class="cancel-qeF0cu smart-layers-pointers">
            <img class="cancel-77enew" src="img/cancel@1x.png" alt="Cancel" />
          </div>
        </a>
        
        <!-- Title Section -->
        <div class="title-qeF0cu">
          <div class="rectangle-194-Pj11ju"></div>
          <textarea
            class="titel-Pj11ju"
            name="titel1"
            placeholder="What will you name your box?..."
            type="text"
            required
          ></textarea>
        </div>
        
        <!-- Done Button -->
        <a href="/care-comple">
          <div class="done-qeF0cu smart-layers-pointers">
            <img class="done-jfUkfC" src="img/done@1x.png" alt="Done" />
          </div>
        </a>
        
        <!-- More Items Button -->
        <div class="more-items-button-qeF0cu smart-layers-pointers">
          <div class="upload-button-NVxVjd smart-layers-pointers">
            <div class="rectangle-75-N5OgdN">
              <div class="more-items-NVxVjd lato-black-white-41-8px">+ More items</div>
            </div>
          </div>
        </div>
        
        <!-- Add Logo Section -->
        <div class="add-logo-qeF0cu">
          <img class="square-yDX2as" src="img/square@1x.png" alt="square" />
          <div class="add-yDX2as lato-black-white-41-8px">Add</div>
          <div class="logo-yDX2as logo lato-black-white-41-8px">logo</div>
        </div>
        
        <!-- Items Section -->
        <div class="items-qeF0cu">
          <div class="background-items-QxApAM">
          
          <!-- Item Placeholder 1 -->
          <div class="item-placeholder-QxApAM item-placeholder">
            <div class="text-box"></div>
            <div class="price-box"></div>
            <div class="sek lato-black-white-46px">.SEK</div>
            <textarea
              class="text-L9ELn5 lato-black-white-41-8px"
              name="text3"
              placeholder="Item"
              type="text"
              required
            ></textarea>
            <input
              class="x000-L9ELn5 consolas-regular-normal-white-33px"
              name="0004"
              placeholder="0.00"
              type="number"
              required
            />
          </div>
          
          <!-- Item Placeholder 2 -->
          <div class="item-placeholder-nnpcdy item-placeholder">
            <div class="text-box"></div>
            <div class="price-box"></div>
            <div class="sek lato-black-white-46px">.SEK</div>
            <textarea
              class="text-8qDzlx lato-black-white-41-8px"
              name="text31"
              placeholder="Item"
              type="text"
              required
            ></textarea>
            <input
              class="x000-8qDzlx consolas-regular-normal-white-33px"
              name="00041"
              placeholder="0.00"
              type="number"
              required
            />
          </div>
          
          <!-- Item Placeholder 3 -->
          <div class="item-placeholder-3JTOoB item-placeholder">
            <div class="text-box"></div>
            <div class="price-box"></div>
            <div class="sek lato-black-white-46px">.SEK</div>
            <textarea
              class="text-H5INvM lato-black-white-41-8px"
              name="text32"
              placeholder="Item"
              type="text"
              required
            ></textarea>
            <input
              class="x000-H5INvM consolas-regular-normal-white-33px"
              name="00042"
              placeholder="0.00"
              type="number"
              required
            />
          </div>
        </div>

        </div>
      </div>
    </div>
  </body>
</html>
