<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1920, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="css/fragile-voice.css" />
    <link rel="stylesheet" type="text/css" href="css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="css/globals.css" />
    <title>Fragile Voice</title>
    <link rel="icon" href="img/favicon.png" sizes="64x64" type="image/png">
</head>
<body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="fragile-voice" />
    <div class="container-center-horizontal">
        <div class="fragile-voice screen">
            
            <!-- Background Elements -->
            <div class="bg-style-AmHt9d">
                <img class="path-225-UuZh8K" src="img/path-129@1x.png" alt="Path 225" />
                <img class="path-226-UuZh8K" src="img/path-198@1x.png" alt="Path 226" />
            </div>
            
            <!-- Person and Arrow Images -->
            <img class="person-AmHt9d" src="img/person-10@1x.png" alt="Person" />
            <img class="arrow-AmHt9d" src="img/arrow-10@1x.png" alt="Arrow" />
            <div class="main-header-AmHt9d"></div>

            <!-- New Label Button -->
            <a href="/new-lable">
                <div class="new-lable-button-AmHt9d">
                    <div class="group-375-mkeEp5 smart-layers-pointers">
                        <div class="green-button-new-lable-sawkUk"></div>
                        <div class="x-sawkUk smart-layers-pointers">
                            <img class="path-464-OysoeM" src="img/path-464-15@1x.png" alt="Path 464" />
                            <img class="path-465-OysoeM" src="img/path-465-10-1x-png@1x.png" alt="Path 465" />
                        </div>
                        <div class="new-lable-sawkUk lato-normal-white-39-8px">New lable</div>
                    </div>
                </div>
            </a>

            <!-- Logo -->
            <div class="logo-AmHt9d">
                <div class="m-AFE9Ap">
                    <img class="path-232-8o0YdD" src="img/path-204@1x.png" alt="Path 232" />
                </div>
                <div class="v-AFE9Ap">
                    <img class="path-233-IoWlBw" src="img/path-107@1x.png" alt="Path 233" />
                </div>
                <div class="e-AFE9Ap">
                    <img class="path-234-hGEghs" src="img/path-108@1x.png" alt="Path 234" />
                </div>
                <div class="group-121-AFE9Ap">
                    <img class="rectangle-40-Cuml7r" src="img/rectangle-11@1x.png" alt="Rectangle 40" />
                </div>
                <div class="group-122-AFE9Ap">
                    <img class="path-235-zibxH1" src="img/path-207@1x.png" alt="Path 235" />
                    <img class="path-236-zibxH1" src="img/path-110@1x.png" alt="Path 236" />
                    <img class="path-237-zibxH1" src="img/path-111@1x.png" alt="Path 237" />
                </div>
                <div class="pin-AFE9Ap">
                    <img class="path-238-cMBkRW" src="img/path-210@1x.png" alt="Path 238" />
                    <div class="ellipse-15-cMBkRW"></div>
                </div>
                <div class="box-AFE9Ap">
                    <img class="rectangle-41-KqIG1J" src="img/rectangle-12@1x.png" alt="Rectangle 41" />
                </div>
            </div>

            <!-- Main Shape -->
            <div class="main-shape-AmHt9d">
                <div class="rectangle-42-FrsCtf"></div>
                <img class="path-239-FrsCtf" src="img/path-211@1x.png" alt="Path 239" />
                <div class="fragile-icon-FrsCtf">
                    <img class="path-240-BkfJHH" src="img/path-212@1x.png" alt="Path 240" />
                    <div class="group-123-BkfJHH">
                        <img class="path-241-mjUDoN" src="img/path-213@1x.png" alt="Path 241" />
                        <img class="path-242-mjUDoN" src="img/path-214@1x.png" alt="Path 242" />
                    </div>
                </div>
                <h1 class="title-FrsCtf title lato-black-white-81-1px">Titel :</h1>
                <div class="whats-inside-the-box-FrsCtf lato-black-black-40-1px">What&#39;s inside the box?..</div>
                <div class="rectangle-44-FrsCtf"></div>
            </div>

            <!-- Play Button -->
            <div class="play-button-AmHt9d">
                <div class="box-field"></div>
                <div class="start-recording-fAh568 lato-black-white-23-5px">Start recording</div>
                <div class="play-button-fAh568">
                    <div class="group-188-9cXnl1">
                        <img class="path-357-Gy9xr9" src="img/path-357-1@1x.png" alt="Path 357" />
                    </div>
                    <div class="group-189-9cXnl1">
                        <img class="path-358-PP5MxS" src="img/path-358-1@1x.png" alt="Path 358" />
                    </div>
                </div>
                <img class="play-button-BOvdug" src="img/play-button-1@1x.png" alt="play button" />
            </div>

            <!-- Stop Button -->
            <div class="stop-button-AmHt9d">
                <div class="box-field"></div>
                <div class="stop-recording-vrCpU0 lato-black-white-24-6px">Stop recording</div>
                <div class="stop-button-vrCpU0">
                    <div class="group-190-sQWPtl">
                        <img class="path-359-v9HdiI" src="img/path-359-1@1x.png" alt="Path 359" />
                    </div>
                    <div class="group-191-sQWPtl">
                        <img class="path-360-IYZNGf" src="img/path-360-1@1x.png" alt="Path 360" />
                    </div>
                </div>
            </div>

            <!-- Timeline -->
            <div class="timeline-AmHt9d">
                <div class="timeline-shape-VZnbhB"></div>
                <div class="timeline-progress-VZnbhB"></div>
            </div>

            <!-- Timer -->
            <div class="timer-AmHt9d">
                <div class="x0000-3aCixq comicsansms-bolditalic-normal-white-19-6px">00:00</div>
            </div>

            <!-- Mic Icon -->
            <div class="mic-icon-AmHt9d">
                <img class="mic-icon-xUoYOp" src="img/mic-icon-1@1x.png" alt="Mic icon" />
            </div>

            <!-- Sign Out Button -->
            <a href="/logout">
                <div class="sign-out-AmHt9d smart-layers-pointers">
                    <div class="group-377-SLEHVc">
                        <div class="sign-out-6GWxwR montserrat-normal-torch-red-37-7px">Sign out</div>
                        <img class="path-466-6GWxwR smart-layers-pointers" src="img/path-466-10@1x.png" alt="Path 466" />
                        <div class="group-373-6GWxwR">
                            <img class="path-467-CQxLfv" src="img/path-467-10@1x.png" alt="Path 467" />
                            <img class="path-468-CQxLfv" src="img/path-468-10@1x.png" alt="Path 468" />
                        </div>
                    </div>
                </div>
            </a>

            <!-- Search Bar -->
            <a href="/search">
                <div class="search-bar-AmHt9d smart-layers-pointers">
                    <a href="/search" onclick="window.event.stopPropagation()">
                        <div class="search-box-KUMZTh"></div>
                    </a>
                    <img class="search-icon-KUMZTh smart-layers-pointers" src="img/search-icon-10-1x-png@1x.png" alt="search icon" />
                    <input
                        class="seach-for-a-specific-lable-KUMZTh lato-black-white-30px"
                        name="seach-for-a-specific-lable-213"
                        placeholder="Seach for a specific lable ..."
                        type="text"
                        required
                    />
                </div>
            </a>

            <!-- Cancel Button -->
            <a href="/new-lable">
                <div class="cancel-AmHt9d smart-layers-pointers">
                    <img class="cancel-UNWmnJ" src="img/cancel-17@1x.png" alt="Cancel" />
                </div>
            </a>

            <!-- Done Button -->
            <button id="check-button" type="button">
                <div class="done-AmHt9d smart-layers-pointers">
                    <img class="done-cE2zze" src="img/done-11@1x.png" alt="Done" />
                </div>
            </button>

            <!-- Title Section -->
            <div class="title-AmHt9d title">
                <div class="rectangle-194-6WGwfy"></div>
                <textarea
                    class="titel-6WGwfy lato-black-white-55px"
                    name="titel17"
                    placeholder="What will you name your box?..."
                    type="text"
                    required
                ></textarea>
            </div>
        </div>
    </div>
    <script 
    src="../src/helpers/voiceLable.js">
    </script>  
</body>
</html>