<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1920, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="css/fragile-text.css" />
    <link rel="stylesheet" type="text/css" href="css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="css/globals.css" />
  </head>
  <body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="fragile-text" />
    
    <!-- Main container -->
    <div class="container-center-horizontal">
      <div class="fragile-text screen">
        
        <!-- Background section -->
        <div class="bg-O8kDaF">
          <div class="bg-style-KA4kMW">
            <img class="path-249-Uosx4B" src="img/path-129@1x.png" alt="Path 249" />
            <img class="path-250-Uosx4B" src="img/path-250@1x.png" alt="Path 250" />
          </div>
          <img class="person-KA4kMW" src="img/person-10@1x.png" alt="Person" />
          <img class="arrow-KA4kMW" src="img/arrow-6@1x.png" alt="Arrow" />
          <div class="main-header-KA4kMW"></div>
          
          <!-- Logo section -->
          <div class="logo-KA4kMW">
            <div class="m-c2EXad"><img class="path-256-xE9jsy" src="img/path-256@1x.png" alt="Path 256" /></div>
            <div class="v-c2EXad"><img class="path-257-CrZIZd" src="img/path-107@1x.png" alt="Path 257" /></div>
            <div class="e-c2EXad"><img class="path-258-3XXqgL" src="img/path-108@1x.png" alt="Path 258" /></div>
            <div class="group-137-c2EXad">
              <img class="rectangle-45-E4DT6a" src="img/rectangle-11@1x.png" alt="Rectangle 45" />
            </div>
            <div class="group-138-c2EXad">
              <img class="path-259-7cKxXN" src="img/path-259@1x.png" alt="Path 259" />
              <img class="path-260-7cKxXN" src="img/path-110@1x.png" alt="Path 260" />
              <img class="path-261-7cKxXN" src="img/path-111@1x.png" alt="Path 261" />
            </div>
            <div class="pin-c2EXad">
              <img class="path-262-dgFJrw" src="img/path-262@1x.png" alt="Path 262" />
              <div class="ellipse-16-dgFJrw"></div>
            </div>
            <div class="box-c2EXad">
              <img class="rectangle-46-b7DfUQ" src="img/rectangle-12@1x.png" alt="Rectangle 46" />
            </div>
          </div>
        </div>
        
        <!-- New label button -->
        <a href="/new-lable">
          <div class="new-lable-button-O8kDaF">
            <div class="group-375-JmAwrY smart-layers-pointers">
              <div class="green-button-new-lable-Rtejly"></div>
              <div class="x-Rtejly smart-layers-pointers">
                <img class="path-464-pNxkVe" src="img/path-464-10@1x.png" alt="Path 464" />
                <img class="path-465-pNxkVe" src="img/path-465-10-1x-png@1x.png" alt="Path 465" />
              </div>
              <div class="new-lable-Rtejly lato-normal-white-39-8px">New lable</div>
            </div>
          </div>
        </a>
        
        <!-- Main shape section -->
        <div class="main-shape-O8kDaF">
          <div class="rectangle-47-WEQAam"></div>
          <img class="path-263-WEQAam" src="img/path-263@1x.png" alt="Path 263" />
          <div class="fragile-icon-WEQAam">
            <img class="path-264-n6gECS" src="img/path-212@1x.png" alt="Path 264" />
            <div class="group-139-n6gECS">
              <img class="path-265-QFlmYI" src="img/path-213@1x.png" alt="Path 265" />
              <img class="path-266-QFlmYI" src="img/path-214@1x.png" alt="Path 266" />
            </div>
          </div>
          <h1 class="title-WEQAam title lato-black-white-81-1px">Titel :</h1>
          <div class="whats-inside-the-box-WEQAam lato-black-black-40-1px">What&#39;s inside the box?..</div>
          <div class="rectangle-49-WEQAam"></div>
        </div>
        
        <!-- Type field section -->
        <div class="type-field-O8kDaF">
          <div class="box-field-kOMI7c"></div>
          <textarea
            class="start-typing-here-kOMI7c lato-black-white-20px"
            name="start-typing-here-11"
            placeholder="Start typing here ..."
            type="text"
            required
          ></textarea>
        </div>
        
        <!-- Sign out button -->
        <a href="/logout">
          <div class="sign-out-O8kDaF smart-layers-pointers">
            <div class="group-377-99v0Us">
              <div class="sign-out-YTY6TS montserrat-normal-torch-red-37-7px">Sign out</div>
              <img class="path-466-YTY6TS smart-layers-pointers" src="img/path-466-10@1x.png" alt="Path 466" />
              <div class="group-373-YTY6TS">
                <img class="path-467-ZZsSAf" src="img/path-467-10@1x.png" alt="Path 467" />
                <img class="path-468-ZZsSAf" src="img/path-468-10@1x.png" alt="Path 468" />
              </div>
            </div>
          </div>
        </a>
        
        <!-- Search bar -->
        <a href="/search">
          <div class="search-bar-O8kDaF smart-layers-pointers">
            <a href="/search" onclick="window.event.stopPropagation()"> <div class="search-box-zSVzCu"></div></a>
            <img class="search-icon-zSVzCu smart-layers-pointers" src="img/search-icon-12@1x.png" alt="search icon" />
            <input
              class="seach-for-a-specific-lable-zSVzCu lato-black-white-30px"
              name="seach-for-a-specific-lable-212"
              placeholder="Seach for a specific lable ..."
              type="text"
              required
            />
          </div>
        </a>
        
        <!-- Cancel button -->
        <a href="/new-lable">
          <div class="cancel-O8kDaF smart-layers-pointers">
            <img class="cancel-ByF8al" src="img/cancel-17@1x.png" alt="Cancel" />
          </div>
        </a>
        
        <!-- Done button -->
        <button id="check-button" type="button">
          <div class="done-O8kDaF smart-layers-pointers">
            <img class="done-bvsxkl" src="img/done-11@1x.png" alt="Done" />
          </div>
        </button>
        
        <!-- Title section -->
        <div class="title-O8kDaF title">
          <div class="rectangle-194-6HBxgq"></div>
          <textarea
            class="titel-6HBxgq lato-black-white-55px"
            name="titel16"
            placeholder="What will you name your box?..."
            type="text"
            required
          ></textarea>
        </div>
      </div>
    </div>

    <script src="../src/helpers/textLable.js"> </script>
    
  </body>
</html>
