<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1920, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="css/fragile-image.css" />
    <link rel="stylesheet" type="text/css" href="css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="css/globals.css" />
  </head>
  <body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="fragile-image" />

    <div class="container-center-horizontal">
      <div class="fragile-image screen">
        <div class="bg-993Wkr">
          <!-- Background Images -->
          <img class="path-197-U74oHc" src="img/path-129@1x.png" alt="Path 197" />
          <img class="path-198-U74oHc" src="img/path-198@1x.png" alt="Path 198" />
          <img class="person-U74oHc" src="img/person-10@1x.png" alt="Person" />
          <img class="arrow-U74oHc" src="img/arrow-10@1x.png" alt="Arrow" />

          <div class="main-header-U74oHc"></div>

          <!-- Logo Section -->
          <div class="logo-U74oHc">
            <div class="group-108-secm45">
              <img class="path-204-sqNb4A" src="img/path-204@1x.png" alt="Path 204" />
            </div>
            <div class="group-109-secm45">
              <img class="path-205-4qWDbR" src="img/path-107@1x.png" alt="Path 205" />
            </div>
            <div class="group-110-secm45">
              <img class="path-206-OAXmKF" src="img/path-108@1x.png" alt="Path 206" />
            </div>
            <div class="group-111-secm45">
              <img class="rectangle-36-hAw0zG" src="img/rectangle-11@1x.png" alt="Rectangle 36" />
            </div>
            <div class="group-112-secm45">
              <img class="path-207-SaLxKm" src="img/path-207@1x.png" alt="Path 207" />
              <img class="path-208-SaLxKm" src="img/path-110@1x.png" alt="Path 208" />
              <img class="path-209-SaLxKm" src="img/path-111@1x.png" alt="Path 209" />
            </div>
            <div class="pin-secm45">
              <img class="path-210-KAPYB5" src="img/path-210@1x.png" alt="Path 210" />
              <div class="ellipse-14-KAPYB5"></div>
            </div>
            <div class="box-secm45">
              <img class="rectangle-37-c78IM7" src="img/rectangle-12@1x.png" alt="Rectangle 37" />
            </div>
          </div>
        </div>

        <!-- New Label Button -->
        <a href="/new-lable">
          <div class="new-lable-button-993Wkr">
            <div class="group-375-Mv8Ldc smart-layers-pointers">
              <div class="green-button-new-lable-CohV4n"></div>
              <div class="x-CohV4n smart-layers-pointers">
                <img class="path-464-RW2heR" src="img/path-464-15@1x.png" alt="Path 464" />
                <img class="path-465-RW2heR" src="img/path-465-10-1x-png@1x.png" alt="Path 465" />
              </div>
              <div class="new-lable-CohV4n lato-normal-white-39-8px">New lable</div>
            </div>
          </div>
        </a>

        <!-- Main Shape -->
        <div class="main-shape-993Wkr">
          <div class="rectangle-38-yj4gXw"></div>
          <img class="path-211-yj4gXw" src="img/path-211@1x.png" alt="Path 211" />
          <div class="fragile-icon-yj4gXw">
            <img class="path-212-URGMx2" src="img/path-212@1x.png" alt="Path 212" />
            <div class="group-113-URGMx2">
              <img class="path-213-xzXxxa" src="img/path-213@1x.png" alt="Path 213" />
              <img class="path-214-xzXxxa" src="img/path-214@1x.png" alt="Path 214" />
            </div>
          </div>
          <h1 class="title-yj4gXw title lato-black-white-81-1px">Titel :</h1>
          <div class="whats-inside-the-box-yj4gXw lato-black-black-40-1px">What&#39;s inside the box?..</div>
          <div class="main-box-yj4gXw"></div>
        </div>

        <!-- Main Box -->
        <div class="main-box-993Wkr">
          <div class="main-box-8OyykA"></div>
        </div>

        <!-- Text Indie the box -->
        <div class="text-993Wkr">
          <img class="image-icon-shadow-WxQdCA" src="img/image-icon-shadow-1@1x.png" alt="Image icon shadow" />
          <img class="image-icon-WxQdCA" src="img/image-icon-1@1x.png" alt="Image icon" />
          <div class="drag-an-image-WxQdCA lato-black-white-39-4px">Drag an image</div>
          <div class="or-WxQdCA lato-black-white-39-4px">&nbsp;&nbsp;or</div>
        </div>
        
        <!-- Upload a File -->
        <img class="upload-a-file-993Wkr" src="img/upload-a-file-1@1x.png" alt="upload a file" />

        <!-- Sign Out Button -->
        <a href="/logout">
          <div class="sign-out-993Wkr smart-layers-pointers">
            <div class="group-377-RHW1l5">
              <div class="sign-out-ttJuOw montserrat-normal-torch-red-37-7px">Sign out</div>
              <img class="path-466-ttJuOw smart-layers-pointers" src="img/path-466-10@1x.png" alt="Path 466" />
              <div class="group-373-ttJuOw">
                <img class="path-467-e8Np0s" src="img/path-467-10@1x.png" alt="Path 467" />
                <img class="path-468-e8Np0s" src="img/path-468-10@1x.png" alt="Path 468" />
              </div>
            </div>
          </div>
        </a>

        <!-- Search Bar -->
        <a href="/search">
          <div class="search-bar-993Wkr smart-layers-pointers">
            <a href="/search" onclick="window.event.stopPropagation()">
              <div class="search-box-9SacsC"></div>
            </a>
            <img class="search-icon-9SacsC smart-layers-pointers" src="img/search-icon-10-1x-png@1x.png" alt="search icon" />
            <input
              class="seach-for-a-specific-lable-9SacsC lato-black-white-30px"
              name="seach-for-a-specific-lable-214"
              placeholder="Seach for a specific lable ..."
              type="text"
              required
            />
          </div>
        </a>

        <!-- Cancel Button -->
        <a href="/new-lable">
          <div class="cancel-993Wkr smart-layers-pointers">
            <img class="cancel-xXAUKa" src="img/cancel-17@1x.png" alt="Cancel" />
          </div>
        </a>

        <!-- Done Button -->
        <button id="check-button" type="button">
          <div class="done-993Wkr smart-layers-pointers">
            <img class="done-IN8pQV" src="img/done-11@1x.png" alt="Done" />
          </div>
        </button>

        <!-- Title Section -->
        <div class="title-993Wkr title">
          <div class="rectangle-194-mpm7n9"></div>
          <textarea
            class="titel-mpm7n9 lato-black-white-55px"
            name="titel18"
            placeholder="What will you name your box?..."
            type="text"
            required
          ></textarea>
        </div>
      </div>
    </div>
    <script src="../src/EJS-Javascript/labelImageUpload.js"></script>
  </body>
</html>
