<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1920, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="css/general-complete.css" />
    <link rel="stylesheet" type="text/css" href="css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="css/globals.css" />
</head>
<body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="general-complete" />
    <div class="container-center-horizontal">
        <div class="general-complete screen">
            <div class="main-shape-iv90TT">
                <div class="main-shape-5Sb3YF"></div>
                <img class="path-56-5Sb3YF" src="img/path-56@1x.png" alt="Path 56" />
                <div class="box-icon-5Sb3YF">
                    <div class="group-31-o0zpnV"><img class="path-57-175eYn" src="img/path-57@1x.png" alt="Path 57" /></div>
                    <div class="group-32-o0zpnV"><img class="path-58-U31Qzu" src="img/path-58@1x.png" alt="Path 58" /></div>
                    <div class="group-33-o0zpnV"><img class="path-59-zNK7x2" src="img/path-59@1x.png" alt="Path 59" /></div>
                    <div class="group-34-o0zpnV">
                        <img class="path-60-PLeOxC" src="img/path-60@1x.png" alt="Path 60" />
                        <img class="path-61-PLeOxC" src="img/path-61@1x.png" alt="Path 61" />
                        <img class="path-62-PLeOxC" src="img/path-307@1x.png" alt="Path 62" />
                    </div>
                    <div class="group-35-o0zpnV"><img class="path-63-SfRsxi" src="img/path-63@1x.png" alt="Path 63" /></div>
                    <div class="group-36-o0zpnV">
                        <img class="path-64-FUCrSq" src="img/path-64@1x.png" alt="Path 64" />
                        <img class="path-65-FUCrSq" src="img/path-307@1x.png" alt="Path 65" />
                    </div>
                    <div class="group-37-o0zpnV"><img class="path-66-KztuxI" src="img/path-66@1x.png" alt="Path 66" /></div>
                    <div class="group-38-o0zpnV"><img class="path-67-JRrtoP" src="img/path-307@1x.png" alt="Path 67" /></div>
                    <img class="path-68-o0zpnV" src="img/path-68@1x.png" alt="Path 68" />
                    <div class="group-39-o0zpnV">
                        <img class="path-69-4U34pA" src="img/path-69@1x.png" alt="Path 69" />
                        <img class="path-70-4U34pA" src="img/path-70@1x.png" alt="Path 70" />
                    </div>
                    <div class="group-40-o0zpnV"><img class="path-71-EYjnCE" src="img/path-307@1x.png" alt="Path 71" /></div>
                </div>
            </div>

            <div class="qr-placeholder-iv90TT">
                <% if (label && label.qr_data) { %>
                    <img src="<%= label.qr_data %>" alt="QR Code" />
                <% } else { %>
                    <p>QR Code data is not available</p>
                <% } %>
            </div>  

            <div class="titel-placeholder-iv90TT">
                <div class="titel-placeholder-rMcpFE"></div>
            </div>

            <div class="titel-placeholder-JAxmLZ">
                <div class="titel-placeholder-SSIOQa"></div>
                <% if (label && label.label_name) { %>
                    <h1 class="titel-text-SSIOQa lato-black-white-50px"><%= label.label_name %></h1>
                <% } else { %>
                    <p>Label name is not available</p>
                <% } %>
            </div>

            <!-- Fixed the incorrect nesting of <a> and <div> elements -->
            <a href="/home">
                <div class="remove-button-iv90TT smart-layers-pointers">
                    <div class="remove-W8ZGGM"></div>
                    <img class="remove-icon-W8ZGGM smart-layers-pointers" src="img/remove-icon-1@1x.png" alt="remove icon" />
                </div>
            </a>

            <a href="/edit-lable-general">
                <div class="edit-button-iv90TT smart-layers-pointers">
                    <div class="edit-u6n1IL"></div>
                    <img class="edit-yx3fC4 smart-layers-pointers" src="img/edit-1@1x.png" alt="edit" />
                </div>
            </a>

            <a href="/home">
                <div class="print-button-iv90TT smart-layers-pointers">
                    <div class="print-urvQAg"></div>
                    <img class="path-73-urvQAg smart-layers-pointers" src="img/path-73-1@1x.png" alt="Path 73" />
                </div>
            </a>

            <a href="/preview-lable-general">
                <div class="prev-button-iv90TT smart-layers-pointers">
                    <div class="prev-o8xOJx"></div>
                    <img class="path-72-o8xOJx smart-layers-pointers" src="img/path-72-1@1x.png" alt="Path 72" />
                </div>
            </a>
        </div>
    </div>
</body>
</html>
