<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1920, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="css/general-image.css" />
    <link rel="stylesheet" type="text/css" href="css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="css/globals.css" />
</head>
<body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="general-image" />
    <div class="container-center-horizontal">
        <div class="general-image screen">
            <!-- Background Elements -->
            <div class="bg-YH2EbH">
                <div class="bg-style-zdChRe">
                    <img class="path-287-HLNIkY" src="img/path-129@1x.png" alt="Path 287" />
                    <img class="path-288-HLNIkY" src="img/path-288@1x.png" alt="Path 288" />
                    <img class="person-HLNIkY" src="img/person-10@1x.png" alt="Person" />
                    <img class="arrow-HLNIkY" src="img/arrow-14@1x.png" alt="Arrow" />
                    <div class="main-header-HLNIkY"></div>
                    <div class="logo-HLNIkY">
                        <div class="logo-YPwX6k">
                            <div class="m-KvkjDj">
                                <img class="path-294-MD4OPy" src="img/path-294@1x.png" alt="Path 294" />
                            </div>
                            <div class="v-KvkjDj">
                                <img class="path-295-VQQuQV" src="img/path-295@1x.png" alt="Path 295" />
                            </div>
                            <div class="e-KvkjDj">
                                <img class="path-296-UAxKhR" src="img/path-296@1x.png" alt="Path 296" />
                            </div>
                            <div class="group-157-KvkjDj">
                                <img class="rectangle-57-lxPvT4" src="img/rectangle-11@1x.png" alt="Rectangle 57" />
                            </div>
                            <div class="group-158-KvkjDj">
                                <img class="path-297-X9Dxum" src="img/path-297@1x.png" alt="Path 297" />
                                <img class="path-298-X9Dxum" src="img/path-110@1x.png" alt="Path 298" />
                                <img class="path-299-X9Dxum" src="img/path-111@1x.png" alt="Path 299" />
                            </div>
                            <div class="pin-KvkjDj">
                                <img class="path-300-3ZCDjY" src="img/path-300@1x.png" alt="Path 300" />
                                <div class="ellipse-18-3ZCDjY"></div>
                            </div>
                            <div class="box-KvkjDj">
                                <img class="rectangle-58-JPW9tA" src="img/rectangle-12@1x.png" alt="Rectangle 58" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- New Label Button -->
            <a href="/new-lable">
                <div class="new-lable-button-YH2EbH">
                    <div class="group-375-uGs6yh smart-layers-pointers">
                        <div class="green-button-new-lable-vxOTe5"></div>
                        <div class="x-vxOTe5 smart-layers-pointers">
                            <img class="path-464-S5jCGW" src="img/path-464-11-1x-png@1x.png" alt="Path 464" />
                            <img class="path-465-S5jCGW" src="img/path-465-10-1x-png@1x.png" alt="Path 465" />
                        </div>
                        <div class="new-lable-vxOTe5 lato-normal-white-39-8px">New lable</div>
                    </div>
                </div>
            </a>

            <!-- Main Shape Element -->
            <div class="main-shape-elem-YH2EbH">
                <div class="rectangle-59-VQtZix"></div>
                <img class="path-301-VQtZix" src="img/path-301@1x.png" alt="Path 301" />
                <div class="box-icon-VQtZix">
                    <div class="group-159-jSRNbs">
                        <img class="path-302-Rx6C9B" src="img/path-302@1x.png" alt="Path 302" />
                    </div>
                    <div class="group-160-jSRNbs">
                        <img class="path-303-889jLU" src="img/path-303@1x.png" alt="Path 303" />
                    </div>
                    <div class="group-161-jSRNbs">
                        <img class="path-304-DefRT9" src="img/path-304@1x.png" alt="Path 304" />
                    </div>
                    <div class="group-162-jSRNbs">
                        <img class="path-305-GEzq5Q" src="img/path-305@1x.png" alt="Path 305" />
                        <img class="path-306-GEzq5Q" src="img/path-306@1x.png" alt="Path 306" />
                        <img class="path-307-GEzq5Q" src="img/path-307@1x.png" alt="Path 307" />
                    </div>
                    <div class="group-163-jSRNbs">
                        <img class="path-308-futdIh" src="img/path-308@1x.png" alt="Path 308" />
                    </div>
                    <div class="group-164-jSRNbs">
                        <img class="path-309-LwqE4x" src="img/path-309@1x.png" alt="Path 309" />
                        <img class="path-310-LwqE4x" src="img/path-307@1x.png" alt="Path 310" />
                    </div>
                    <div class="group-165-jSRNbs">
                        <img class="path-311-qkUBt3" src="img/path-311@1x.png" alt="Path 311" />
                    </div>
                    <div class="group-166-jSRNbs">
                        <img class="path-312-TZ02RO" src="img/path-307@1x.png" alt="Path 312" />
                    </div>
                    <img class="path-313-jSRNbs" src="img/path-313@1x.png" alt="Path 313" />
                    <div class="group-167-jSRNbs">
                        <img class="path-314-wGX1gp" src="img/path-314@1x.png" alt="Path 314" />
                        <img class="path-315-wGX1gp" src="img/path-315@1x.png" alt="Path 315" />
                    </div>
                    <div class="group-168-jSRNbs">
                        <img class="path-316-izcX3R" src="img/path-307@1x.png" alt="Path 316" />
                    </div>
                </div>
                <h1 class="title-VQtZix title lato-black-white-81-1px">Titel :</h1>
                <div class="whats-inside-the-box-VQtZix lato-black-black-40-1px">What&#39;s inside the box?..</div>
                <div class="main-box-VQtZix"></div>
            </div>

            <!-- Drop Image Box -->
            <div class="drop-image-box-YH2EbH smart-layers-pointers">
                <div class="drop-image-box-Vag52p"></div>
            </div>

            <!-- Text Inside the Box -->
            <div class="text-inside-the-box-YH2EbH">
                <img class="image-icon-shadow-O5hTUX" src="img/image-icon-shadow-2@1x.png" alt="Image icon shadow" />
                <img class="image-icon-O5hTUX" src="img/image-icon-2@1x.png" alt="Image icon" />
                <div class="drag-an-image-O5hTUX lato-black-white-39-4px">Drag an image</div>
                <div class="or-O5hTUX lato-black-white-39-4px">&nbsp;&nbsp;or</div>
            </div>

            <!-- Upload a File -->
            <img class="upload-a-file-YH2EbH smart-layers-pointers" src="img/upload-a-file@1x.png" alt="upload a file" />

            <!-- Sign Out Button -->
            <a href="/login">
                <div class="sign-out-YH2EbH smart-layers-pointers">
                    <div class="group-377-kWngWe">
                        <div class="sign-out-7amptd montserrat-normal-torch-red-37-7px">Sign out</div>
                        <img class="path-466-7amptd smart-layers-pointers" src="img/path-466-10@1x.png" alt="Path 466" />
                        <div class="group-373-7amptd">
                            <img class="path-467-5rLZE3" src="img/path-467-10@1x.png" alt="Path 467" />
                            <img class="path-468-5rLZE3" src="img/path-468-10@1x.png" alt="Path 468" />
                        </div>
                    </div>
                </div>
            </a>

            <!-- Search Bar -->
            <a href="/search">
                <div class="search-bar-YH2EbH smart-layers-pointers">
                    <a href="search.html" onclick="window.event.stopPropagation()">
                        <div class="search-box-vJN6Sr"></div>
                    </a>
                    <img class="search-icon-vJN6Sr smart-layers-pointers" src="img/search-icon-10-1x-png@1x.png" alt="search icon" />
                    <input
                        class="seach-for-a-specific-lable-vJN6Sr lato-black-white-30px"
                        name="seach-for-a-specific-lable-217"
                        placeholder="Seach for a specific lable ..."
                        type="text"
                        required
                    />
                </div>
            </a>

            <!-- Cancel Button -->
            <a href="/new-lable">
                <div class="cancel-YH2EbH smart-layers-pointers">
                    <img class="cancel-PCaxv0" src="img/cancel-13@1x.png" alt="Cancel" />
                </div>
            </a>

            <!-- Done Button -->
            <button id="check-button" type="button">
                    <div class="done-YH2EbH smart-layers-pointers">
                        <img class="done-5MABDb" src="img/done-1@1x.png" alt="Done" />
                    </div>
            </button>

            <!-- Title Section -->
            <div class="title-YH2EbH title">
                <div class="rectangle-194-LNvnWn"></div>
                <textarea
                    class="titel-LNvnWn lato-black-white-55px"
                    name="titel111"
                    placeholder="What will you name your box?..."
                    type="text"
                    required
                ></textarea>
            </div>
        </div>
    </div>
    <script src="../src/helpers/labelImageUpload.js"></script>
</body>
</html>