<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <!--<meta name=description content="This site was generated with Anima. www.animaapp.com"/>-->
    <!-- <link rel="shortcut icon" type=image/png href="https://animaproject.s3.amazonaws.com/home/favicon.png" /> -->
    <meta name="viewport" content="width=1920, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="css/general-voice.css" />
    <link rel="stylesheet" type="text/css" href="css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="css/globals.css" />
  </head>
  <body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="general-voice" />

    <div class="container-center-horizontal">
      <div class="general-voice screen">

        <!-- Background Section -->
        <div class="bg-style-AFDyxE">
          <img class="path-327-M5FGE1" src="img/path-129@1x.png" alt="Path 327" />
          <img class="path-328-M5FGE1" src="img/path-288@1x.png" alt="Path 328" />
          <img class="person-M5FGE1" src="img/person-10@1x.png" alt="Person" />
          <img class="arrow-M5FGE1" src="img/arrow-14@1x.png" alt="Arrow" />
          <div class="main-header-M5FGE1"></div>

          <!-- Logo Section -->
          <div class="logo-M5FGE1">
            <div class="logo-vHZ2GD">
              <div class="m-kI3Sig">
                <img class="path-334-O7OMR2" src="img/path-294@1x.png" alt="Path 334" />
              </div>

              <div class="v-kI3Sig">
                <img class="path-335-tpRtIA" src="img/path-295@1x.png" alt="Path 335" />
              </div>

              <div class="e-kI3Sig">
                <img class="path-336-MU7VQN" src="img/path-296@1x.png" alt="Path 336" />
              </div>

              <div class="group-176-kI3Sig">
                <img class="rectangle-61-EX5med" src="img/rectangle-11@1x.png" alt="Rectangle 61" />
              </div>

              <div class="group-177-kI3Sig">
                <img class="path-337-b9o8Pv" src="img/path-297@1x.png" alt="Path 337" />
                <img class="path-338-b9o8Pv" src="img/path-110@1x.png" alt="Path 338" />
                <img class="path-339-b9o8Pv" src="img/path-111@1x.png" alt="Path 339" />
              </div>

              <div class="pin-kI3Sig">
                <img class="path-340-ainsB3" src="img/path-300@1x.png" alt="Path 340" />
                <div class="ellipse-19-ainsB3"></div>
              </div>

              <div class="box-kI3Sig">
                <img class="rectangle-62-42NXoE" src="img/rectangle-12@1x.png" alt="Rectangle 62" />
              </div>
            </div>
          </div>
        </div>

        <!-- New Label Button -->
        <a href="/new-lable">
          <div class="new-lable-button-AFDyxE">
            <div class="group-375-ku06eJ smart-layers-pointers">
              <div class="green-button-new-lable-JS14HT"></div>
              <div class="x-JS14HT smart-layers-pointers">
                <img class="path-464-uxjWey" src="img/path-464-11-1x-png@1x.png" alt="Path 464" />
                <img class="path-465-uxjWey" src="img/path-465-10-1x-png@1x.png" alt="Path 465" />
              </div>
              <div class="new-lable-JS14HT lato-normal-white-39-8px">New lable</div>
            </div>
          </div>
        </a>

        <!-- Main Shape Section -->
        <div class="main-shape-AFDyxE">
          <div class="main-shape-8Qufs6">
            <div class="rectangle-63-QaxLYm"></div>
            <img class="path-341-QaxLYm" src="img/path-301@1x.png" alt="Path 341" />

            <!-- Box Icon Section -->
            <div class="box-icon-QaxLYm">
              <div class="group-178-h9Fudx">
                <img class="path-342-CZIOdx" src="img/path-302@1x.png" alt="Path 342" />
              </div>

              <div class="group-179-h9Fudx">
                <img class="path-343-ykOtbG" src="img/path-303@1x.png" alt="Path 343" />
              </div>

              <div class="group-180-h9Fudx">
                <img class="path-344-cXzf9w" src="img/path-304@1x.png" alt="Path 344" />
              </div>

              <div class="group-181-h9Fudx">
                <img class="path-345-9CaAJx" src="img/path-305@1x.png" alt="Path 345" />
                <img class="path-346-9CaAJx" src="img/path-306@1x.png" alt="Path 346" />
                <img class="path-347-9CaAJx" src="img/path-307@1x.png" alt="Path 347" />
              </div>

              <div class="group-182-h9Fudx">
                <img class="path-348-w6XJtp" src="img/path-308@1x.png" alt="Path 348" />
              </div>

              <div class="group-183-h9Fudx">
                <img class="path-349-xhcVxy" src="img/path-309@1x.png" alt="Path 349" />
                <img class="path-350-xhcVxy" src="img/path-307@1x.png" alt="Path 350" />
              </div>

              <div class="group-184-h9Fudx">
                <img class="path-351-3lZLRp" src="img/path-311@1x.png" alt="Path 351" />
              </div>

              <div class="group-185-h9Fudx">
                <img class="path-352-o0GkWL" src="img/path-307@1x.png" alt="Path 352" />
              </div>

              <img class="path-353-h9Fudx" src="img/path-313@1x.png" alt="Path 353" />

              <div class="group-186-h9Fudx">
                <img class="path-354-6ZErFp" src="img/path-314@1x.png" alt="Path 354" />
                <img class="path-355-6ZErFp" src="img/path-315@1x.png" alt="Path 355" />
              </div>

              <div class="group-187-h9Fudx">
                <img class="path-356-HWGCrS" src="img/path-307@1x.png" alt="Path 356" />
              </div>
            </div>

            <h1 class="title-QaxLYm title lato-black-white-81-1px">Titel :</h1>
            <div class="whats-inside-the-box-QaxLYm lato-black-black-40-1px">What&#39;s inside the box?..</div>
            <div class="rectangle-65-QaxLYm"></div>
          </div>
        </div>

        <!-- Play Button -->
        <div class="play-button-AFDyxE smart-layers-pointers">
          <div class="box-field"></div>
          <div class="start-recording-fFzO8k lato-black-white-23-5px">Start recording</div>
          <div class="play-button-fFzO8k">
            <div class="group-188-mzaWju">
              <img class="path-357-3oHHxw" src="img/path-357-1@1x.png" alt="Path 357" />
            </div>

            <div class="group-189-mzaWju">
              <img class="path-358-nTufx9" src="img/path-358-1@1x.png" alt="Path 358" />
            </div>
          </div>
          <img class="play-button-rN4gU0" src="img/play-button-1@1x.png" alt="play button" />
        </div>

        <!-- Stop Button -->
        <div class="stop-button-AFDyxE smart-layers-pointers">
          <div class="box-field"></div>
          <div class="stop-recording-mVqemf lato-black-white-24-6px">Stop recording</div>
          <div class="stop-button-mVqemf">
            <div class="group-190-idKf2A">
              <img class="path-359-DIGqXt" src="img/path-359-1@1x.png" alt="Path 359" />
            </div>

            <div class="group-191-idKf2A">
              <img class="path-360-iQQsvo" src="img/path-360-1@1x.png" alt="Path 360" />
            </div>
          </div>
        </div>

        <!-- Timeline Section -->
        <div class="timeline-AFDyxE">
          <div class="timeline-shape-Jx4Dnz"></div>
          <div class="timeline-progress-Jx4Dnz"></div>
        </div>

        <!-- Timer Section -->
        <div class="timer-AFDyxE">
          <div class="x0000-3FzQFZ comicsansms-bolditalic-normal-white-19-6px">00:00</div>
        </div>

        <!-- Mic Icon -->
        <div class="mic-icon-AFDyxE">
          <img class="mic-icon-WvRDGJ" src="img/mic-icon-1@1x.png" alt="Mic icon" />
        </div>

        <!-- Sign Out Button -->
        <a href="/login">
          <div class="sign-out-AFDyxE smart-layers-pointers">
            <div class="group-377-WAhCuO">
              <div class="sign-out-2ADK9h montserrat-normal-torch-red-37-7px">Sign out</div>
              <img class="path-466-2ADK9h smart-layers-pointers" src="img/path-466-10@1x.png" alt="Path 466" />
              <div class="group-373-2ADK9h">
                <img class="path-467-M4IrvE" src="img/path-467-10@1x.png" alt="Path 467" />
                <img class="path-468-M4IrvE" src="img/path-468-10@1x.png" alt="Path 468" />
              </div>
            </div>
          </div>
        </a>

        <!-- Search Bar -->
        <a href="/search">
          <div class="search-bar-AFDyxE smart-layers-pointers">
            <a href="search.html" onclick="window.event.stopPropagation()">
              <div class="search-box-qxaQZr"></div>
            </a>
            <img class="search-icon-qxaQZr smart-layers-pointers" src="img/search-icon-11-1x-png-1x-png@1x.png" alt="search icon" />
            <input
              class="seach-for-a-specific-lable-qxaQZr lato-black-white-30px"
              name="seach-for-a-specific-lable-216"
              placeholder="Seach for a specific lable ..."
              type="text"
              required
            />
          </div>
        </a>

        <!-- Cancel Button -->
        <a href="/new-lable">
          <div class="cancel-AFDyxE smart-layers-pointers">
            <img class="cancel-JUmw9V" src="img/cancel-13@1x.png" alt="Cancel" />
          </div>
        </a>

        <!-- Done Button -->
        <button id="check-button" type="button">
          <div class="done-AFDyxE smart-layers-pointers">
            <img class="done-dMPZbd" src="img/done-1@1x.png" alt="Done" />
          </div>
        </button>
        
        <!-- Title Input Section -->
        <div class="title-AFDyxE title">
          <div class="rectangle-194-QZkhxQ"></div>
          <textarea
            class="titel-QZkhxQ lato-black-white-55px"
            name="titel110"
            placeholder="What will you name your box?..."
            type="text"
            required
          ></textarea>
        </div>
      </div>
    </div>

    <script>
      let mediaRecorder;
      let audioChunks = [];
      let audioBlob; // Store the recorded audio
      let stream; // Declare stream at a higher scope
      let timerInterval;
      let maxRecordingTime = 180; // 3 minutes in seconds
      let elapsedTime = 0;

      const startButton = document.querySelector('.start-recording-fFzO8k');
      const stopButton = document.querySelector('.stop-recording-mVqemf');
      const checkButton = document.getElementById('check-button'); // "Done" button with id "check-button"
      const timerDisplay = document.querySelector('.timer-AFDyxE .x0000-3FzQFZ');
      const timelineProgress = document.querySelector('.timeline-progress-Jx4Dnz');

      // Extract query parameters from the URL
      const urlParams = new URLSearchParams(window.location.search);
      const labelName = urlParams.get('titel114'); // Get the label name from the query parameter
      const categoryId = urlParams.get('category_id') || 3; // Get the category ID, default to 3 if not present
      const publicStatus = urlParams.get('public') === 'true'; // Get the public status as a boolean

      // Populate the label name input if it exists
      const labelNameInput = document.querySelector('[name="titel110"]'); // Use the provided input name for title
      if (labelNameInput && labelName) {
          labelNameInput.value = labelName;
      }

      // Function to format time in MM:SS format
      function formatTime(seconds) {
          const mins = Math.floor(seconds / 60);
          const secs = seconds % 60;
          return `${String(mins).padStart(2, '0')}:${String(secs).padStart(2, '0')}`;
      }

      // Function to start the recording
      startButton.addEventListener('click', () => {
          if (mediaRecorder && mediaRecorder.state === "recording") return; // Prevent multiple recordings

          navigator.mediaDevices.getUserMedia({ audio: true })
              .then(userStream => {
                  stream = userStream; // Store the stream in the higher scope variable
                  mediaRecorder = new MediaRecorder(stream);
                  mediaRecorder.start();
                  audioChunks = [];

                  mediaRecorder.ondataavailable = event => {
                      audioChunks.push(event.data);
                  };

                  mediaRecorder.onstop = () => {
                      audioBlob = new Blob(audioChunks, { type: 'audio/wav' });
                      const audioUrl = URL.createObjectURL(audioBlob);
                      const audio = document.createElement('audio');
                      audio.src = audioUrl;
                      document.body.appendChild(audio);

                      // Stop all audio tracks to release the recording indicator
                      stream.getTracks().forEach(track => track.stop());
                  };

                  // Start timer and timeline animation
                  elapsedTime = 0;
                  timerDisplay.textContent = formatTime(elapsedTime);
                  timelineProgress.style.width = '0%';

                  timerInterval = setInterval(() => {
                      elapsedTime++;
                      timerDisplay.textContent = formatTime(elapsedTime);
                      timelineProgress.style.width = `${(elapsedTime / maxRecordingTime) * 100}%`;

                      // Stop recording automatically after the max recording time
                      if (elapsedTime >= maxRecordingTime) {
                          stopRecording();
                      }
                  }, 1000);
              });
      });

      // Function to stop the recording
      stopButton.addEventListener('click', stopRecording);

      function stopRecording() {
          if (mediaRecorder && mediaRecorder.state === "recording") {
              mediaRecorder.stop();
              clearInterval(timerInterval);
          }
      }

      // Function to handle the "check" button click to submit the data
      checkButton.addEventListener('click', () => {
      if (!audioBlob) {
          alert('Please record an audio before submitting.');
          return;
      }

      const formData = new FormData();
      
      // Append the audio blob with the correct file name and MIME type
      const file = new File([audioBlob], 'voice-memo.wav', { type: 'audio/wav' });
      formData.append('audioMemo', file);

      // Also send label name and other necessary fields
      formData.append('label_name', labelNameInput ? labelNameInput.value.trim() : '');
      formData.append('category_id', categoryId); // Use the category ID from the URL
      formData.append('public', publicStatus); // Include the public status

      // Send the audio memo and additional data to the server
      fetch('/general-voice', {
          method: 'POST',
          body: formData
      })
      .then(response => {
          // Check if response is JSON, otherwise handle it as text
          const contentType = response.headers.get("content-type");
          if (contentType && contentType.includes("application/json")) {
              return response.json(); // Parse JSON if it's JSON
          } else {
              return response.text(); // Otherwise, parse as plain text
          }
      })
      .then(data => {
          // Handle JSON response
          if (typeof data === 'object') {
              console.log('Server response (JSON):', data); // Log the JSON response to check if it's correct

              if (data.success) {
                  window.location.href = data.redirectUrl; // Redirect using the URL from the server's response
              } else {
                  alert('Error uploading voice memo.');
              }
          } else {
              // Handle non-JSON response
              console.error('Non-JSON response from server:', data);
              alert('Error uploading voice memo.');
          }
      })
      .catch(error => {
          console.error('Error uploading voice memo:', error);
      });
  });

  </script>  
  
  </body>
</html>