<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1920, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <style>
        .general-complete.screen {
            display: grid; /* Make this a grid container */
            grid-template-columns: 1fr; /* Single column layout */
            gap: 1vw; /* Adjust as necessary for spacing */
            position: relative; /* Keep the positioning context */
        }

        .qr-placeholder-iv90TT, .titel-placeholder-JAxmLZ, .remove-button-iv90TT,
        .edit-button-iv90TT, .print-button-iv90TT, .prev-button-iv90TT {
            grid-column: 1; /* All elements will take the full column */
        }
    </style>
</head>
<body style="margin: 0;">
    <input type="hidden" id="anPageName" name="page" value="general-complete" />
    
        <div class="label-container">
            <div class="container-center-horizontal">
                <div class="general-complete screen">
                    <div class="main-shape-iv90TT">
                        <div class="main-shape-5Sb3YF"></div>
                        <img class="path-56-5Sb3YF" src="img/path-56@1x.png" alt="Path 56" />
                        <div class="box-icon-5Sb3YF">
                            <div class="group-31-o0zpnV"><img class="path-57-175eYn" src="img/path-57@1x.png" alt="Path 57" /></div>
                            <div class="group-32-o0zpnV"><img class="path-58-U31Qzu" src="img/path-58@1x.png" alt="Path 58" /></div>
                            <div class="group-33-o0zpnV"><img class="path-59-zNK7x2" src="img/path-59@1x.png" alt="Path 59" /></div>
                            <div class="group-34-o0zpnV">
                                <img class="path-60-PLeOxC" src="img/path-60@1x.png" alt="Path 60" />
                                <img class="path-61-PLeOxC" src="img/path-61@1x.png" alt="Path 61" />
                                <img class="path-62-PLeOxC" src="img/path-307@1x.png" alt="Path 62" />
                            </div>
                            <div class="group-35-o0zpnV"><img class="path-63-SfRsxi" src="img/path-63@1x.png" alt="Path 63" /></div>
                            <div class="group-36-o0zpnV">
                                <img class="path-64-FUCrSq" src="img/path-64@1x.png" alt="Path 64" />
                                <img class="path-65-FUCrSq" src="img/path-307@1x.png" alt="Path 65" />
                            </div>
                            <div class="group-37-o0zpnV"><img class="path-66-KztuxI" src="img/path-66@1x.png" alt="Path 66" /></div>
                            <div class="group-38-o0zpnV"><img class="path-67-JRrtoP" src="img/path-307@1x.png" alt="Path 67" /></div>
                            <img class="path-68-o0zpnV" src="img/path-68@1x.png" alt="Path 68" />
                            <div class="group-39-o0zpnV">
                                <img class="path-69-4U34pA" src="img/path-69@1x.png" alt="Path 69" />
                                <img class="path-70-4U34pA" src="img/path-70@1x.png" alt="Path 70" />
                            </div>
                            <div class="group-40-o0zpnV"><img class="path-71-EYjnCE" src="img/path-307@1x.png" alt="Path 71" /></div>
                        </div>
                    </div>

                    <div class="qr-placeholder-iv90TT">
                        <% if (label && label.qr_data) { %>
                            <img src="<%= label.qr_data %>" alt="QR Code" />
                        <% } else { %>
                            <p>QR Code data is not available</p>
                        <% } %>
                    </div>  

                    <div class="titel-placeholder-JAxmLZ">
                        <div class="titel-placeholder-SSIOQa"></div>
                        <% if (label && label.label_name) { %>
                            <h1 class="titel-text-SSIOQa lato-black-white-50px"><%= label.label_name %></h1>
                        <% } else { %>
                            <p>Label name is not available</p>
                        <% } %>
                    </div>

                    <div class="remove-button-iv90TT smart-layers-pointers" data-label-id="<%= label.label_id %>">
                        <div class="remove-W8ZGGM"></div>
                        <img class="remove-icon-W8ZGGM smart-layers-pointers" src="img/remove-icon-1@1x.png" alt="remove icon" />
                    </div>
                    
                    <a href="/edit-lable-general">
                        <div class="edit-button-iv90TT smart-layers-pointers">
                            <div class="edit-u6n1IL"></div>
                            <img class="edit-yx3fC4 smart-layers-pointers" src="img/edit-1@1x.png" alt="edit" />
                        </div>
                    </a>

                    <a href="/home">
                        <div class="print-button-iv90TT smart-layers-pointers">
                            <div class="print-urvQAg"></div>
                            <img class="path-73-urvQAg smart-layers-pointers" src="img/path-73-1@1x.png" alt="Path 73" />
                        </div>
                    </a>

                    <a href="/preview-lable-general">
                        <div class="prev-button-iv90TT smart-layers-pointers">
                            <div class="prev-o8xOJx"></div>
                            <img class="path-72-o8xOJx smart-layers-pointers" src="img/path-72-1@1x.png" alt="Path 72" />
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <script>
            // Function to handle label deletion
            function handleLabelDeletion(button) {
                const labelId = button.getAttribute('data-label-id');
        
                if (!labelId) {
                    console.error('Label ID not found.');
                    return;
                }
        
                console.log('Delete button clicked for label ID:', labelId);
        
                // Confirm deletion with the user
                if (!confirm('Are you sure you want to delete this label?')) {
                    return;
                }
        
                // Make an AJAX call to delete the label
                fetch('/home', {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ labelId })
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        alert('Label deleted successfully!');
                        // Remove the label element from the DOM
                        button.closest('.label-container').remove();
                    } else {
                        alert('Error deleting label: ' + data.message);
                    }
                })
                .catch(error => {
                    console.error('Error deleting label:', error);
                    alert('Error deleting label.');
                });
            }
        
            // Handle the first label separately
            const firstLabelButton = document.querySelector('.remove-button-iv90TT');
            if (firstLabelButton) {
                firstLabelButton.addEventListener('click', function () {
                    handleLabelDeletion(firstLabelButton);
                });
            }
        
            // Event delegation for all other labels
            document.addEventListener('click', function(event) {
                const button = event.target.closest('.remove-button-iv90TT');
        
                // Ignore the first label button as it's handled separately
                if (button && button !== firstLabelButton) {
                    handleLabelDeletion(button);
                }
            });
        </script>
        
</body>
</html>
