<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1920, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="css/hazard-image.css" />
    <link rel="stylesheet" type="text/css" href="css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="css/globals.css" />
  </head>
  
  <body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="hazard-image" />
    
    <div class="container-center-horizontal">
      <div class="hazard-image screen">
        
        <!-- Background and Images -->
        <div class="bg-JhWpr9">
          <img class="path-99-kRNKEk" src="img/path-129@1x.png" alt="Path 99" />
          <img class="path-100-kRNKEk" src="img/path-100@1x.png" alt="Path 100" />
          <img class="person-kRNKEk" src="img/person-10@1x.png" alt="Person" />
          <img class="arrow-kRNKEk" src="img/arrow-13@1x.png" alt="Arrow" />
          
          <!-- Logo Section -->
          <div class="main-header-kRNKEk"></div>
          <div class="logo-kRNKEk">
            <div class="group-52-DnYiNh">
              <img class="path-106-QVi7ma" src="img/path-106@1x.png" alt="Path 106" />
            </div>
            <div class="group-53-DnYiNh">
              <img class="path-107-gxgcjS" src="img/path-107@1x.png" alt="Path 107" />
            </div>
            <div class="group-54-DnYiNh">
              <img class="path-108-7exiND" src="img/path-108@1x.png" alt="Path 108" />
            </div>
            <div class="group-55-DnYiNh">
              <img class="rectangle-11-fgp7Zl" src="img/rectangle-11@1x.png" alt="Rectangle 11" />
            </div>
            <div class="group-56-DnYiNh">
              <img class="path-109-gaHSA3" src="img/path-109@1x.png" alt="Path 109" />
              <img class="path-110-gaHSA3" src="img/path-110@1x.png" alt="Path 110" />
              <img class="path-111-gaHSA3" src="img/path-111@1x.png" alt="Path 111" />
            </div>
            <div class="pin-DnYiNh">
              <img class="path-112-j33NEZ" src="img/path-112@1x.png" alt="Path 112" />
              <div class="ellipse-6-j33NEZ"></div>
            </div>
            <div class="box-DnYiNh">
              <img class="rectangle-12-dvRSAd" src="img/rectangle-12@1x.png" alt="Rectangle 12" />
            </div>
          </div>
        </div>
        
        <!-- New Label Button -->
        <a href="/new-lable">
          <div class="new-lable-button-JhWpr9">
            <div class="group-375-tQpfit smart-layers-pointers">
              <div class="green-button-new-lable-4njbNi"></div>
              <div class="x-4njbNi smart-layers-pointers">
                <img class="path-464-Vxn27a" src="img/path-464-11-1x-png@1x.png" alt="Path 464" />
                <img class="path-465-Vxn27a" src="img/path-465-10-1x-png@1x.png" alt="Path 465" />
              </div>
              <div class="new-lable-4njbNi lato-normal-white-39-8px">New lable</div>
            </div>
          </div>
        </a>
        
        <!-- Main Shape -->
        <div class="main-shape-JhWpr9">
          <div class="rectangle-13-SJ6nd2"></div>
          <img class="path-113-SJ6nd2" src="img/path-113@1x.png" alt="Path 113" />
          <div class="hazard-icon-SJ6nd2">
            <img class="path-114-WJPuQv" src="img/path-114@1x.png" alt="Path 114" />
            <div class="group-57-WJPuQv">
              <div class="rectangle-14-FSj5h2"></div>
              <div class="ellipse-7-FSj5h2"></div>
            </div>
            <div class="group-58-WJPuQv">
              <img class="path-115-pdtExH" src="img/path-115@1x.png" alt="Path 115" />
              <img class="path-116-pdtExH" src="img/path-116@1x.png" alt="Path 116" />
              <img class="path-117-pdtExH" src="img/path-117@1x.png" alt="Path 117" />
              <img class="path-118-pdtExH" src="img/path-118@1x.png" alt="Path 118" />
            </div>
          </div>
          <h1 class="title-SJ6nd2 title lato-black-white-81-1px">Titel :</h1>
          <div class="whats-inside-the-box-SJ6nd2 lato-black-black-40-1px">What&#39;s inside the box?..</div>
          <div class="main-box-SJ6nd2"></div>
        </div>
        
        <!-- Main Box -->
        <div class="main-box-JhWpr9 smart-layers-pointers">
          <div class="main-box-eErX5t"></div>
        </div>
        
        <!-- Text Section -->
        <div class="text-JhWpr9">
          <img class="image-icon-shadow-KHgnd0" src="img/image-icon-shadow-2@1x.png" alt="Image icon shadow" />
          <img class="image-icon-KHgnd0" src="img/image-icon-2@1x.png" alt="Image icon" />
          <div class="drag-an-image-KHgnd0 lato-black-white-39-4px">Drag an image</div>
          <div class="or-KHgnd0 lato-black-white-39-4px">&nbsp;&nbsp;or</div>
        </div>
        
        <!-- Upload File Image -->
        <img class="upload-a-file-JhWpr9" src="img/upload-a-file-2@1x.png" alt="upload a file" />
        
        <!-- Sign Out Button -->
        <a href="/logout">
          <div class="sign-out-JhWpr9 smart-layers-pointers">
            <div class="group-377-ggnt8p">
              <div class="sign-out-36Kp61 montserrat-normal-torch-red-37-7px">Sign out</div>
              <img class="path-466-36Kp61 smart-layers-pointers" src="img/path-466-10@1x.png" alt="Path 466" />
              <div class="group-373-36Kp61">
                <img class="path-467-xurZva" src="img/path-467-10@1x.png" alt="Path 467" />
                <img class="path-468-xurZva" src="img/path-468-10@1x.png" alt="Path 468" />
              </div>
            </div>
          </div>
        </a>
        
        <!-- Search Bar -->
        <a href="/search">
          <div class="search-bar-JhWpr9 smart-layers-pointers">
            <a href="/search" onclick="window.event.stopPropagation()">
              <div class="search-box-UlL4sW"></div>
            </a>
            <img class="search-icon-UlL4sW smart-layers-pointers" src="img/search-icon-11-1x-png-1x-png@1x.png" alt="search icon" />
            <input class="seach-for-a-specific-lable-UlL4sW lato-black-white-30px" name="seach-for-a-specific-lable-211" placeholder="Seach for a specific lable ..." type="text" required />
          </div>
        </a>
        
        <!-- Cancel Button -->
        <a href="/new-lable">
          <div class="cancel-JhWpr9 smart-layers-pointers">
            <img class="cancel-apwqvp" src="img/cancel-10@1x.png" alt="Cancel" />
          </div>
        </a>
        
        <!-- Done Button -->
        <button id="check-button" type="button">
          <div class="done-JhWpr9 smart-layers-pointers">
            <img class="done-VMrUxy" src="img/done-10@1x.png" alt="Done" />
          </div>
        </button>
        
        <!-- Title Section -->
        <div class="title-JhWpr9 title">
          <div class="rectangle-194-9PheK8"></div>
          <textarea class="titel-9PheK8 lato-black-white-55px" name="titel15" placeholder="What will you name your box?..." type="text" required></textarea>
        </div>
        
      </div>
    </div>
    
    <script src="../src/EJS-Javascript/labelImageUpload.js"></script>
  </body>
</html>
