<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <!--<meta name=description content="This site was generated with Anima. www.animaapp.com"/>-->
    <!-- <link rel="shortcut icon" type=image/png href="https://animaproject.s3.amazonaws.com/home/favicon.png" /> -->
    <meta name="viewport" content="width=1920, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="css/hazard-voice.css" />
    <link rel="stylesheet" type="text/css" href="css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="css/globals.css" />
  </head>
  <body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="hazard-voice" />
    
    <div class="container-center-horizontal">
      <div class="hazard-voice screen">
        
        <!-- Background Section -->
        <div class="bg-drX7Up">
          <div class="bg-style-Nv2ZMO">
            <img class="path-129-2RPPvb" src="img/path-129@1x.png" alt="Path 129" />
            <img class="path-130-2RPPvb" src="img/path-130@1x.png" alt="Path 130" />
          </div>
          <img class="person-Nv2ZMO" src="img/person-10@1x.png" alt="Person" />
          <img class="arrow-Nv2ZMO" src="img/arrow-12@1x.png" alt="Arrow" />
          <div class="main-header-Nv2ZMO"></div>
          
          <!-- Logo Section -->
          <div class="logo-Nv2ZMO">
            <div class="group-66-I3PXop">
              <img class="path-136-0Px3QX" src="img/path-106@1x.png" alt="Path 136" />
            </div>
            <div class="group-67-I3PXop">
              <img class="path-137-xzYFWe" src="img/path-107@1x.png" alt="Path 137" />
            </div>
            <div class="group-68-I3PXop">
              <img class="path-138-8yUx5I" src="img/path-108@1x.png" alt="Path 138" />
            </div>
            <div class="group-69-I3PXop">
              <img class="rectangle-16-7h1c55" src="img/rectangle-11@1x.png" alt="Rectangle 16" />
            </div>
            <div class="group-70-I3PXop">
              <img class="path-139-w2bPw4" src="img/path-109@1x.png" alt="Path 139" />
              <img class="path-140-w2bPw4" src="img/path-110@1x.png" alt="Path 140" />
              <img class="path-141-w2bPw4" src="img/path-111@1x.png" alt="Path 141" />
            </div>
            <div class="pin-I3PXop">
              <img class="path-142-rvoYwh" src="img/path-142@1x.png" alt="Path 142" />
              <div class="ellipse-8-rvoYwh"></div>
            </div>
            <div class="box-I3PXop">
              <img class="rectangle-17-C0NsLa" src="img/rectangle-12@1x.png" alt="Rectangle 17" />
            </div>
          </div>
        </div>
        
        <!-- New Label Button -->
        <a href="/new-lable">
          <div class="new-lable-button-drX7Up">
            <div class="group-375-LswdIr smart-layers-pointers">
              <div class="green-button-new-lable-zmwYMw"></div>
              <div class="x-zmwYMw smart-layers-pointers">
                <img class="path-464-CoF2rI" src="img/path-464-11-1x-png@1x.png" alt="Path 464" />
                <img class="path-465-CoF2rI" src="img/path-465-10-1x-png@1x.png" alt="Path 465" />
              </div>
              <div class="new-lable-zmwYMw lato-normal-white-39-8px">New lable</div>
            </div>
          </div>
        </a>
        
        <!-- Main Shape Section -->
        <div class="main-shape-drX7Up">
          <div class="rectangle-18-lTECm2"></div>
          <img class="path-143-lTECm2" src="img/path-113@1x.png" alt="Path 143" />
          <div class="hazard-icon-lTECm2">
            <img class="path-144-CDMSmM" src="img/path-144@1x.png" alt="Path 144" />
            <div class="group-71-CDMSmM">
              <div class="rectangle-19-7xCp1N"></div>
              <div class="ellipse-9-7xCp1N"></div>
            </div>
            <div class="group-72-CDMSmM">
              <img class="path-145-ElKU0I" src="img/path-145@1x.png" alt="Path 145" />
              <img class="path-146-ElKU0I" src="img/path-116@1x.png" alt="Path 146" />
              <img class="path-147-ElKU0I" src="img/path-117@1x.png" alt="Path 147" />
              <img class="path-148-ElKU0I" src="img/path-118@1x.png" alt="Path 148" />
            </div>
          </div>
          <h1 class="title-lTECm2 title lato-black-white-81-1px">Titel :</h1>
          <div class="whats-inside-the-box-lTECm2 lato-black-black-40-1px">What&#39;s inside the box?..</div>
          <div class="rectangle-21-lTECm2"></div>
        </div>
        
        <!-- Play Button Section -->
        <div class="play-button-drX7Up">
          <div class="box-field"></div>
          <div class="start-recording-RCddfx lato-black-white-23-5px">Start recording</div>
          <div class="play-button-RCddfx">
            <div class="group-188-dpRnh9">
              <img class="path-357-SwKe2W" src="img/path-357-1@1x.png" alt="Path 357" />
            </div>
            <div class="group-189-dpRnh9">
              <img class="path-358-xhWddr" src="img/path-358-1@1x.png" alt="Path 358" />
            </div>
          </div>
          <img class="play-button-F91zMr" src="img/play-button-1@1x.png" alt="play button" />
        </div>
        
        <!-- Stop Button Section -->
        <div class="stop-button-drX7Up">
          <div class="box-field"></div>
          <div class="stop-recording-5d13z9 lato-black-white-24-6px">Stop recording</div>
          <div class="stop-button-5d13z9">
            <div class="group-190-fF1eRk">
              <img class="path-359-U061G6" src="img/path-359-1@1x.png" alt="Path 359" />
            </div>
            <div class="group-191-fF1eRk">
              <img class="path-360-xrgnNY" src="img/path-360-1@1x.png" alt="Path 360" />
            </div>
          </div>
        </div>
        
        <!-- Timeline Section -->
        <div class="timeline-drX7Up">
          <div class="timeline-shape-8T0zHL"></div>
          <div class="timeline-progress-8T0zHL"></div>
        </div>
        
        <!-- Timer Section -->
        <div class="timer-drX7Up">
          <div class="x0000-Bl4AVa comicsansms-bolditalic-normal-white-19-6px">00:00</div>
        </div>
        
        <!-- Mic Icon Section -->
        <div class="mic-icon-drX7Up">
          <img class="mic-icon-r8jAiK" src="img/mic-icon-1@1x.png" alt="Mic icon" />
        </div>
        
        <!-- Sign Out Button -->
        <a href="/logout">
          <div class="sign-out-drX7Up smart-layers-pointers">
            <div class="group-377-BEJVzu">
              <div class="sign-out-LLjJlw montserrat-normal-torch-red-37-7px">Sign out</div>
              <img class="path-466-LLjJlw smart-layers-pointers" src="img/path-466-10@1x.png" alt="Path 466" />
              <div class="group-373-LLjJlw">
                <img class="path-467-1rbCxp" src="img/path-467-10@1x.png" alt="Path 467" />
                <img class="path-468-1rbCxp" src="img/path-468-10@1x.png" alt="Path 468" />
              </div>
            </div>
          </div>
        </a>
        
        <!-- Search Bar -->
        <a href="/search">
          <div class="search-bar-drX7Up smart-layers-pointers">
            <a href="/search" onclick="window.event.stopPropagation()">
              <div class="search-box-CANnaj"></div>
            </a>
            <img class="search-icon-CANnaj smart-layers-pointers" src="img/search-icon-11-1x-png-1x-png@1x.png" alt="search icon" />
            <input class="seach-for-a-specific-lable-CANnaj lato-black-white-30px" name="seach-for-a-specific-lable-210" placeholder="Seach for a specific lable ..." type="text" required />
          </div>
        </a>
        
        <!-- Cancel Button -->
        <a href="/new-lable">
          <div class="cancel-drX7Up smart-layers-pointers">
            <img class="cancel-KjKKVf" src="img/cancel-10@1x.png" alt="Cancel" />
          </div>
        </a>
        
        <!-- Done Button -->
        <button id="check-button" type="button">
          <div class="done-drX7Up smart-layers-pointers">
            <img class="done-bw9XQz" src="img/done-10@1x.png" alt="Done" />
          </div>
        </button>

        <!-- Title Section -->
        <div class="title-drX7Up title">
          <div class="rectangle-194-1UHKac"></div>
          <textarea 
          class="titel-1UHKac lato-black-white-55px" 
          name="titel14" 
          placeholder="What will you name your box?..." 
          type="text" required></textarea>
        </div>
        
      </div>
    </div>
    
    <script 
    src="../src/helpers/voiceLable.js">
    </script> 

  </body>
</html>
