<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1920, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="css/hazard-text.css" />
    <link rel="stylesheet" type="text/css" href="css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="css/globals.css" />
  </head>
  <body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="hazard-text" />
    
    <div class="container-center-horizontal">
      <div class="hazard-text screen">
        
        <!-- Background Section -->
        <div class="bg-LcoiHj">
          <div class="bg-style-BJbod8">
            <img class="path-155-J7bbYv" src="img/path-129@1x.png" alt="Path 155" />
            <img class="path-156-J7bbYv" src="img/path-156@1x.png" alt="Path 156" />
          </div>
          <img class="person-BJbod8" src="img/person-10@1x.png" alt="Person" />
          <img class="arrow-BJbod8" src="img/arrow-11@1x.png" alt="Arrow" />
          <div class="main-header-BJbod8"></div>
          
          <!-- Logo Section -->
          <div class="logo-BJbod8">
            <div class="m-HebzeJ">
              <img class="path-162-lxXVEr" src="img/path-162@1x.png" alt="Path 162" />
            </div>
            <div class="v-HebzeJ">
              <img class="path-163-UeD1zE" src="img/path-107@1x.png" alt="Path 163" />
            </div>
            <div class="e-HebzeJ">
              <img class="path-164-kmVHIF" src="img/path-108@1x.png" alt="Path 164" />
            </div>
            <div class="group-86-HebzeJ">
              <img class="rectangle-22-1FWvdd" src="img/rectangle-11@1x.png" alt="Rectangle 22" />
            </div>
            <div class="group-87-HebzeJ">
              <img class="path-165-frnXXk" src="img/path-165@1x.png" alt="Path 165" />
              <img class="path-166-frnXXk" src="img/path-110@1x.png" alt="Path 166" />
              <img class="path-167-frnXXk" src="img/path-111@1x.png" alt="Path 167" />
            </div>
            <div class="pin-HebzeJ">
              <img class="path-168-ZzgoIl" src="img/path-168@1x.png" alt="Path 168" />
              <div class="ellipse-10-ZzgoIl"></div>
            </div>
            <div class="box-HebzeJ">
              <img class="rectangle-23-EBYsd3" src="img/rectangle-12@1x.png" alt="Rectangle 23" />
            </div>
          </div>
        </div>
        
        <!-- New Label Button -->
        <a href="/new-lable">
          <div class="new-lable-button-LcoiHj">
            <div class="group-375-bZ5RYC smart-layers-pointers">
              <div class="green-button-new-lable-iYr1DB"></div>
              <div class="x-iYr1DB smart-layers-pointers">
                <img class="path-464-iF7OeH" src="img/path-464-11-1x-png@1x.png" alt="Path 464" />
                <img class="path-465-iF7OeH" src="img/path-465-10-1x-png@1x.png" alt="Path 465" />
              </div>
              <div class="new-lable-iYr1DB lato-normal-white-39-8px">New lable</div>
            </div>
          </div>
        </a>
        
        <!-- Create Hazard Label Section -->
        <div class="create-hazard-lable-LcoiHj">
          <div class="main-shape-x5Wvnx">
            <div class="rectangle-24-lhjVzx"></div>
            <img class="path-169-lhjVzx" src="img/path-169@1x.png" alt="Path 169" />
            <div class="hazard-icon-lhjVzx">
              <img class="path-170-ZdNlBR" src="img/path-114@1x.png" alt="Path 170" />
              <div class="group-88-ZdNlBR">
                <div class="rectangle-25-T3p08B"></div>
                <div class="ellipse-11-T3p08B"></div>
              </div>
              <div class="group-89-ZdNlBR">
                <img class="path-171-JDt7xT" src="img/path-115@1x.png" alt="Path 171" />
                <img class="path-172-JDt7xT" src="img/path-116@1x.png" alt="Path 172" />
                <img class="path-173-JDt7xT" src="img/path-117@1x.png" alt="Path 173" />
                <img class="path-174-JDt7xT" src="img/path-118@1x.png" alt="Path 174" />
              </div>
            </div>
            <h1 class="title-lhjVzx title lato-black-white-81-1px">Titel :</h1>
            <div class="whats-inside-the-box-lhjVzx lato-black-black-40-1px">What&#39;s inside the box?..</div>
          </div>
          <div class="text-type-x5Wvnx">
            <div class="rectangle-27-CzpGLF"></div>
          </div>
        </div>
        
        <!-- Type Field Section -->
        <div class="type-field-LcoiHj">
          <div class="box-field-Tuc59L"></div>
          <textarea
            class="start-typing-here-Tuc59L lato-black-white-20px"
            name="start-typing-here-1"
            placeholder="Start typing here ..."
            type="text"
            required
          ></textarea>
        </div>
        
        <!-- Sign Out Button -->
        <a href="/logout">
          <div class="sign-out-LcoiHj smart-layers-pointers">
            <div class="group-377-thf5Mb">
              <div class="sign-out-MBdE5x montserrat-normal-torch-red-37-7px">Sign out</div>
              <img class="path-466-MBdE5x smart-layers-pointers" src="img/path-466-10@1x.png" alt="Path 466" />
              <div class="group-373-MBdE5x">
                <img class="path-467-h1E5fy" src="img/path-467-10@1x.png" alt="Path 467" />
                <img class="path-468-h1E5fy" src="img/path-468-10@1x.png" alt="Path 468" />
              </div>
            </div>
          </div>
        </a>
        
        <!-- Search Bar -->
        <a href="/search">
          <div class="search-bar-LcoiHj smart-layers-pointers">
            <a href="/search" onclick="window.event.stopPropagation()">
              <div class="search-box-spMNxd"></div>
            </a>
            <img class="search-icon-spMNxd smart-layers-pointers" src="img/search-icon-20@1x.png" alt="search icon" />
            <input
              class="seach-for-a-specific-lable-spMNxd lato-black-white-30px"
              name="seach-for-a-specific-lable-29"
              placeholder="Seach for a specific lable ..."
              type="text"
              required
            />
          </div>
        </a>
        
        <!-- Cancel Button -->
        <a href="/new-lable">
          <div class="cancel-LcoiHj smart-layers-pointers">
            <img class="cancel-c7na8P" src="img/cancel-10@1x.png" alt="Cancel" />
          </div>
        </a>
        
        <!-- Done Button -->
        <button id="check-button" type="button">
          <div class="done-LcoiHj smart-layers-pointers">
            <img class="done-uGpYAk" src="img/done-10@1x.png" alt="Done" />
          </div>
        </button>
        
        <!-- Title Section -->
        <div class="title-LcoiHj title">
          <div class="rectangle-194-7C052F"></div>
          <textarea
            class="titel-7C052F lato-black-white-55px"
            name="titel13"
            placeholder="What will you name your box?..."
            type="text"
            required
          ></textarea>
        </div>
        
      </div>
    </div>
    <script src="../src/helpers/textLable.js"> </script>
  </body>
</html>
