<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1920, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="css/home.css" />
    <link rel="stylesheet" type="text/css" href="css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="css/globals.css" />
  </head>
  <body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="home" />
    <div class="container-center-horizontal">
      <div class="home screen">
        <div class="bg-elems-xl4bh6">
          <div class="bg-elements-b2ulYz">
            <div class="group-374-xE0Mep">
              <img class="path-462-oQfiJA" src="img/path-462@1x.png" alt="Path 462" />
              <img class="path-463-oQfiJA" src="img/path-463@1x.png" alt="Path 463" />
              <img class="person-oQfiJA" src="img/person-10@1x.png" alt="Person" />
            </div>
            <img class="arrow-xE0Mep" src="img/arrow-1@1x.png" alt="Arrow" />
            <div class="main-header-xE0Mep"></div>
          </div>
          <div class="logo-b2ulYz">
            <div class="m-5Lf67E"><img class="path-469-I7EJXq" src="img/path-370@1x.png" alt="Path 469" /></div>
            <div class="v-5Lf67E"><img class="path-470-p1FER0" src="img/path-456@1x.png" alt="Path 470" /></div>
            <div class="e-5Lf67E"><img class="path-471-bnzQAx" src="img/path-457@1x.png" alt="Path 471" /></div>
            <div class="group-264-5Lf67E">
              <img class="rectangle-81-4Escn6" src="img/rectangle-11@1x.png" alt="Rectangle 81" />
            </div>
            <div class="group-265-5Lf67E">
              <img class="path-472-U17kh0" src="img/path-297@1x.png" alt="Path 472" />
              <img class="path-473-U17kh0" src="img/path-110@1x.png" alt="Path 473" />
              <img class="path-474-U17kh0" src="img/path-111@1x.png" alt="Path 474" />
            </div>
            <div class="pin-5Lf67E">
              <img class="path-475-hv4NV3" src="img/path-376@1x.png" alt="Path 475" />
              <div class="ellipse-24-hv4NV3"></div>
            </div>
            <div class="box-5Lf67E">
              <img class="rectangle-82-iG4p4b" src="img/rectangle-12@1x.png" alt="Rectangle 82" />
            </div>
          </div>
        </div>
        <a href="/new-lable">
          <div class="new-lable-button-xl4bh6 smart-layers-pointers">
            <div class="group-375-PelNm4 smart-layers-pointers">
              <div class="green-button-new-lable-vUdHvx"></div>
              <div class="x-vUdHvx smart-layers-pointers">
                <img class="path-464-5p9wUQ" src="img/path-464-11-1x-png@1x.png" alt="Path 464" />
                <img class="path-465-5p9wUQ" src="img/path-465-10-1x-png@1x.png" alt="Path 465" />
              </div>
              <h1 class="title-vUdHvx lato-normal-white-39-8px">New lable</h1>
            </div>
          </div></a
        ><a href="/logout">
          <div class="sign-out-xl4bh6 smart-layers-pointers">
            <div class="group-377-3I6Sld">
                <div class="sign-out-4kwxF7 montserrat-normal-torch-red-37-7px">Sign out</div>
                <img class="path-466-4kwxF7 smart-layers-pointers" src="img/path-466-10@1x.png" alt="Path 466" />
                <div class="group-373-4kwxF7">
                    <img class="path-467-KVs3uk" src="img/path-467-10@1x.png" alt="Path 467" />
                    <img class="path-468-KVs3uk" src="img/path-468-10@1x.png" alt="Path 468" />
                </div>
            </div></div></a
        ><a href="/search">
          <div class="search-bar-xl4bh6 smart-layers-pointers">
            <a href="/search" onclick="window.event.stopPropagation()"> <div class="search-box-LvIzbA"></div></a
            ><img
              class="search-icon-LvIzbA smart-layers-pointers"
              src="img/search-icon-11-1x-png-1x-png@1x.png"
              alt="search icon"
            />
            <input
              class="seach-for-a-specific-lable-LvIzbA lato-black-white-30px"
              name="seach-for-a-specific-lable-223"
              placeholder="Seach for a specific lable ..."
              type="text"
              required
            /></div
        ></a>
      </div>
    </div>
  </body>
</html>
