<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="css/login.css" />
    <link rel="stylesheet" type="text/css" href="css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="css/globals.css" />
    <title>Login</title>
    <link rel="icon" href="img/favicon.png" sizes="64x64" type="image/png">
  </head>
  <body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="login" />
    <div class="container-center-horizontal">
      <div class="login screen">
        <div class="bg-b8DrbD bg animate-enter19" show-on-scroll>
          <img class="bg-Eaz0aa bg" src="img/bg@1x.png" alt="BG" />
          <div class="person-Eaz0aa animate-enter17" show-on-scroll>
            <div class="leaf-Hh9xau leaf">
              <img class="path-623-f7xv1a" src="img/path-623@1x.png" alt="Path 623" />
              <img class="line-29-f7xv1a" src="img/line-29@1x.png" alt="Line 29" />
              <img class="line-30-f7xv1a" src="img/line-30@1x.png" alt="Line 30" />
              <img class="line-31-f7xv1a" src="img/line-31@1x.png" alt="Line 31" />
              <img class="line-32-f7xv1a" src="img/line-32@1x.png" alt="Line 32" />
              <img class="line-33-f7xv1a" src="img/line-33@1x.png" alt="Line 33" />
            </div>
            <div class="leaf-2GZCn9 leaf">
              <img class="path-624-At7PYr" src="img/path-624@1x.png" alt="Path 624" />
              <img class="line-34-At7PYr" src="img/line-34@1x.png" alt="Line 34" />
              <img class="line-35-At7PYr" src="img/line-35@1x.png" alt="Line 35" />
              <img class="line-36-At7PYr" src="img/line-36@1x.png" alt="Line 36" />
              <img class="line-37-At7PYr" src="img/line-37@1x.png" alt="Line 37" />
              <img class="line-38-At7PYr" src="img/line-38@1x.png" alt="Line 38" />
            </div>
            <div class="leaf-qAevGp leaf">
              <img class="path-625-hgmrdx" src="img/path-625@1x.png" alt="Path 625" />
              <img class="line-39-hgmrdx" src="img/line-39@1x.png" alt="Line 39" />
              <img class="line-40-hgmrdx" src="img/line-40@1x.png" alt="Line 40" />
              <img class="line-41-hgmrdx" src="img/line-41@1x.png" alt="Line 41" />
              <img class="line-42-hgmrdx" src="img/line-42@1x.png" alt="Line 42" />
              <img class="line-43-hgmrdx" src="img/line-43@1x.png" alt="Line 43" />
            </div>
            <div class="leaf-3uh5Eb leaf">
              <img class="path-626-JGdrZc" src="img/path-626@1x.png" alt="Path 626" />
              <img class="line-44-JGdrZc" src="img/line-44@1x.png" alt="Line 44" />
              <img class="line-45-JGdrZc" src="img/line-45@1x.png" alt="Line 45" />
              <img class="line-46-JGdrZc" src="img/line-46@1x.png" alt="Line 46" />
              <img class="line-47-JGdrZc" src="img/line-47@1x.png" alt="Line 47" />
              <img class="line-48-JGdrZc" src="img/line-48@1x.png" alt="Line 48" />
            </div>
            <div class="leaf-jJ2txW leaf">
              <img class="path-627-638rA4" src="img/path-627@1x.png" alt="Path 627" />
              <img class="line-49-638rA4" src="img/line-49@1x.png" alt="Line 49" />
              <img class="line-50-638rA4" src="img/line-50@1x.png" alt="Line 50" />
              <img class="line-51-638rA4" src="img/line-51@1x.png" alt="Line 51" />
              <img class="line-52-638rA4" src="img/line-52@1x.png" alt="Line 52" />
              <img class="line-53-638rA4" src="img/line-53@1x.png" alt="Line 53" />
            </div>
            <div class="box-Hh9xau box">
              <div class="rectangle-166-ve2VkB"></div>
              <div class="rectangle-167-ve2VkB"></div>
              <div class="rectangle-168-ve2VkB"></div>
              <div class="rectangle-169-ve2VkB"></div>
              <img class="line-54-ve2VkB" src="img/line-54@1x.png" alt="Line 54" />
              <img class="line-55-ve2VkB" src="img/line-55@1x.png" alt="Line 55" />
            </div>
            <div class="box-2GZCn9 box">
              <div class="rectangle-170-otyncR"></div>
              <div class="rectangle-171-otyncR"></div>
              <div class="rectangle-172-otyncR"></div>
              <div class="rectangle-173-otyncR"></div>
              <img class="line-56-otyncR" src="img/line-56@1x.png" alt="Line 56" />
              <img class="line-57-otyncR" src="img/line-57@1x.png" alt="Line 57" />
            </div>
            <div class="box-qAevGp box">
              <div class="rectangle-174-cJ3iXD"></div>
              <div class="rectangle-175-cJ3iXD"></div>
              <div class="rectangle-176-cJ3iXD"></div>
              <div class="rectangle-177-cJ3iXD"></div>
              <img class="line-58-cJ3iXD" src="img/line-58@1x.png" alt="Line 58" />
              <img class="line-59-cJ3iXD" src="img/line-59@1x.png" alt="Line 59" />
            </div>
            <div class="box-3uh5Eb box">
              <div class="rectangle-178-6TPxjJ"></div>
              <div class="rectangle-179-6TPxjJ"></div>
              <div class="rectangle-180-6TPxjJ"></div>
              <div class="rectangle-181-6TPxjJ"></div>
              <img class="line-60-6TPxjJ" src="img/line-60@1x.png" alt="Line 60" />
              <img class="line-61-6TPxjJ" src="img/line-61@1x.png" alt="Line 61" />
            </div>
            <div class="box-jJ2txW box">
              <div class="rectangle-182-cl67A8"></div>
              <div class="rectangle-183-cl67A8"></div>
              <div class="rectangle-184-cl67A8"></div>
              <div class="rectangle-185-cl67A8"></div>
              <img class="line-62-cl67A8" src="img/line-62@1x.png" alt="Line 62" />
              <img class="line-63-cl67A8" src="img/line-63@1x.png" alt="Line 63" />
            </div>
            <div class="body-no-fing-Hh9xau">
              <div class="group-341-E3nG3D">
                <img class="path-628-x5Zzne" src="img/path-628@1x.png" alt="Path 628" />
              </div>
              <div class="group-342-E3nG3D">
                <img class="path-629-8Yz2Ie" src="img/path-629@1x.png" alt="Path 629" />
                <img class="path-630-8Yz2Ie" src="img/path-630@1x.png" alt="Path 630" />
              </div>
              <div class="group-343-E3nG3D">
                <img class="path-631-guxxvY" src="img/path-631@1x.png" alt="Path 631" />
              </div>
              <div class="group-344-E3nG3D">
                <img class="path-632-3ubxn7" src="img/path-632@1x.png" alt="Path 632" />
              </div>
              <div class="group-345-E3nG3D">
                <img class="path-633-l9rGaJ" src="img/path-633@1x.png" alt="Path 633" />
                <img class="path-634-l9rGaJ" src="img/path-634@1x.png" alt="Path 634" />
              </div>
              <div class="group-346-E3nG3D">
                <img class="path-635-daXLKJ" src="img/path-635@1x.png" alt="Path 635" />
              </div>
              <div class="group-347-E3nG3D">
                <img class="path-636-o1Jivg" src="img/path-636@1x.png" alt="Path 636" />
              </div>
              <div class="group-348-E3nG3D">
                <img class="path-637-m6nXxV" src="img/path-637@1x.png" alt="Path 637" />
                <img class="path-638-m6nXxV" src="img/path-638@1x.png" alt="Path 638" />
              </div>
              <div class="group-349-E3nG3D">
                <img class="path-639-Azr2uk" src="img/path-639@1x.png" alt="Path 639" />
              </div>
              <div class="group-350-E3nG3D">
                <img class="path-640-QYRtwI" src="img/path-640@1x.png" alt="Path 640" />
                <img class="path-641-QYRtwI" src="img/path-641@1x.png" alt="Path 641" />
              </div>
              <div class="group-351-E3nG3D">
                <img class="path-642-FKWCpf" src="img/path-642@1x.png" alt="Path 642" />
              </div>
              <div class="group-352-E3nG3D">
                <img class="path-643-vxi0xy" src="img/path-643@1x.png" alt="Path 643" />
                <img class="path-644-vxi0xy" src="img/path-644@1x.png" alt="Path 644" />
              </div>
              <div class="group-353-E3nG3D">
                <img class="path-645-dDJnv1" src="img/path-645@1x.png" alt="Path 645" />
              </div>
              <div class="group-354-E3nG3D">
                <img class="path-646-ge3G9A" src="img/path-646@1x.png" alt="Path 646" />
              </div>
              <div class="group-355-E3nG3D">
                <img class="path-647-W6etx8" src="img/path-647@1x.png" alt="Path 647" />
                <img class="line-64-W6etx8" src="img/line-64@1x.png" alt="Line 64" />
                <img class="path-648-W6etx8" src="img/path-648@1x.png" alt="Path 648" />
                <img class="path-649-W6etx8" src="img/path-649@1x.png" alt="Path 649" />
              </div>
              <div class="group-356-E3nG3D">
                <img class="path-650-H7dqFW" src="img/path-650@1x.png" alt="Path 650" />
              </div>
              <div class="group-357-E3nG3D">
                <img class="path-651-KC0OEy" src="img/path-651@1x.png" alt="Path 651" />
                <img class="path-652-KC0OEy" src="img/path-652@1x.png" alt="Path 652" />
                <img class="path-653-KC0OEy" src="img/path-653@1x.png" alt="Path 653" />
                <img class="path-654-KC0OEy" src="img/path-654@1x.png" alt="Path 654" />
                <img class="path-655-KC0OEy" src="img/path-655@1x.png" alt="Path 655" />
              </div>
              <div class="group-358-E3nG3D">
                <img class="path-656-kbLVTg" src="img/path-656@1x.png" alt="Path 656" />
              </div>
              <div class="group-359-E3nG3D">
                <img class="path-657-L19qs9" src="img/path-657@1x.png" alt="Path 657" />
                <img class="line-65-L19qs9" src="img/line-65@1x.png" alt="Line 65" />
                <img class="path-658-L19qs9" src="img/path-658@1x.png" alt="Path 658" />
                <img class="path-659-L19qs9" src="img/path-659@1x.png" alt="Path 659" />
              </div>
              <div class="group-363-E3nG3D">
                <img class="path-682-UZNwx1" src="img/path-682@1x.png" alt="Path 682" />
                <img class="path-683-UZNwx1" src="img/path-683@1x.png" alt="Path 683" />
                <img class="path-684-UZNwx1" src="img/path-684@1x.png" alt="Path 684" />
              </div>
              <div class="group-364-E3nG3D">
                <img class="path-685-6Vlxz6" src="img/path-685@1x.png" alt="Path 685" />
              </div>
              <div class="group-365-E3nG3D">
                <img class="path-686-efvR6V" src="img/path-686@1x.png" alt="Path 686" />
                <img class="path-687-efvR6V" src="img/path-687@1x.png" alt="Path 687" />
                <img class="line-66-efvR6V" src="img/line-66@1x.png" alt="Line 66" />
              </div>
              <div class="group-369-E3nG3D"><img class="line-67-bqeCPl" src="img/line-67@1x.png" alt="Line 67" /></div>
            </div>
            <div class="phone-Hh9xau">
              <div class="group-361-ykwjO0">
                <img class="path-660-KNofEv" src="img/path-660@1x.png" alt="Path 660" />
                <img class="path-661-KNofEv" src="img/path-661@1x.png" alt="Path 661" />
                <img class="path-662-KNofEv" src="img/path-662@1x.png" alt="Path 662" />
                <img class="path-663-KNofEv" src="img/path-663@1x.png" alt="Path 663" />
                <div class="rectangle-186-KNofEv"></div>
                <div class="rectangle-187-KNofEv"></div>
                <img class="group-360-KNofEv" src="img/group-360@1x.png" alt="Group 360" />
              </div>
            </div>
            <div class="finger-Hh9xau">
              <div class="group-367-W3yGbz">
                <div class="group-366-MMte3J">
                  <img class="path-688-iwYNbw" src="img/path-688@1x.png" alt="Path 688" />
                  <img class="path-689-iwYNbw" src="img/path-689@1x.png" alt="Path 689" />
                </div>
              </div>
            </div>
          </div>
          <img class="text-Eaz0aa text" src="img/text@1x.png" alt="text" />
          <div class="logo-Eaz0aa animate-enter18" show-on-scroll>
            <div class="m-10RvJQ"><img class="path-720-KIxeP5" src="img/path-720@1x.png" alt="Path 720" /></div>
            <div class="v-10RvJQ"><img class="path-721-iaoQKX" src="img/path-721@1x.png" alt="Path 721" /></div>
            <div class="e-10RvJQ"><img class="path-722-A1lMH8" src="img/path-722@1x.png" alt="Path 722" /></div>
            <div class="placeholder-10RvJQ">
              <img class="rectangle-192-xT2OWz" src="img/rectangle-192@1x.png" alt="Rectangle 192" />
            </div>
            <div class="text-10RvJQ text">
              <img class="path-723-9Rxxbs" src="img/path-619@1x.png" alt="Path 723" />
              <img class="path-724-9Rxxbs" src="img/path-724@1x.png" alt="Path 724" />
              <img class="path-725-9Rxxbs" src="img/path-725@1x.png" alt="Path 725" />
            </div>
            <div class="pin-10RvJQ">
              <img class="path-726-PxT7vD" src="img/path-726@1x.png" alt="Path 726" />
              <div class="ellipse-43-PxT7vD"></div>
            </div>
            <div class="box-10RvJQ box">
              <img class="rectangle-193-DiDnW6" src="img/rectangle-165@1x.png" alt="Rectangle 193" />
            </div>
          </div>
        </div>
        <div class="sign-in-elems-b8DrbD animate-enter22" show-on-scroll>
          <div class="main-shape-ognWet animate-enter20" show-on-scroll>
            <div class="shape-behind-FQCRg1"></div>
            <h1 class="sign-in-titel-FQCRg1">Sign in</h1>
          </div>
          <a href="/signup">
            <div class="signup-button-ognWet smart-layers-pointers">
              <div class="group-378-VmPB4A">
                <div class="rectangle-188-dEejnD smart-layers-pointers animate-enter21"></div>
                <div class="sign-up-dEejnD lato-black-white-46-8px">Sign up</div>
              </div>
            </div></a
          >
          <div class="have-account-ognWet">
            <img class="path-715-rkgT11" src="img/path-715@1x.png" alt="Path 715" />
            <img class="path-716-rkgT11" src="img/path-715@1x.png" alt="Path 716" />
            <p class="dont-have-an-account-rkgT11">Don’t have an account ?!</p>
          </div>

          <form action="/login" method="POST">
            <div class="email-field-ognWet">
              <div class="group-381-qZVWjo">
                <div class="rectangle-191-wWC5fc"></div>
                <img class="path-719-wWC5fc" src="img/path-719@1x.png" alt="Path 719" />
              </div>
              <input
                class="your-email-qZVWjo robotoslab-bold-white-18px"
                name="your-email1"  
                placeholder="Your Email"
                type="email"
                required
              />
            </div>

            <div class="password-field-ognWet">
              <div class="group-380-HqTooc">
                <div class="rectangle-190-TgHPrk"></div>
                <div class="group-370-TgHPrk">
                  <img class="path-717-xQ5KE9" src="img/path-612@1x.png" alt="Path 717" />
                  <img class="path-718-xQ5KE9" src="img/path-718@1x.png" alt="Path 718" />
                </div>
              </div>
              <input
                class="your-password-HqTooc robotoslab-bold-white-18px"
                name="your-password1"  
                placeholder="Your Password"
                type="password"
                required
              />
            </div>

            <!-- Submit button (already styled in your existing design) -->
            <a href="javascript:void(0);" id="login-submit">
              <div class="sign-in-button-ognWet smart-layers-pointers">
                <div class="group-379-gxRqCv">
                  <div class="rectangle-189-F2DLiT"></div>
                  <div class="sign-in-F2DLiT lato-black-white-46-8px">Sign in</div>
                </div>
              </div>
            </a>

            <% if (message) { %>
              <div class="error-message">
                <p class="error-text"><%= message %></p>
              </div>
            <% } %>
            
          </form>
        </div>
      </div>
    </div>

    <!-- Google Authentication Button (outside form) -->
    <a href="javascript:void(0);" id="google-login" class="btn">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        style="display:inline-block;vertical-align:middle"
        role="img"
        y="128"
        x="128"
        fill="#f4b21e"
        viewBox="0 0 24 24"
        height="40px"
        width="40px"
      >
        <path
          d="M21.456 10.154c.123.659.19 1.348.19 2.067c0 5.624-3.764 9.623-9.449 9.623A9.841 9.841 0 0 1 2.353 12a9.841 9.841 0 0 1 9.844-9.844c2.658 0 4.879.978 6.583 2.566l-2.775 2.775V7.49c-1.033-.984-2.344-1.489-3.808-1.489c-3.248 0-5.888 2.744-5.888 5.993c0 3.248 2.64 5.998 5.888 5.998c2.947 0 4.953-1.685 5.365-3.999h-5.365v-3.839h9.26Z"
        ></path>
      </svg>
    </a>

    <script>
        // Handle click event on the "Sign in" button to submit the form
      document.getElementById('login-submit').addEventListener('click', function() {
        document.querySelector('form').submit();  // Trigger form submission
      });

      document.getElementById('google-login').addEventListener('click', function() {
        // Redirect to Google OAuth route
        window.location.href = '/auth/google';
      });

      function ShowOnScroll() {
        this.toShow = [];
        this.nextEventY = undefined;
      }

      ShowOnScroll.prototype.show = function (e) {
        e.style.display = "";
      };

      ShowOnScroll.prototype.hide = function (e) {
        e.style.display = "none";
      };

      ShowOnScroll.prototype.getTop = function (e) {
        if (e.Top != undefined && e.Top != 0) {
          return e.Top;
        }
        var top = 0;
        var iter = e;
        do {
          top += iter.offsetTop || 0;
          iter = iter.offsetParent;
        } while (iter);
        e.Top = top;
        return top;
      };

      ShowOnScroll.prototype.onScroll = function () {
        var screenBottom = window.pageYOffset + window.innerHeight;
        if (this.nextEventY == undefined || this.nextEventY > screenBottom) {
          return;
        }
        this.nextEventY = undefined;
        for (var i = 0; i < this.toShow.length; i++) {
          var e = this.toShow[i];
          var top = this.getTop(e);
          if (top < screenBottom) {
            this.show(e);
            this.toShow.shift();
            i--;
          } else {
            this.nextEventY = top;
            break;
          }
        }
      };

      ShowOnScroll.prototype.resetScrolling = function () {
        // Clear state
        var screenBottom = window.pageYOffset + window.innerHeight;
        for (var i = 0; i < this.toShow.length; i++) {
          var e = this.toShow[i];
          this.show(e);
        }
        this.toShow = [];
        this.nextEventY == undefined;

        // Collect items
        var itemsToShowOnScroll = Array.prototype.slice.call(document.getElementsByTagName("*"));
        itemsToShowOnScroll = itemsToShowOnScroll.filter(function (e) {
          return e.getAttribute("show-on-scroll") != undefined;
        });
        var getTop = this.getTop;
        itemsToShowOnScroll.sort(function (a, b) {
          return getTop(a) - getTop(b);
        });
        for (var i = 0; i < itemsToShowOnScroll.length; i++) {
          var e = itemsToShowOnScroll[i];
          var top = this.getTop(e);
          if (top < screenBottom) {
            continue;
          }
          this.toShow.push(e);
          this.hide(e);
          this.nextEventY = this.nextEventY != undefined ? this.nextEventY : top;
        }
      };

      ShowOnScroll.prototype.handleEvent = function (e) {
        switch (e.type) {
          case "scroll":
            this.onScroll();
            break;
          case "resize":
            this.resetScrolling();
            break;
        }
      };

      ShowOnScroll.prototype.init = function () {
        this.resetScrolling();
        window.addEventListener("scroll", this);
        window.addEventListener("resize", this);
      };

      // After anima-src
      setTimeout(function () {
        var instShowOnScroll = new ShowOnScroll();
        instShowOnScroll.init();
      }, 250);
    </script>
  </body>
</html>
