<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1920, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="css/new-lable-clicked.css" />
    <link rel="stylesheet" type="text/css" href="css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="css/globals.css" />
  </head>
  <body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="new-lable" />
    <div class="container-center-horizontal">
      <div class="new-lable-clicked screen">
        <div class="bg-RMVKx3">
          <div class="bg-shape-wRFfj6">
            <img class="path-425-HbAk5Z" src="img/path-129@1x.png" alt="Path 425" />
            <img class="path-426-HbAk5Z" src="img/path-426@1x.png" alt="Path 426" />
          </div>
          <img class="person-wRFfj6" src="img/person-10@1x.png" alt="Person" />
          <img class="arrow-wRFfj6" src="img/arrow-1@1x.png" alt="Arrow" />
          <div class="header-wRFfj6"></div>
          <div class="logo-wRFfj6">
            <div class="group-252-AKXx7v"><img class="path-455-TTjuu4" src="img/path-370@1x.png" alt="Path 455" /></div>
            <div class="group-253-AKXx7v"><img class="path-456-4ATkmO" src="img/path-456@1x.png" alt="Path 456" /></div>
            <div class="group-254-AKXx7v"><img class="path-457-sjQRuW" src="img/path-457@1x.png" alt="Path 457" /></div>
            <div class="group-255-AKXx7v">
              <img class="rectangle-79-cU6whD" src="img/rectangle-11@1x.png" alt="Rectangle 79" />
            </div>
            <div class="group-256-AKXx7v">
              <img class="path-458-p3AYHx" src="img/path-297@1x.png" alt="Path 458" />
              <img class="path-459-p3AYHx" src="img/path-110@1x.png" alt="Path 459" />
              <img class="path-460-p3AYHx" src="img/path-111@1x.png" alt="Path 460" />
            </div>
            <div class="pin-AKXx7v">
              <img class="path-461-xXvfqF" src="img/path-376@1x.png" alt="Path 461" />
              <div class="ellipse-23-xXvfqF"></div>
            </div>
            <div class="box-AKXx7v">
              <img class="rectangle-80-9yJ4Y3" src="img/rectangle-12@1x.png" alt="Rectangle 80" />
            </div>
          </div>
        </div>
        <a href="/home">
          <div class="new-lable-button-RMVKx3">
            <div class="group-375-ArBPaq smart-layers-pointers">
              <div class="green-button-new-lable-HWiFg0"></div>
              <div class="x-HWiFg0 smart-layers-pointers">
                <img class="path-464-kd600B" src="img/path-464-11-1x-png@1x.png" alt="Path 464" />
                <img class="path-465-kd600B" src="img/path-465-10-1x-png@1x.png" alt="Path 465" />
              </div>
              <div class="new-lable-HWiFg0 lato-normal-white-39-8px">New lable</div>
            </div>
          </div></a
        ><a href="/general-lable">
          <div class="general-box-RMVKx3 smart-layers-pointers animate-enter" show-on-scroll>
            <div class="gcircle-XBrqx5 gcircle"></div>
            <div class="fcircle"></div>
            <h1 class="title-XBrqx5 lato-black-white-41-8px">General</h1>
            <div class="box-icon-XBrqx5 smart-layers-pointers">
              <div class="group-234-4IpfF8">
                <img class="path-429-dXe9Wx" src="img/path-429@1x.png" alt="Path 429" />
              </div>
              <div class="group-235-4IpfF8">
                <img class="path-430-nETCo6" src="img/path-430@1x.png" alt="Path 430" />
              </div>
              <div class="group-236-4IpfF8">
                <img class="path-431-4qAdN9" src="img/path-431@1x.png" alt="Path 431" />
              </div>
              <div class="group-237-4IpfF8">
                <img class="path-432-aONxUo" src="img/path-432@1x.png" alt="Path 432" />
                <img class="path-433-aONxUo" src="img/path-433@1x.png" alt="Path 433" />
                <img class="path-434-aONxUo" src="img/path-307@1x.png" alt="Path 434" />
              </div>
              <div class="group-238-4IpfF8">
                <img class="path-435-NYwozz" src="img/path-435@1x.png" alt="Path 435" />
              </div>
              <div class="group-239-4IpfF8">
                <img class="path-436-RxUuEm" src="img/path-436@1x.png" alt="Path 436" />
                <img class="path-437-RxUuEm" src="img/path-307@1x.png" alt="Path 437" />
              </div>
              <div class="group-240-4IpfF8">
                <img class="path-438-pZC7LR" src="img/path-438@1x.png" alt="Path 438" />
              </div>
              <div class="group-241-4IpfF8">
                <img class="path-439-xcYBxY" src="img/path-307@1x.png" alt="Path 439" />
              </div>
              <img class="path-440-4IpfF8" src="img/path-440@1x.png" alt="Path 440" />
              <div class="group-242-4IpfF8">
                <img class="path-441-wTO7GB" src="img/path-441@1x.png" alt="Path 441" />
                <img class="path-442-wTO7GB" src="img/path-442@1x.png" alt="Path 442" />
              </div>
              <div class="group-243-4IpfF8">
                <img class="path-443-x6ofhh" src="img/path-307@1x.png" alt="Path 443" />
              </div>
              <h1 class="button-title"></h1>
            </div></div></a
        ><a href="/fragile-lable">
          <div class="fragile-box-RMVKx3 smart-layers-pointers animate-enter1" show-on-scroll>
            <div class="gcircle-EKEozL gcircle"></div>
            <div class="fcircle"></div>
            <div class="fragile-icon-EKEozL smart-layers-pointers">
              <img class="path-444-lD2q1W" src="img/path-444@1x.png" alt="Path 444" />
              <div class="group-244-lD2q1W">
                <img class="path-445-NQzC3Q" src="img/path-445@1x.png" alt="Path 445" />
                <img class="path-446-NQzC3Q" src="img/path-446@1x.png" alt="Path 446" />
              </div>
            </div>
            <div class="fragile-EKEozL lato-black-white-41-8px">Fragile</div>
          </div></a
        ><a href="/hazard-lable">
          <div class="hazard-box-RMVKx3 smart-layers-pointers animate-enter2" show-on-scroll>
            <div class="gcircle-zKE9YF gcircle"></div>
            <div class="hcircle-zKE9YF"></div>
            <div class="hazard-icon-zKE9YF smart-layers-pointers">
              <img class="path-447-ECi3HR" src="img/path-447@1x.png" alt="Path 447" />
              <div class="group-245-ECi3HR">
                <div class="rectangle-78-pu7Z9o"></div>
                <div class="ellipse-22-pu7Z9o"></div>
              </div>
              <div class="group-246-ECi3HR">
                <img class="path-448-mh5IbX" src="img/path-448@1x.png" alt="Path 448" />
                <img class="path-449-mh5IbX" src="img/path-449@1x.png" alt="Path 449" />
                <img class="path-450-mh5IbX" src="img/path-450@1x.png" alt="Path 450" />
                <img class="path-451-mh5IbX" src="img/path-451@1x.png" alt="Path 451" />
              </div>
            </div>
            <div class="hazard-zKE9YF lato-black-white-41-8px">Hazard</div>
          </div></a
        ><a href="/logout">
          <div class="sign-out-RMVKx3 smart-layers-pointers">
            <div class="group-377-4n5xxo">
              <div class="sign-out-wxwc4M montserrat-normal-torch-red-37-7px">Sign out</div>
              <img class="path-466-wxwc4M smart-layers-pointers" src="img/path-466-10@1x.png" alt="Path 466" />
              <div class="group-373-wxwc4M">
                <img class="path-467-mKAzTJ" src="img/path-467-10@1x.png" alt="Path 467" />
                <img class="path-468-mKAzTJ" src="img/path-468-10@1x.png" alt="Path 468" />
              </div>
            </div></div></a
        ><a href="/search">
          <div class="search-bar-RMVKx3 smart-layers-pointers">
            <a href="/search" onclick="window.event.stopPropagation()"> <div class="search-box-mLEEJP"></div></a
            ><img
              class="search-icon-mLEEJP smart-layers-pointers"
              src="img/search-icon-11-1x-png-1x-png@1x.png"
              alt="search icon"
            />
            <input
              class="seach-for-a-specific-lable-mLEEJP lato-black-white-30px"
              name="seach-for-a-specific-lable-222"
              placeholder="Seach for a specific lable ..."
              type="text"
              required
            /></div
        ></a>
      </div>
    </div>
    <script>
      function ShowOnScroll() {
        this.toShow = [];
        this.nextEventY = undefined;
      }

      ShowOnScroll.prototype.show = function (e) {
        e.style.display = "";
      };

      ShowOnScroll.prototype.hide = function (e) {
        e.style.display = "none";
      };

      ShowOnScroll.prototype.getTop = function (e) {
        if (e.Top != undefined && e.Top != 0) {
          return e.Top;
        }
        var top = 0;
        var iter = e;
        do {
          top += iter.offsetTop || 0;
          iter = iter.offsetParent;
        } while (iter);
        e.Top = top;
        return top;
      };

      ShowOnScroll.prototype.onScroll = function () {
        var screenBottom = window.pageYOffset + window.innerHeight;
        if (this.nextEventY == undefined || this.nextEventY > screenBottom) {
          return;
        }
        this.nextEventY = undefined;
        for (var i = 0; i < this.toShow.length; i++) {
          var e = this.toShow[i];
          var top = this.getTop(e);
          if (top < screenBottom) {
            this.show(e);
            this.toShow.shift();
            i--;
          } else {
            this.nextEventY = top;
            break;
          }
        }
      };

      ShowOnScroll.prototype.resetScrolling = function () {
        // Clear state
        var screenBottom = window.pageYOffset + window.innerHeight;
        for (var i = 0; i < this.toShow.length; i++) {
          var e = this.toShow[i];
          this.show(e);
        }
        this.toShow = [];
        this.nextEventY == undefined;

        // Collect items
        var itemsToShowOnScroll = Array.prototype.slice.call(document.getElementsByTagName("*"));
        itemsToShowOnScroll = itemsToShowOnScroll.filter(function (e) {
          return e.getAttribute("show-on-scroll") != undefined;
        });
        var getTop = this.getTop;
        itemsToShowOnScroll.sort(function (a, b) {
          return getTop(a) - getTop(b);
        });
        for (var i = 0; i < itemsToShowOnScroll.length; i++) {
          var e = itemsToShowOnScroll[i];
          var top = this.getTop(e);
          if (top < screenBottom) {
            continue;
          }
          this.toShow.push(e);
          this.hide(e);
          this.nextEventY = this.nextEventY != undefined ? this.nextEventY : top;
        }
      };

      ShowOnScroll.prototype.handleEvent = function (e) {
        switch (e.type) {
          case "scroll":
            this.onScroll();
            break;
          case "resize":
            this.resetScrolling();
            break;
        }
      };

      ShowOnScroll.prototype.init = function () {
        this.resetScrolling();
        window.addEventListener("scroll", this);
        window.addEventListener("resize", this);
      };

      // After anima-src
      setTimeout(function () {
        var instShowOnScroll = new ShowOnScroll();
        instShowOnScroll.init();
      }, 250);
    </script>
  </body>
</html>
