<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1920, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="css/new-lable-clicked.css" />
    <link rel="stylesheet" type="text/css" href="css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="css/globals.css" />
    <title>New label</title>
    <link rel="icon" href="img/favicon.png" sizes="64x64" type="image/png">
  </head>
  <body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="new-lable" />
    <div class="container-center-horizontal">
      <div class="new-lable-clicked screen">
        <div class="bg-RMVKx3">
          <div class="bg-shape-wRFfj6">
            <img class="path-425-HbAk5Z" src="img/path-129@1x.png" alt="Path 425" />
            <img class="path-426-HbAk5Z" src="img/path-426@1x.png" alt="Path 426" />
          </div>
          <img class="person-wRFfj6" src="img/person-10@1x.png" alt="Person" />
          <img class="arrow-wRFfj6" src="img/arrow-1@1x.png" alt="Arrow" />
          <div class="header-wRFfj6"></div>
          <div class="logo-wRFfj6">
            <div class="group-252-AKXx7v"><img class="path-455-TTjuu4" src="img/path-370@1x.png" alt="Path 455" /></div>
            <div class="group-253-AKXx7v"><img class="path-456-4ATkmO" src="img/path-456@1x.png" alt="Path 456" /></div>
            <div class="group-254-AKXx7v"><img class="path-457-sjQRuW" src="img/path-457@1x.png" alt="Path 457" /></div>
            <div class="group-255-AKXx7v">
              <img class="rectangle-79-cU6whD" src="img/rectangle-11@1x.png" alt="Rectangle 79" />
            </div>
            <div class="group-256-AKXx7v">
              <img class="path-458-p3AYHx" src="img/path-297@1x.png" alt="Path 458" />
              <img class="path-459-p3AYHx" src="img/path-110@1x.png" alt="Path 459" />
              <img class="path-460-p3AYHx" src="img/path-111@1x.png" alt="Path 460" />
            </div>
            <div class="pin-AKXx7v">
              <img class="path-461-xXvfqF" src="img/path-376@1x.png" alt="Path 461" />
              <div class="ellipse-23-xXvfqF"></div>
            </div>
            <div class="box-AKXx7v">
              <img class="rectangle-80-9yJ4Y3" src="img/rectangle-12@1x.png" alt="Rectangle 80" />
            </div>
          </div>
        </div>
        <a href="/home">
          <div class="new-lable-button-RMVKx3">
            <div class="group-375-ArBPaq smart-layers-pointers">
              <div class="green-button-new-lable-HWiFg0"></div>
              <div class="x-HWiFg0 smart-layers-pointers">
                <img class="path-464-kd600B" src="img/path-464-11-1x-png@1x.png" alt="Path 464" />
                <img class="path-465-kd600B" src="img/path-465-10-1x-png@1x.png" alt="Path 465" />
              </div>
              <div class="new-lable-HWiFg0 lato-normal-white-39-8px">New lable</div>
            </div>
          </div></a
        ><a href="/general-lable">
          <div class="general-box-RMVKx3 smart-layers-pointers animate-enter" show-on-scroll>
            <div class="gcircle-XBrqx5 gcircle"></div>
            <div class="fcircle"></div>
            <h1 class="title-XBrqx5 lato-black-white-41-8px">General</h1>
            <div class="box-icon-XBrqx5 smart-layers-pointers">
              <div class="group-234-4IpfF8">
                <img class="path-429-dXe9Wx" src="img/path-429@1x.png" alt="Path 429" />
              </div>
              <div class="group-235-4IpfF8">
                <img class="path-430-nETCo6" src="img/path-430@1x.png" alt="Path 430" />
              </div>
              <div class="group-236-4IpfF8">
                <img class="path-431-4qAdN9" src="img/path-431@1x.png" alt="Path 431" />
              </div>
              <div class="group-237-4IpfF8">
                <img class="path-432-aONxUo" src="img/path-432@1x.png" alt="Path 432" />
                <img class="path-433-aONxUo" src="img/path-433@1x.png" alt="Path 433" />
                <img class="path-434-aONxUo" src="img/path-307@1x.png" alt="Path 434" />
              </div>
              <div class="group-238-4IpfF8">
                <img class="path-435-NYwozz" src="img/path-435@1x.png" alt="Path 435" />
              </div>
              <div class="group-239-4IpfF8">
                <img class="path-436-RxUuEm" src="img/path-436@1x.png" alt="Path 436" />
                <img class="path-437-RxUuEm" src="img/path-307@1x.png" alt="Path 437" />
              </div>
              <div class="group-240-4IpfF8">
                <img class="path-438-pZC7LR" src="img/path-438@1x.png" alt="Path 438" />
              </div>
              <div class="group-241-4IpfF8">
                <img class="path-439-xcYBxY" src="img/path-307@1x.png" alt="Path 439" />
              </div>
              <img class="path-440-4IpfF8" src="img/path-440@1x.png" alt="Path 440" />
              <div class="group-242-4IpfF8">
                <img class="path-441-wTO7GB" src="img/path-441@1x.png" alt="Path 441" />
                <img class="path-442-wTO7GB" src="img/path-442@1x.png" alt="Path 442" />
              </div>
              <div class="group-243-4IpfF8">
                <img class="path-443-x6ofhh" src="img/path-307@1x.png" alt="Path 443" />
              </div>
              <h1 class="button-title"></h1>
            </div></div></a
        ><a href="/fragile-lable">
          <div class="fragile-box-RMVKx3 smart-layers-pointers animate-enter1" show-on-scroll>
            <div class="gcircle-EKEozL gcircle"></div>
            <div class="fcircle"></div>
            <div class="fragile-icon-EKEozL smart-layers-pointers">
              <img class="path-444-lD2q1W" src="img/path-444@1x.png" alt="Path 444" />
              <div class="group-244-lD2q1W">
                <img class="path-445-NQzC3Q" src="img/path-445@1x.png" alt="Path 445" />
                <img class="path-446-NQzC3Q" src="img/path-446@1x.png" alt="Path 446" />
              </div>
            </div>
            <div class="fragile-EKEozL lato-black-white-41-8px">Fragile</div>
          </div></a
        ><a href="/hazard-lable">
          <div class="hazard-box-RMVKx3 smart-layers-pointers animate-enter2" show-on-scroll>
            <div class="gcircle-zKE9YF gcircle"></div>
            <div class="hcircle-zKE9YF"></div>
            <div class="hazard-icon-zKE9YF smart-layers-pointers">
              <img class="path-447-ECi3HR" src="img/path-447@1x.png" alt="Path 447" />
              <div class="group-245-ECi3HR">
                <div class="rectangle-78-pu7Z9o"></div>
                <div class="ellipse-22-pu7Z9o"></div>
              </div>
              <div class="group-246-ECi3HR">
                <img class="path-448-mh5IbX" src="img/path-448@1x.png" alt="Path 448" />
                <img class="path-449-mh5IbX" src="img/path-449@1x.png" alt="Path 449" />
                <img class="path-450-mh5IbX" src="img/path-450@1x.png" alt="Path 450" />
                <img class="path-451-mh5IbX" src="img/path-451@1x.png" alt="Path 451" />
              </div>
            </div>
            <div class="hazard-zKE9YF lato-black-white-41-8px">Hazard</div>
          </div></a
        >
        <a href="/search">
          <div class="search-bar-RMVKx3 smart-layers-pointers">
            <a href="/search" onclick="window.event.stopPropagation()"> <div class="search-box-mLEEJP"></div></a
            ><img
              class="search-icon-mLEEJP smart-layers-pointers"
              src="img/search-icon-11-1x-png-1x-png@1x.png"
              alt="search icon"
            />
            <input
              class="seach-for-a-specific-lable-mLEEJP lato-black-white-30px"
              name="seach-for-a-specific-lable-222"
              placeholder="Search for a category, label, or sort by date ..."
              type="text"
              required
            /></div
        ></a>
      </div>
    </div>

    <a href="/care-lable">
      <div class="care-box-RMVKx3 smart-layers-pointers animate-enter3" show-on-scroll>
        <div class="gcircle-gray gcircle">
          <img class="care-icon-image" src="img/insurance-icon.png" alt="Care Icon" />
        </div>
        <div class="care-text">Care</div>
      </div>
    </a>
    
    <!-- Labels Section -->
    <div class="cards">
      <% labels.forEach(function(label) { %>
              <% if (label.category_id === 3) { %>
              <%- include('general-complete', { label: { label_id: label.label_id, label_name: label.label_name, qr_data: label.qr_code_data, category_id: label.category_id } }) %>
          <% } else if (label.category_id === 2) { %>
              <%- include('hazard-comple', { label: { label_id: label.label_id, label_name: label.label_name, qr_data: label.qr_code_data, category_id: label.category_id } }) %>
          <% } else if (label.category_id === 1) { %>
              <%- include('fragile-comple', { label: { label_id: label.label_id, label_name: label.label_name, qr_data: label.qr_code_data, category_id: label.category_id } }) %>
          <% } %>
      <% }); %>
    </div>
      <!-- profile and sign out options -->
      <div class="popup-container">
        <label class="popup">
            <input type="checkbox" />
            <div tabindex="0" class="burger">
                <svg
                viewBox="0 0 24 24"
                fill="white"
                height="20"
                width="20"
                xmlns="http://www.w3.org/2000/svg"
                >
                <path
                    d="M12 2c2.757 0 5 2.243 5 5.001 0 2.756-2.243 5-5 5s-5-2.244-5-5c0-2.758 2.243-5.001 5-5.001zm0-2c-3.866 0-7 3.134-7 7.001 0 3.865 3.134 7 7 7s7-3.135 7-7c0-3.867-3.134-7.001-7-7.001zm6.369 13.353c-.497.498-1.057.931-1.658 1.302 2.872 1.874 4.378 5.083 4.972 7.346h-19.387c.572-2.29 2.058-5.503 4.973-7.358-.603-.374-1.162-.811-1.658-1.312-4.258 3.072-5.611 8.506-5.611 10.669h24c0-2.142-1.44-7.557-5.631-10.647z"
                ></path>
                </svg>
            </div>
            <nav class="popup-window">
                <legend><%= userName %></legend>
                <ul>
                <li>
                    <!-- Link to deactivate -->
                        <button>
                        <svg
                            width="14"
                            height="14"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="1.2"
                            stroke-linecap="round"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                            d="M19 4v6.406l-3.753 3.741-6.463-6.462 3.7-3.685h6.516zm2-2h-12.388l1.497 1.5-4.171 4.167 9.291 9.291 4.161-4.193 1.61 1.623v-12.388zm-5 4c.552 0 1 .449 1 1s-.448 1-1 1-1-.449-1-1 .448-1 1-1zm0-1c-1.104 0-2 .896-2 2s.896 2 2 2 2-.896 2-2-.896-2-2-2zm6.708.292l-.708.708v3.097l2-2.065-1.292-1.74zm-12.675 9.294l-1.414 1.414h-2.619v2h-2v2h-2v-2.17l5.636-5.626-1.417-1.407-6.219 6.203v5h6v-2h2v-2h2l1.729-1.729-1.696-1.685z"
                            ></path>
                        </svg>
                        <span>Deactivate account</span>
                        </button>
                </li>
                <li>
                    <!-- Link to logout -->
                    <a href="/logout" style="text-decoration: none; color: inherit;">
                        <button>
                        <svg
                            width="14"
                            height="14"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="1"
                            stroke-linecap="round"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                            d="M2.598 9h-1.055c1.482-4.638 5.83-8 10.957-8 6.347 0 11.5 5.153 11.5 11.5s-5.153 11.5-11.5 11.5c-5.127 0-9.475-3.362-10.957-8h1.055c1.443 4.076 5.334 7 9.902 7 5.795 0 10.5-4.705 10.5-10.5s-4.705-10.5-10.5-10.5c-4.568 0-8.459 2.923-9.902 7zm12.228 3l-4.604-3.747.666-.753 6.112 5-6.101 5-.679-.737 4.608-3.763h-14.828v-1h14.826z"
                            ></path>
                        </svg>
                        <span>Logout</span>
                        </button>
                    </a>
                </li>
                </ul>
            </nav>
            </label>
        </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
    <script src="../src/helpers/printLable.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function() {
          // Attach event listeners to print buttons
          document.querySelectorAll('.print-button').forEach(button => {
              button.addEventListener('click', function () {
                  const labelId = this.getAttribute('data-label-id');
                  const categoryId = this.getAttribute('data-category-id');
    
                  console.log('Label ID:', labelId);
                  console.log('Category ID:', categoryId);
    
                  // Fetch the image from the server
                  fetch(`/generate-image?labelId=${labelId}&category_id=${categoryId}`)
                      .then(response => response.blob())
                      .then(blob => {
                          // Use FileSaver.js to prompt for the download
                          saveAs(blob, `label-${labelId}.png`);
                      })
                      .catch(error => console.error('Error downloading image:', error));
              });
          });
      });

      function ShowOnScroll() {
        this.toShow = [];
        this.nextEventY = undefined;
      }

      ShowOnScroll.prototype.show = function (e) {
        e.style.display = "";
      };

      ShowOnScroll.prototype.hide = function (e) {
        e.style.display = "none";
      };

      ShowOnScroll.prototype.getTop = function (e) {
        if (e.Top != undefined && e.Top != 0) {
          return e.Top;
        }
        var top = 0;
        var iter = e;
        do {
          top += iter.offsetTop || 0;
          iter = iter.offsetParent;
        } while (iter);
        e.Top = top;
        return top;
      };

      ShowOnScroll.prototype.onScroll = function () {
        var screenBottom = window.pageYOffset + window.innerHeight;
        if (this.nextEventY == undefined || this.nextEventY > screenBottom) {
          return;
        }
        this.nextEventY = undefined;
        for (var i = 0; i < this.toShow.length; i++) {
          var e = this.toShow[i];
          var top = this.getTop(e);
          if (top < screenBottom) {
            this.show(e);
            this.toShow.shift();
            i--;
          } else {
            this.nextEventY = top;
            break;
          }
        }
      };

      ShowOnScroll.prototype.resetScrolling = function () {
        // Clear state
        var screenBottom = window.pageYOffset + window.innerHeight;
        for (var i = 0; i < this.toShow.length; i++) {
          var e = this.toShow[i];
          this.show(e);
        }
        this.toShow = [];
        this.nextEventY == undefined;

        // Collect items
        var itemsToShowOnScroll = Array.prototype.slice.call(document.getElementsByTagName("*"));
        itemsToShowOnScroll = itemsToShowOnScroll.filter(function (e) {
          return e.getAttribute("show-on-scroll") != undefined;
        });
        var getTop = this.getTop;
        itemsToShowOnScroll.sort(function (a, b) {
          return getTop(a) - getTop(b);
        });
        for (var i = 0; i < itemsToShowOnScroll.length; i++) {
          var e = itemsToShowOnScroll[i];
          var top = this.getTop(e);
          if (top < screenBottom) {
            continue;
          }
          this.toShow.push(e);
          this.hide(e);
          this.nextEventY = this.nextEventY != undefined ? this.nextEventY : top;
        }
      };

      ShowOnScroll.prototype.handleEvent = function (e) {
        switch (e.type) {
          case "scroll":
            this.onScroll();
            break;
          case "resize":
            this.resetScrolling();
            break;
        }
      };

      ShowOnScroll.prototype.init = function () {
        this.resetScrolling();
        window.addEventListener("scroll", this);
        window.addEventListener("resize", this);
      };

      // After anima-src
      setTimeout(function () {
        var instShowOnScroll = new ShowOnScroll();
        instShowOnScroll.init();
      }, 250);
    </script>
  </body>
</html>
