<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1920, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="css/signup.css" />
    <link rel="stylesheet" type="text/css" href="css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="css/globals.css" />
    <title>Signup</title>
    <link rel="icon" href="img/favicon.png" sizes="64x64" type="image/png">
  </head>
  <body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="signup" />
    <div class="container-center-horizontal">
      <div class="signup screen">
        <div class="bg-mLm6Nf bg">
          <img class="bg-4brZKL bg" src="img/bg-1@1x.png" alt="BG" />
          <div class="person-4brZKL animate-enter12" show-on-scroll>
            <div class="group-266-8xghQM">
              <img class="path-476-7NsCDE" src="img/path-476@1x.png" alt="Path 476" />
              <img class="line-4-7NsCDE" src="img/line-4@1x.png" alt="Line 4" />
              <img class="line-5-7NsCDE" src="img/line-5@1x.png" alt="Line 5" />
              <img class="line-6-7NsCDE" src="img/line-6@1x.png" alt="Line 6" />
              <img class="line-7-7NsCDE" src="img/line-7@1x.png" alt="Line 7" />
              <img class="line-8-7NsCDE" src="img/line-8@1x.png" alt="Line 8" />
            </div>
            <div class="group-267-8xghQM">
              <img class="path-477-ccKGxX" src="img/path-477@1x.png" alt="Path 477" />
              <img class="line-9-ccKGxX" src="img/line-9@1x.png" alt="Line 9" />
              <img class="line-10-ccKGxX" src="img/line-10@1x.png" alt="Line 10" />
              <img class="line-11-ccKGxX" src="img/line-11@1x.png" alt="Line 11" />
              <img class="line-12-ccKGxX" src="img/line-12@1x.png" alt="Line 12" />
              <img class="line-13-ccKGxX" src="img/line-13@1x.png" alt="Line 13" />
            </div>
            <div class="group-279-8xghQM">
              <div class="rectangle-83-Sd8ybE"></div>
              <img class="path-478-Sd8ybE" src="img/path-478@1x.png" alt="Path 478" />
              <img class="path-479-Sd8ybE" src="img/path-479@1x.png" alt="Path 479" />
              <img class="path-480-Sd8ybE" src="img/path-480@1x.png" alt="Path 480" />
              <div class="group-268-Sd8ybE">
                <img class="path-481-Z4OXX7" src="img/path-481@1x.png" alt="Path 481" />
              </div>
              <img class="path-482-Sd8ybE" src="img/path-482@1x.png" alt="Path 482" />
              <img class="path-483-Sd8ybE" src="img/path-483@1x.png" alt="Path 483" />
              <img class="path-484-Sd8ybE" src="img/path-484@1x.png" alt="Path 484" />
              <div class="group-269-Sd8ybE">
                <img class="path-485-0he1E8" src="img/path-485@1x.png" alt="Path 485" />
              </div>
              <img class="line-14-Sd8ybE" src="img/line-14@1x.png" alt="Line 14" />
              <div class="rectangle-84-Sd8ybE"></div>
              <img class="path-486-Sd8ybE" src="img/path-486@1x.png" alt="Path 486" />
              <div class="rectangle-85-Sd8ybE"></div>
              <div class="group-271-Sd8ybE">
                <div class="rectangle-86-xTF2Ry"></div>
                <div class="group-270-xTF2Ry">
                  <div class="rectangle-87-i5MxVP"></div>
                </div>
                <img class="path-487-xTF2Ry" src="img/path-487@1x.png" alt="Path 487" />
              </div>
              <div class="group-273-Sd8ybE">
                <div class="rectangle-88-PNS7Iw"></div>
                <div class="group-272-PNS7Iw">
                  <div class="rectangle-89-ecif7M"></div>
                </div>
                <img class="path-488-PNS7Iw" src="img/path-487@1x.png" alt="Path 488" />
              </div>
              <div class="group-274-Sd8ybE">
                <div class="rectangle-90-gSWy1O"></div>
                <img class="path-489-gSWy1O" src="img/path-489@1x.png" alt="Path 489" />
              </div>
              <div class="group-276-Sd8ybE">
                <div class="rectangle-91-Iyh7BB"></div>
                <div class="group-275-Iyh7BB">
                  <div class="rectangle-92-mCnExl"></div>
                </div>
                <div class="rectangle-93-Iyh7BB"></div>
                <div class="rectangle-94-Iyh7BB"></div>
                <div class="rectangle-95-Iyh7BB"></div>
              </div>
              <div class="group-277-Sd8ybE">
                <div class="rectangle-96-BdNHpf"></div>
                <img class="path-490-BdNHpf" src="img/path-490@1x.png" alt="Path 490" />
              </div>

              <div class="rectangle-97-Sd8ybE"></div>
              <div class="rectangle-98-Sd8ybE"></div>
              <div class="group-278-Sd8ybE">
                <div class="rectangle-99-tIdjkJ"></div>
                <div class="rectangle-100-tIdjkJ"></div>
                <div class="rectangle-101-tIdjkJ"></div>
                <div class="rectangle-102-tIdjkJ"></div>
                <div class="rectangle-103-tIdjkJ"></div>
                <div class="rectangle-104-tIdjkJ"></div>
                <div class="rectangle-105-tIdjkJ"></div>
                <div class="rectangle-106-tIdjkJ"></div>
                <div class="rectangle-107-tIdjkJ"></div>
                <div class="rectangle-108-tIdjkJ"></div>
                <div class="rectangle-109-tIdjkJ"></div>
                <div class="rectangle-110-tIdjkJ"></div>
                <div class="rectangle-111-tIdjkJ"></div>
              </div>
            </div>

            <div class="group-282-8xghQM">
              <div class="group-280-IFBivx">
                <div class="ellipse-25-s6E17H"></div>
              </div>
              <div class="group-281-IFBivx">
                <div class="ellipse-26-H4CdAp"></div>
              </div>
            </div>

            <div class="group-298-8xghQM">
              <div class="group-283-Naja7f">
                <img class="path-491-jMvghS" src="img/path-491@1x.png" alt="Path 491" />
                <div class="ellipse-27-jMvghS"></div>
                <div class="ellipse-28-jMvghS"></div>
                <div class="ellipse-29-jMvghS"></div>
              </div>

              <div class="group-284-Naja7f">
                <img class="path-492-tQL0ST" src="img/path-492@1x.png" alt="Path 492" />
                <div class="ellipse-30-tQL0ST"></div>
                <div class="ellipse-31-tQL0ST"></div>
                <div class="ellipse-32-tQL0ST"></div>
              </div>
              <img class="path-493-Naja7f" src="img/path-493@1x.png" alt="Path 493" />
              <div class="rectangle-112-Naja7f"></div>
              <div class="rectangle-113-Naja7f"></div>
              <div class="rectangle-114-Naja7f"></div>
              <div class="group-285-Naja7f">
                <img class="path-494-llaOOh" src="img/path-494@1x.png" alt="Path 494" />
              </div>

              <div class="rectangle-115-Naja7f"></div>
              <div class="rectangle-116-Naja7f"></div>
              <div class="rectangle-117-Naja7f"></div>
              <div class="rectangle-118-Naja7f"></div>
              <div class="rectangle-119-Naja7f"></div>
              <img class="path-495-Naja7f" src="img/path-495@1x.png" alt="Path 495" />
              <div class="group-287-Naja7f">
                <img class="group-286-u8S14s" src="img/group-286@1x.png" alt="Group 286" />
              </div>

              <div class="rectangle-120-Naja7f"></div>
              <div class="rectangle-121-Naja7f"></div>
              <div class="rectangle-122-Naja7f"></div>
              <div class="group-288-Naja7f">
                <img class="path-500-AAlcyz" src="img/path-500@1x.png" alt="Path 500" />
                <div class="ellipse-33-AAlcyz"></div>
                <div class="ellipse-34-AAlcyz"></div>
                <div class="ellipse-35-AAlcyz"></div>
              </div>

              <div class="group-289-Naja7f">
                <img class="path-501-hTxByU" src="img/path-501@1x.png" alt="Path 501" />
                <div class="ellipse-36-hTxByU"></div>
                <div class="ellipse-37-hTxByU"></div>
                <div class="ellipse-38-hTxByU"></div>
              </div>

              <div class="group-297-Naja7f">
                <div class="group-296-sMeGVh">
                  <div class="group-295-xcJ7k4">
                    <div class="group-290-8SLLoU">
                      <div class="rectangle-123-Lbi6Lt"></div>
                      <div class="rectangle-124-Lbi6Lt"></div>
                      <div class="rectangle-125-Lbi6Lt"></div>
                      <div class="rectangle-126-Lbi6Lt"></div>
                      <div class="rectangle-127-Lbi6Lt"></div>
                      <div class="rectangle-128-Lbi6Lt"></div>
                      <div class="rectangle-129-Lbi6Lt"></div>
                    </div>
                    <div class="group-291-8SLLoU">
                      <div class="rectangle-130-jCvZhw"></div>
                      <div class="rectangle-131-jCvZhw"></div>
                      <div class="rectangle-132-jCvZhw"></div>
                      <div class="rectangle-133-jCvZhw"></div>
                    </div>
                    <div class="group-292-8SLLoU">
                      <div class="rectangle-134-wNuAng"></div>
                      <div class="rectangle-135-wNuAng"></div>
                      <div class="rectangle-136-wNuAng"></div>
                      <div class="rectangle-137-wNuAng"></div>
                    </div>
                    <div class="group-293-8SLLoU">
                      <div class="rectangle-138-3vshs7"></div>
                      <div class="rectangle-139-3vshs7"></div>
                      <div class="rectangle-140-3vshs7"></div>
                      <div class="rectangle-141-3vshs7"></div>
                    </div>
                    <div class="group-294-8SLLoU">
                      <div class="rectangle-142-3PgTc4"></div>
                      <div class="rectangle-143-3PgTc4"></div>
                      <div class="rectangle-144-3PgTc4"></div>
                      <div class="rectangle-145-3PgTc4"></div>
                    </div>
                  </div>
                </div>
                <div class="rectangle-147-sMeGVh"></div>
              </div>
            </div>

            <div class="group-299-8xghQM">
              <img class="path-502-RdjQJm" src="img/path-502@1x.png" alt="Path 502" />
              <img class="path-503-RdjQJm" src="img/path-503@1x.png" alt="Path 503" />
            </div>

            <div class="group-300-8xghQM"><img class="path-504-Qf3Tp4" src="img/path-504@1x.png" alt="Path 504" /></div>
            <div class="group-301-8xghQM"><img class="path-505-xlMadP" src="img/path-505@1x.png" alt="Path 505" /></div>
            <div class="group-302-8xghQM"><img class="path-506-pL2xsl" src="img/path-506@1x.png" alt="Path 506" /></div>
            <div class="group-303-8xghQM">
              <img class="path-507-x1ePo9" src="img/path-507@1x.png" alt="Path 507" />
              <img class="path-508-x1ePo9" src="img/path-508@1x.png" alt="Path 508" />
            </div>

            <div class="group-304-8xghQM"><img class="path-509-qrR3rS" src="img/path-509@1x.png" alt="Path 509" /></div>
            <div class="group-305-8xghQM"><img class="path-510-wXPxRm" src="img/path-510@1x.png" alt="Path 510" /></div>
            <div class="group-306-8xghQM">
              <img class="path-511-bejeDo" src="img/path-507@1x.png" alt="Path 511" />
              <img class="path-512-bejeDo" src="img/path-508@1x.png" alt="Path 512" />
            </div>

            <div class="group-307-8xghQM"><img class="path-513-XaoU56" src="img/path-513@1x.png" alt="Path 513" /></div>
            <div class="group-308-8xghQM">
              <img class="path-514-cENnmU" src="img/path-514@1x.png" alt="Path 514" />
              <img class="path-515-cENnmU" src="img/path-515@1x.png" alt="Path 515" />
            </div>
            
            <div class="group-309-8xghQM"><img class="path-516-x12MMr" src="img/path-516@1x.png" alt="Path 516" /></div>
            <div class="group-310-8xghQM">
              <img class="path-517-NbRljh" src="img/path-517@1x.png" alt="Path 517" />
              <div class="rectangle-148-NbRljh"></div>
              <img class="path-518-NbRljh" src="img/path-518@1x.png" alt="Path 518" />
              <img class="path-519-NbRljh" src="img/path-519@1x.png" alt="Path 519" />
              <img class="path-520-NbRljh" src="img/path-520@1x.png" alt="Path 520" />
              <img class="path-521-NbRljh" src="img/path-521@1x.png" alt="Path 521" />
              <img class="path-522-NbRljh" src="img/path-522@1x.png" alt="Path 522" />
            </div>
            <div class="group-311-8xghQM">
              <img class="path-523-7gkB1C" src="img/path-523@1x.png" alt="Path 523" />
              <div class="rectangle-149-7gkB1C"></div>
              <img class="path-524-7gkB1C" src="img/path-524@1x.png" alt="Path 524" />
              <img class="path-525-7gkB1C" src="img/path-525@1x.png" alt="Path 525" />
              <img class="path-526-7gkB1C" src="img/path-526@1x.png" alt="Path 526" />
              <img class="path-527-7gkB1C" src="img/path-527@1x.png" alt="Path 527" />
              <img class="path-528-7gkB1C" src="img/path-528@1x.png" alt="Path 528" />
            </div>
            <div class="group-312-8xghQM"><img class="path-529-tVYenE" src="img/path-529@1x.png" alt="Path 529" /></div>
            <div class="group-313-8xghQM"><img class="path-530-xEAvtx" src="img/path-530@1x.png" alt="Path 530" /></div>
            <div class="group-314-8xghQM">
              <img class="path-531-JOMt4r" src="img/path-531@1x.png" alt="Path 531" />
              <img class="line-15-JOMt4r" src="img/line-15@1x.png" alt="Line 15" />
            </div>
            <div class="group-315-8xghQM"><img class="path-532-f0Mrat" src="img/path-532@1x.png" alt="Path 532" /></div>
            <div class="group-316-8xghQM">
              <img class="path-533-8XqWi5" src="img/path-533@1x.png" alt="Path 533" />
              <img class="line-16-8XqWi5" src="img/line-16@1x.png" alt="Line 16" />
              <img class="path-534-8XqWi5" src="img/path-534@1x.png" alt="Path 534" />
            </div>
            <div class="group-317-8xghQM"><img class="path-535-kZQZ3K" src="img/path-535@1x.png" alt="Path 535" /></div>
            <div class="group-318-8xghQM">
              <img class="path-536-mNKBOt" src="img/path-536@1x.png" alt="Path 536" />
              <img class="path-537-mNKBOt" src="img/path-537@1x.png" alt="Path 537" />
              <img class="path-538-mNKBOt" src="img/path-538@1x.png" alt="Path 538" />
              <img class="path-539-mNKBOt" src="img/path-539@1x.png" alt="Path 539" />
            </div>
            <div class="group-319-8xghQM">
              <img class="path-540-ukI7qA" src="img/path-540@1x.png" alt="Path 540" />
              <img class="line-17-ukI7qA" src="img/line-17@1x.png" alt="Line 17" />
              <img class="path-541-ukI7qA" src="img/path-541@1x.png" alt="Path 541" />
            </div>
            <div class="group-321-8xghQM">
              <div class="group-320-nAlMX3">
                <img class="path-542-QwJZ8y" src="img/path-542@1x.png" alt="Path 542" />
                <div class="ellipse-39-QwJZ8y"></div>
                <div class="ellipse-40-QwJZ8y"></div>
                <img class="path-543-QwJZ8y" src="img/path-543@1x.png" alt="Path 543" />
              </div>
            </div>
            <div class="group-322-8xghQM">
              <img class="path-544-PUDhkI" src="img/path-544@1x.png" alt="Path 544" />
              <img class="line-18-PUDhkI" src="img/line-18@1x.png" alt="Line 18" />
              <img class="line-19-PUDhkI" src="img/line-18@1x.png" alt="Line 19" />
              <img class="line-20-PUDhkI" src="img/line-18@1x.png" alt="Line 20" />
              <img class="path-545-PUDhkI" src="img/path-545@1x.png" alt="Path 545" />
            </div>
            <div class="group-323-8xghQM">
              <img class="path-546-H12QFh" src="img/path-546@1x.png" alt="Path 546" />
              <img class="path-547-H12QFh" src="img/path-547@1x.png" alt="Path 547" />
              <img class="path-548-H12QFh" src="img/path-548@1x.png" alt="Path 548" />
            </div>
            <div class="group-325-8xghQM">
              <div class="group-324-12O1WM">
                <img class="path-549-M2UQ4p" src="img/path-549@1x.png" alt="Path 549" />
                <img class="path-550-M2UQ4p" src="img/path-550@1x.png" alt="Path 550" />
                <img class="path-551-M2UQ4p" src="img/path-551@1x.png" alt="Path 551" />
                <img class="path-552-M2UQ4p" src="img/path-552@1x.png" alt="Path 552" />
              </div>
            </div>
            <div class="group-326-8xghQM">
              <img class="path-553-G0lVvr" src="img/path-553@1x.png" alt="Path 553" />
              <img class="path-554-G0lVvr" src="img/path-554@1x.png" alt="Path 554" />
              <img class="path-555-G0lVvr" src="img/path-555@1x.png" alt="Path 555" />
            </div>
            <div class="group-327-8xghQM"><img class="path-556-vVC2QW" src="img/path-556@1x.png" alt="Path 556" /></div>
            <div class="group-329-8xghQM">
              <div class="group-328-xnAlR6">
                <img class="path-557-AcczFx" src="img/path-557@1x.png" alt="Path 557" />
                <img class="path-558-AcczFx" src="img/path-558@1x.png" alt="Path 558" />
                <img class="path-559-AcczFx" src="img/path-559@1x.png" alt="Path 559" />
                <img class="path-560-AcczFx" src="img/path-560@1x.png" alt="Path 560" />
                <img class="line-21-AcczFx" src="img/line-21@1x.png" alt="Line 21" />
                <img class="line-22-AcczFx" src="img/line-22@1x.png" alt="Line 22" />
              </div>
              <img class="path-561-xnAlR6" src="img/path-561@1x.png" alt="Path 561" />
            </div>
            <div class="group-331-8xghQM">
              <div class="group-330-4tAeDg">
                <img class="path-562-Tt0Sti" src="img/path-562@1x.png" alt="Path 562" />
                <img class="path-563-Tt0Sti" src="img/path-563@1x.png" alt="Path 563" />
                <img class="path-564-Tt0Sti" src="img/path-564@1x.png" alt="Path 564" />
                <img class="path-565-Tt0Sti" src="img/path-565@1x.png" alt="Path 565" />
                <img class="line-23-Tt0Sti" src="img/line-23@1x.png" alt="Line 23" />
                <img class="line-24-Tt0Sti" src="img/line-24@1x.png" alt="Line 24" />
              </div>
              <img class="path-566-4tAeDg" src="img/path-566@1x.png" alt="Path 566" />
            </div>
            <div class="group-332-8xghQM"><img class="path-567-MTFtfx" src="img/path-567@1x.png" alt="Path 567" /></div>
            <div class="group-334-8xghQM">
              <div class="group-333-JY3lKD">
                <img class="path-568-mF7x1P" src="img/path-542@1x.png" alt="Path 568" />
                <div class="ellipse-41-mF7x1P"></div>
                <img class="path-569-mF7x1P" src="img/path-569@1x.png" alt="Path 569" />
                <img class="path-570-mF7x1P" src="img/path-543@1x.png" alt="Path 570" />
              </div>
            </div>
            <div class="group-335-8xghQM">
              <div class="rectangle-150-mxQQsQ"></div>
              <div class="rectangle-151-mxQQsQ"></div>
              <div class="rectangle-152-mxQQsQ"></div>
              <div class="rectangle-153-mxQQsQ"></div>
              <img class="line-25-mxQQsQ" src="img/line-25@1x.png" alt="Line 25" />
              <img class="line-26-mxQQsQ" src="img/line-26@1x.png" alt="Line 26" />
            </div>
            <div class="group-336-8xghQM">
              <div class="rectangle-154-jj4R7z"></div>
              <div class="rectangle-155-jj4R7z"></div>
              <div class="rectangle-156-jj4R7z"></div>
              <div class="rectangle-157-jj4R7z"></div>
              <img class="line-27-jj4R7z" src="img/line-27@1x.png" alt="Line 27" />
              <img class="line-28-jj4R7z" src="img/line-28@1x.png" alt="Line 28" />
            </div>
          </div>
          <img class="text-4brZKL animate-enter13" show-on-scroll src="img/text-1@1x.png" alt="Text" />
          <div class="logo-4brZKL animate-enter14" show-on-scroll>
            <div class="m-4UbnSc"><img class="path-616-Ntivc8" src="img/path-616@1x.png" alt="Path 616" /></div>
            <div class="v-4UbnSc"><img class="path-617-E1mnG8" src="img/path-617@1x.png" alt="Path 617" /></div>
            <div class="e-4UbnSc"><img class="path-618-o1vkmn" src="img/path-618@1x.png" alt="Path 618" /></div>
            <div class="group-339-4UbnSc">
              <img class="rectangle-164-4cLKFJ" src="img/rectangle-164@1x.png" alt="Rectangle 164" />
            </div>
            <div class="group-340-4UbnSc">
              <img class="path-619-UYDYZ7" src="img/path-619@1x.png" alt="Path 619" />
              <img class="path-620-UYDYZ7" src="img/path-620@1x.png" alt="Path 620" />
              <img class="path-621-UYDYZ7" src="img/path-621@1x.png" alt="Path 621" />
            </div>
            <div class="pin-4UbnSc">
              <img class="path-622-rxzN9c" src="img/path-622@1x.png" alt="Path 622" />
              <div class="ellipse-42-rxzN9c"></div>
            </div>
            <div class="box-4UbnSc">
              <img class="rectangle-165-xOZ9UB" src="img/rectangle-165@1x.png" alt="Rectangle 165" />
            </div>
          </div>
        </div>
        <div class="sign-up-elems-mLm6Nf animate-enter16" show-on-scroll>
          <div class="shape-g47gbS">
            <div class="shape-behind-xeSEZx"></div>
            <h1 class="sign-up-titel-xeSEZx">Sign up</h1>
          </div>
          <a href="/login">
            <div class="sign-in-button-g47gbS smart-layers-pointers">
              <div class="group-379-x1jiQe">
                <div class="rectangle-189-JDMBPb"></div>
                <div class="sign-in-JDMBPb lato-black-white-46-8px">Sign in</div>
              </div>
            </div></a
          >
          <div class="already-have-account-g47gbS">
            <img class="path-608-pWZq7L" src="img/path-608@1x.png" alt="Path 608" />
            <img class="path-609-pWZq7L" src="img/path-609@1x.png" alt="Path 609" />
            <p class="already-have-an-account-pWZq7L">Already have an account ?!</p>
          </div>
          <a href="/verify">
            <div class="signup-button-g47gbS smart-layers-pointers">
              <div class="group-378-41xD7M">
                <div class="rectangle-188-Du60bE smart-layers-pointers animate-enter15"></div>
                <div class="sign-up-Du60bE lato-black-white-46-8px">Sign up</div>
              </div>
            </div></a
          >

          <form action="/signup" method="POST">
          <!-- Display error message -->
          <% if (message) { %>
            <div class="error-message">
              <p class="error-text"><%= message %></p> <!-- Keep it simple without adding inline styles -->
            </div>
          <% } %>             

          <!-- Name Field -->
          <div class="name-field-g47gbS">
            <div class="rectangle-163-VUbnxC"></div>
            <img class="path-615-VUbnxC" src="img/path-615@1x.png" alt="Path 615" />
            <input
              class="your-name-VUbnxC robotoslab-bold-white-18px"
              name="your-name2"
              placeholder="Your Name"
              type="text"
              required
            />
          </div>

          <!-- Email Field -->
          <div class="email-field-g47gbS">
            <div class="rectangle-162-ZV8pzL"></div>
            <img class="path-614-ZV8pzL" src="img/path-614@1x.png" alt="Path 614" />
            <input
              class="your-email-ZV8pzL robotoslab-bold-white-18px"
              name="your-email2"
              placeholder="Your Email"
              type="email"
              required
            />
          </div>
                   
          <!-- Password Field -->
          <div class="password-field-g47gbS">
            <div class="rectangle-161-5TCVe9"></div>
            <div class="group-338-5TCVe9">
              <img class="path-612-Ov09WG" src="img/path-612@1x.png" alt="Path 612" />
              <img class="path-613-Ov09WG" src="img/path-611@1x.png" alt="Path 613" />
            </div>
            <input
              class="your-password-5TCVe9 robotoslab-bold-white-18px"
              name="your-password2"
              placeholder="Your Password"
              type="password"
              required
            />
          </div>

          <!-- Confirm Password Field -->
          <div class="verify-pass-g47gbS">
            <div class="rectangle-160-SnUr8i"></div>
            <div class="group-337-SnUr8i">
              <img class="path-610-DOQxQj" src="img/path-610@1x.png" alt="Path 610" />
              <img class="path-611-DOQxQj" src="img/path-611@1x.png" alt="Path 611" />
            </div>
            <input
              class="confirm-password-SnUr8i robotoslab-bold-white-18px"
              name="confirm-password2"
              placeholder="Confirm Password"
              type="password"
              required
            />
          </div>
          
          <!-- Use Existing Signup Button -->
          <a href="#" onclick="document.forms[0].submit(); return false;">
            <div class="signup-button-g47gbS smart-layers-pointers">
              <div class="group-378-41xD7M">
                <div class="rectangle-188-Du60bE smart-layers-pointers animate-enter15"></div>
                <div class="sign-up-Du60bE lato-black-white-46-8px">Sign up</div>
              </div>
            </div>
          </a>
          </form>

        </div>
      </div>
    </div>

          <!-- Social Media Signup Button -->
          <a href="/auth/google" class="btn">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              style="display:inline-block;vertical-align:middle"
              role="img"
              y="128"
              x="128"
              fill="#f44c1e"
              viewBox="0 0 24 24"
              height="40px"
              width="40px"
            >
              <path
                d="M21.456 10.154c.123.659.19 1.348.19 2.067c0 5.624-3.764 9.623-9.449 9.623A9.841 9.841 0 0 1 2.353 12a9.841 9.841 0 0 1 9.844-9.844c2.658 0 4.879.978 6.583 2.566l-2.775 2.775V7.49c-1.033-.984-2.344-1.489-3.808-1.489c-3.248 0-5.888 2.744-5.888 5.993c0 3.248 2.64 5.998 5.888 5.998c2.947 0 4.953-1.685 5.365-3.999h-5.365v-3.839h9.26Z"
              ></path>
            </svg>
          </a>
          

    <script>
      document.querySelector('form').addEventListener('submit', function(e) {
        let name = document.querySelector("input[name='your-name2']").value.trim();
        let email = document.querySelector("input[name='your-email2']").value.trim();
        let password = document.querySelector("input[name='your-password2']").value;
        let confirmPassword = document.querySelector("input[name='confirm-password2']").value;

        // Validation for form fields
        if (!name || !email || !password || !confirmPassword) {
          e.preventDefault(); // Prevent form submission
          alert("Please fill out all fields.");
          return;
        }

        // Email validation
        let emailPattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$/;
        if (!emailPattern.test(email)) {
          e.preventDefault();
          alert("Please enter a valid email address.");
          return;
        }

        // Password validation
        let passwordPattern = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{6,}$/;
        if (!passwordPattern.test(password)) {
          e.preventDefault();
          alert("Password must be at least 6 characters long, include an uppercase letter, a lowercase letter, a number, and a special character.");
          return;
        }

        // Password and confirm password should match
        if (password !== confirmPassword) {
          e.preventDefault();
          alert("Passwords do not match.");
          return;
        }
      });
      
      function ShowOnScroll() {
        this.toShow = [];
        this.nextEventY = undefined;
      }

      ShowOnScroll.prototype.show = function (e) {
        e.style.display = "";
      };

      ShowOnScroll.prototype.hide = function (e) {
        e.style.display = "none";
      };

      ShowOnScroll.prototype.getTop = function (e) {
        if (e.Top != undefined && e.Top != 0) {
          return e.Top;
        }
        var top = 0;
        var iter = e;
        do {
          top += iter.offsetTop || 0;
          iter = iter.offsetParent;
        } while (iter);
        e.Top = top;
        return top;
      };

      ShowOnScroll.prototype.onScroll = function () {
        var screenBottom = window.pageYOffset + window.innerHeight;
        if (this.nextEventY == undefined || this.nextEventY > screenBottom) {
          return;
        }
        this.nextEventY = undefined;
        for (var i = 0; i < this.toShow.length; i++) {
          var e = this.toShow[i];
          var top = this.getTop(e);
          if (top < screenBottom) {
            this.show(e);
            this.toShow.shift();
            i--;
          } else {
            this.nextEventY = top;
            break;
          }
        }
      };

      ShowOnScroll.prototype.resetScrolling = function () {
        // Clear state
        var screenBottom = window.pageYOffset + window.innerHeight;
        for (var i = 0; i < this.toShow.length; i++) {
          var e = this.toShow[i];
          this.show(e);
        }
        this.toShow = [];
        this.nextEventY == undefined;

        // Collect items
        var itemsToShowOnScroll = Array.prototype.slice.call(document.getElementsByTagName("*"));
        itemsToShowOnScroll = itemsToShowOnScroll.filter(function (e) {
          return e.getAttribute("show-on-scroll") != undefined;
        });
        var getTop = this.getTop;
        itemsToShowOnScroll.sort(function (a, b) {
          return getTop(a) - getTop(b);
        });
        for (var i = 0; i < itemsToShowOnScroll.length; i++) {
          var e = itemsToShowOnScroll[i];
          var top = this.getTop(e);
          if (top < screenBottom) {
            continue;
          }
          this.toShow.push(e);
          this.hide(e);
          this.nextEventY = this.nextEventY != undefined ? this.nextEventY : top;
        }
      };

      ShowOnScroll.prototype.handleEvent = function (e) {
        switch (e.type) {
          case "scroll":
            this.onScroll();
            break;
          case "resize":
            this.resetScrolling();
            break;
        }
      };

      ShowOnScroll.prototype.init = function () {
        this.resetScrolling();
        window.addEventListener("scroll", this);
        window.addEventListener("resize", this);
      };

      // After anima-src
      setTimeout(function () {
        var instShowOnScroll = new ShowOnScroll();
        instShowOnScroll.init();
      }, 250);
    </script>
  </body>
</html>
