/* screen - edit-lable-general */

.edit-lable-general {
  background-color: var(--white);
  height: 56.25vw;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100.0vw;
}

.edit-lable-general .gb-bNFVPB {
  background-color: transparent;
  height: 58.44vw;
  left: -16.2vw;
  position: fixed;
  top: -0.05vw;
  width: 116.2vw;
}

.edit-lable-general .bg-style-1zGOpD {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  position: relative;
  top: 0.0vw;
  width: 100%;
}

.edit-lable-general .path-42-YRMWSM {
  background-color: transparent;
  height: calc(100.00% + 0.47vw);
  left: 15.99vw;
  object-fit: cover;
  position: absolute;
  top: 0.05vw;
  width: calc(100.00% - 13.49vw);
}

.edit-lable-general .path-43-YRMWSM {
  background-color: transparent;
  height: calc(100.00% + 0.31vw);
  left: calc(18.69% - 6.3vw);
  object-fit: cover;
  position: absolute;
  top: -0.26vw;
  width: 33.8vw;
}

.edit-lable-general .person-YRMWSM {
  background-color: transparent;
  height: calc(100.00% - 4.74vw);
  left: 0.05vw;
  object-fit: cover;
  position: absolute;
  top: 4.74vw;
  width: 53.7vw;
}

.edit-lable-general .arrow-YRMWSM {
  background-color: transparent;
  height: 6.2vw;
  left: calc(33.56% - 3.28vw);
  object-fit: cover;
  position: absolute;
  top: calc(23.11% - 1.41vw);
  width: 9.79vw;
}

.edit-lable-general .main-header-YRMWSM {
  background-color: var(--mine-shaft);
  border-radius: 0.0vw 0.0vw 2.6vw 2.6vw;
  box-shadow: 0.36vw 0.68vw 1.09vw #5e5e5e33;
  height: 7.34vw;
  left: 16.15vw;
  position: absolute;
  top: 0.0vw;
  width: calc(100.00% - 16.15vw);
}

.edit-lable-general .logo-YRMWSM {
  background-color: transparent;
  height: 5.73vw;
  left: calc(18.75% - 1.88vw);
  position: absolute;
  top: 2.03vw;
  width: 10.1vw;
}

.edit-lable-general .logo-cfRpnG {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  position: relative;
  top: 0.0vw;
  width: 100%;
}

.edit-lable-general .m-b057dm {
  background-color: transparent;
  height: 2.5vw;
  left: 0.0vw;
  position: absolute;
  top: 0.0vw;
  width: 2.6vw;
}

.edit-lable-general .path-49-L2VpBo {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.edit-lable-general .v-b057dm {
  background-color: transparent;
  height: 2.08vw;
  position: absolute;
  right: calc(46.93% - 0.99vw);
  top: 0.42vw;
  width: 2.08vw;
}

.edit-lable-general .path-50-E5wbIu {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.edit-lable-general .e-b057dm {
  background-color: transparent;
  height: 2.08vw;
  position: absolute;
  right: calc(23.66% - 0.47vw);
  top: 0.42vw;
  width: 2.03vw;
}

.edit-lable-general .path-51-wjY3oR {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.edit-lable-general .group-29-b057dm {
  background-color: transparent;
  height: calc(100.00% - 0.73vw);
  position: absolute;
  right: 0.0vw;
  top: 0.73vw;
  width: 8.49vw;
}

.edit-lable-general .rectangle-6-xBTdKg {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.edit-lable-general .group-30-b057dm {
  background-color: transparent;
  bottom: calc(42.37% - 0.42vw);
  height: 0.99vw;
  position: absolute;
  right: calc(36.29% - 1.09vw);
  width: 3.02vw;
}

.edit-lable-general .path-52-Vkg3rC {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: 0.99vw;
}

.edit-lable-general .path-53-Vkg3rC {
  background-color: transparent;
  height: 100%;
  object-fit: cover;
  position: absolute;
  right: calc(46.23% - 0.42vw);
  top: 0.05vw;
  width: 0.89vw;
}

.edit-lable-general .path-54-Vkg3rC {
  background-color: transparent;
  height: 100%;
  object-fit: cover;
  position: absolute;
  right: 0.0vw;
  top: 0.05vw;
  width: 0.89vw;
}

.edit-lable-general .pin-b057dm {
  background-color: transparent;
  height: 3.44vw;
  left: calc(30.47% - 0.73vw);
  position: absolute;
  top: 0.42vw;
  width: 2.34vw;
}

.edit-lable-general .path-55-238Czj {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.edit-lable-general .ellipse-4-238Czj {
  background-color: var(--bright-red);
  border-radius: 0.9vw;
  height: 1.77vw;
  left: 0.31vw;
  position: absolute;
  top: 0.26vw;
  width: calc(100.00% - 0.57vw);
}

.edit-lable-general .box-b057dm {
  background-color: transparent;
  height: 1.72vw;
  left: calc(31.64% - 0.62vw);
  position: absolute;
  top: 0.62vw;
  width: 1.93vw;
}

.edit-lable-general .rectangle-7-UxQ4vu {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  top: 0.05vw;
  width: 100%;
}

.edit-lable-general .new-lable-button-bNFVPB {
  background-color: transparent;
  cursor: pointer;
  height: 3.33vw;
  left: 30.47vw;
  position: fixed;
  top: 8.54vw;
  width: 12.92vw;
}

.edit-lable-general .group-375-rbZcRr {
  background-color: transparent;
  cursor: pointer;
  height: 100%;
  left: 0.0vw;
  pointer-events: auto;
  position: relative;
  top: 0.0vw;
  transition: all 0.2s ease;
  width: 100%;
}

.edit-lable-general .group-375-rbZcRr:hover {
  transform: scale(1.1);
}

.edit-lable-general .green-button-new-lable-pNSE9C {
  background-color: var(--green);
  border-radius: 0.83vw;
  height: 100%;
  left: 0.0vw;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.edit-lable-general .x-pNSE9C {
  background-color: transparent;
  cursor: pointer;
  height: 1.98vw;
  left: 0.62vw;
  pointer-events: auto;
  position: absolute;
  top: calc(50.00% - 0.99vw);
  transition: all 0.2s ease;
  width: 1.93vw;
}

.edit-lable-general .x-pNSE9C:hover {
  transform: rotate(15deg);
}

.edit-lable-general .path-464-QCnX8R {
  background-color: transparent;
  height: calc(100.00% - 1.61vw);
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  top: 0.78vw;
  width: 100%;
}

.edit-lable-general .path-465-QCnX8R {
  background-color: transparent;
  height: 100%;
  left: 0.78vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: calc(100.00% - 1.61vw);
}

.edit-lable-general .title-pNSE9C {
  background-color: transparent;
  height: 2.55vw;
  letter-spacing: 0.0vw;
  line-height: 2.49vw;
  position: absolute;
  right: 0.99vw;
  text-align: left;
  top: 0.31vw;
  white-space: nowrap;
  width: 8.8vw;
}

.edit-lable-general .main-shape-bNFVPB {
  background-color: transparent;
  height: 36.15vw;
  left: 33.85vw;
  position: fixed;
  top: 16.35vw;
  width: 60.36vw;
}

.edit-lable-general .main-shape-gF2xVz {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.edit-lable-general .rectangle-68-YSUd7F {
  background-color: var(--white);
  border-radius: 1.5vw 1.5vw 1.5vw 1.51vw;
  box-shadow: 0.36vw 0.36vw 1.51vw #00000042;
  height: 100%;
  left: 0.0vw;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.edit-lable-general .path-377-YSUd7F {
  background-color: transparent;
  height: 16.15vw;
  left: 0.05vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.edit-lable-general .box-icon-YSUd7F {
  background-color: transparent;
  height: 7.4vw;
  left: 0.36vw;
  position: absolute;
  top: calc(28.48% - 2.08vw);
  width: 8.59vw;
}

.edit-lable-general .group-203-OWvxGZ {
  background-color: transparent;
  bottom: 0.16vw;
  height: 4.27vw;
  left: 1.2vw;
  position: absolute;
  width: 3.12vw;
}

.edit-lable-general .path-378-vB20Rj {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.edit-lable-general .group-204-OWvxGZ {
  background-color: transparent;
  height: 2.86vw;
  position: absolute;
  right: 0.16vw;
  top: 0.16vw;
  width: 4.22vw;
}

.edit-lable-general .path-379-h1aIvK {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.edit-lable-general .group-205-OWvxGZ {
  background-color: transparent;
  bottom: calc(34.74% - 0.99vw);
  height: 2.86vw;
  left: 0.16vw;
  position: absolute;
  width: 4.22vw;
}

.edit-lable-general .path-380-EcrQbz {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.edit-lable-general .group-206-OWvxGZ {
  background-color: transparent;
  bottom: 0.16vw;
  height: 4.22vw;
  position: absolute;
  right: 1.25vw;
  width: 3.02vw;
}

.edit-lable-general .path-381-ex7xxu {
  background-color: transparent;
  bottom: 0.0vw;
  height: 2.81vw;
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  width: 100%;
}

.edit-lable-general .path-382-ex7xxu {
  background-color: transparent;
  height: 1.35vw;
  left: 0.05vw;
  object-fit: cover;
  position: absolute;
  top: 0.05vw;
  width: 100%;
}

.edit-lable-general .path-383-ex7xxu {
  background-color: transparent;
  height: 0.05vw;
  object-fit: cover;
  position: absolute;
  right: 0.0vw;
  top: 0.0vw;
  width: 0.05vw;
}

.edit-lable-general .group-207-OWvxGZ {
  background-color: transparent;
  height: 2.76vw;
  left: 0.31vw;
  position: absolute;
  top: 0.21vw;
  width: 3.96vw;
}

.edit-lable-general .path-384-xTZuxC {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.edit-lable-general .group-208-OWvxGZ {
  background-color: transparent;
  bottom: calc(35.07% - 0.99vw);
  height: 2.76vw;
  position: absolute;
  right: 0.31vw;
  width: 3.96vw;
}

.edit-lable-general .path-385-hiitCl {
  background-color: transparent;
  height: 100%;
  left: 0.05vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.edit-lable-general .path-386-hiitCl {
  background-color: transparent;
  bottom: 49.90%;
  height: 0.05vw;
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  width: 0.05vw;
}

.edit-lable-general .group-209-OWvxGZ {
  background-color: transparent;
  height: 2.81vw;
  left: 1.25vw;
  position: absolute;
  top: calc(34.49% - 0.99vw);
  width: calc(100.00% - 2.45vw);
}

.edit-lable-general .path-387-CxDaOG {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.edit-lable-general .group-210-OWvxGZ {
  background-color: transparent;
  height: 0.0vw;
  left: 1.72vw;
  position: absolute;
  top: 38.29%;
  width: 0.0vw;
}

.edit-lable-general .path-388-7NG25N {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.edit-lable-general .path-389-OWvxGZ {
  background-color: transparent;
  height: 2.81vw;
  object-fit: cover;
  position: absolute;
  right: 1.25vw;
  top: calc(34.49% - 0.99vw);
  width: 3.12vw;
}

.edit-lable-general .group-211-OWvxGZ {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.edit-lable-general .path-390-MJzwq6 {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.edit-lable-general .path-391-MJzwq6 {
  background-color: transparent;
  height: 0.36vw;
  left: calc(16.53% - 0.05vw);
  object-fit: cover;
  position: absolute;
  top: 0.83vw;
  width: 0.42vw;
}

.edit-lable-general .group-212-OWvxGZ {
  background-color: transparent;
  height: 0.0vw;
  left: 1.72vw;
  position: absolute;
  top: 38.29%;
  width: 0.0vw;
}

.edit-lable-general .path-392-ZMKE3C {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.edit-lable-general .rectangle-70-YSUd7F {
  background-color: var(--picton-blue);
  border-radius: 0.94vw;
  bottom: calc(46.02% - 8.28vw);
  height: 18.02vw;
  position: absolute;
  right: calc(49.84% - 18.33vw);
  width: 36.82vw;
}

.edit-lable-general .elements-placeholder-gF2xVz {
  background-color: transparent;
  bottom: calc(46.39% - 7.45vw);
  height: 15.99vw;
  position: absolute;
  right: calc(49.38% - 16.67vw);
  width: 33.7vw;
}

.edit-lable-general .box-field-ZM8OWQ {
  background-color: var(--black);
  border-radius: 0.94vw;
  height: 100%;
  left: 0.0vw;
  opacity: 0.19;
  position: relative;
  top: 0.0vw;
  width: 100%;
}

.edit-lable-general .upload-button-gF2xVz {
  background-color: transparent;
  bottom: 2.5vw;
  cursor: pointer;
  height: 4.58vw;
  pointer-events: auto;
  position: absolute;
  right: calc(40.13% - 1.88vw);
  transition: all 0.2s ease;
  width: 4.58vw;
}

.edit-lable-general .upload-button-gF2xVz:hover {
  transform: scale(1.1);
}

.edit-lable-general .rectangle-75-PhT99Y {
  background-color: var(--picton-blue);
  border-radius: 0.94vw;
  height: 100%;
  left: 0.0vw;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.edit-lable-general .upload-icon-PhT99Y {
  background-color: transparent;
  bottom: calc(50.00% - 1.15vw);
  height: 2.24vw;
  left: 1.15vw;
  position: absolute;
  width: 2.34vw;
}

.edit-lable-general .path-423-UeiypR {
  background-color: transparent;
  bottom: 0.05vw;
  height: 0.94vw;
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  width: 100%;
}

.edit-lable-general .path-424-UeiypR {
  background-color: transparent;
  height: 1.61vw;
  left: 0.47vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: calc(100.00% - 0.94vw);
}

.edit-lable-general .record-button-gF2xVz {
  background-color: transparent;
  bottom: 2.45vw;
  cursor: pointer;
  height: 4.58vw;
  left: calc(49.12% - 2.24vw);
  pointer-events: auto;
  position: absolute;
  transition: all 0.2s ease;
  width: 4.58vw;
}

.edit-lable-general .record-button-gF2xVz:hover {
  transform: scale(1.1);
}

.edit-lable-general .rectangle-76-w2pNth {
  background-color: var(--picton-blue);
  border-radius: 0.94vw;
  height: 100%;
  left: 0.0vw;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.edit-lable-general .icon-w2pNth {
  height: 3.02vw;
  left: 1.15vw;
  top: calc(50.00% - 1.51vw);
  width: 2.24vw;
}

.edit-lable-general .text-button-gF2xVz {
  background-color: transparent;
  bottom: 2.45vw;
  cursor: pointer;
  height: 4.58vw;
  left: calc(38.37% - 1.77vw);
  pointer-events: auto;
  position: absolute;
  transition: all 0.2s ease;
  width: 4.58vw;
}

.edit-lable-general .text-button-gF2xVz:hover {
  transform: scale(1.1);
}

.edit-lable-general .rectangle-77-dRgpWk {
  background-color: var(--picton-blue);
  border-radius: 0.94vw;
  height: 100%;
  left: 0.0vw;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.edit-lable-general .icon-dRgpWk {
  bottom: calc(50.00% - 1.35vw);
  height: 2.76vw;
  left: 0.94vw;
  width: 2.76vw;
}

.edit-lable-general .titel-gF2xVz {
  background-color: transparent;
  height: 6.35vw;
  left: 3.07vw;
  position: absolute;
  top: 0.99vw;
  width: calc(100.00% - 6.09vw);
}

.edit-lable-general .rectangle-69-idr9mv {
  background-color: var(--black);
  border-radius: 0.98vw;
  height: 100%;
  left: 0.0vw;
  opacity: 0.19;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.edit-lable-general .titel-idr9mv {
  background-color: transparent;
  border: 0;
  height: 5.1vw;
  left: 1.72vw;
  letter-spacing: 0.0vw;
  line-height: 1.13vw;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  top: 0.68vw;
  width: 50.99vw;
}

.edit-lable-general .titel-idr9mv::placeholder {
  color: #ffffff99;
}

.edit-lable-general .sign-out-bNFVPB {
  background-color: transparent;
  cursor: pointer;
  height: 2.4vw;
  left: 86.72vw;
  pointer-events: auto;
  position: absolute;
  top: 2.55vw;
  transition: all 0.2s ease;
  width: 10.73vw;
}

.edit-lable-general .sign-out-bNFVPB:hover {
  transform: scale(1.1);
}

.edit-lable-general .group-377-6ugpoU {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  position: relative;
  top: 0.0vw;
  width: 100%;
}

.edit-lable-general .sign-out-QxJk3Q {
  -webkit-text-stroke: 0.16vw var(--torch-red);
  background-color: transparent;
  height: calc(100.00% + 0.1vw);
  letter-spacing: 0.0vw;
  line-height: 2.36vw;
  position: absolute;
  right: -0.1vw;
  text-align: center;
  top: 0.05vw;
  white-space: nowrap;
  width: 8.44vw;
}

.edit-lable-general .path-466-QxJk3Q {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% - 0.16vw);
  left: -0.1vw;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  top: 0.21vw;
  transition: all 0.2s ease;
  width: calc(100.00% - 9.43vw);
}

.edit-lable-general .path-466-QxJk3Q:hover {
  transform: translate(-5px, 0);
}

.edit-lable-general .group-373-QxJk3Q {
  background-color: transparent;
  bottom: calc(42.91% - 0.21vw);
  height: 0.52vw;
  left: 0.68vw;
  position: absolute;
  width: 1.3vw;
}

.edit-lable-general .path-467-yC2n7a {
  background-color: transparent;
  height: calc(100.00% - 0.26vw);
  left: -0.1vw;
  object-fit: cover;
  position: absolute;
  top: 0.16vw;
  width: calc(100.00% + 0.1vw);
}

.edit-lable-general .path-468-yC2n7a {
  background-color: transparent;
  height: calc(100.00% + 0.16vw);
  left: 0.89vw;
  object-fit: cover;
  position: absolute;
  top: -0.1vw;
  width: calc(100.00% - 0.78vw);
}

.edit-lable-general .search-bar-bNFVPB {
  background-color: transparent;
  cursor: pointer;
  height: 3.02vw;
  left: 30.94vw;
  pointer-events: auto;
  position: absolute;
  top: 2.66vw;
  transition: all 0.2s ease-in-out;
  width: 38.12vw;
}

.edit-lable-general .search-bar-bNFVPB:hover {
  transform: scale(1.1);
}

.edit-lable-general .search-box-bM0xSE {
  background-color: var(--limed-spruce);
  border-radius: 1.19vw;
  cursor: pointer;
  height: 100%;
  left: 0.0vw;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.edit-lable-general .search-icon-bM0xSE {
  background-color: transparent;
  bottom: calc(47.12% - 1.15vw);
  cursor: pointer;
  height: 2.4vw;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  right: 0.89vw;
  transition: all 0.2s ease;
  width: 2.4vw;
}

.edit-lable-general .search-icon-bM0xSE:hover {
  transform: rotate(15deg);
}

.edit-lable-general .seach-for-a-specific-lable-bM0xSE {
  background-color: transparent;
  border: 0;
  bottom: calc(43.23% - 0.83vw);
  height: 1.98vw;
  left: 1.93vw;
  letter-spacing: 0.0vw;
  line-height: 1.13vw;
  opacity: 0.4;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  width: 32.5vw;
}

.edit-lable-general .seach-for-a-specific-lable-bM0xSE::placeholder {
  color: #ffffff99;
}

.edit-lable-general .done-bNFVPB {
  background-color: transparent;
  cursor: pointer;
  height: 4.84vw;
  left: 87.19vw;
  pointer-events: auto;
  position: fixed;
  top: 45.83vw;
  transition: all 0.2s ease;
  width: 4.84vw;
}

.edit-lable-general .done-bNFVPB:hover {
  transform: scale(1.1);
}

.edit-lable-general .done-XHXhxU {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.edit-lable-general .cancel-bNFVPB {
  background-color: transparent;
  cursor: pointer;
  height: 4.84vw;
  left: 81.3vw;
  pointer-events: auto;
  position: fixed;
  top: 45.83vw;
  transition: all 0.2s ease;
  width: 4.84vw;
}

.edit-lable-general .cancel-bNFVPB:hover {
  transform: scale(1.1);
}

.edit-lable-general .cancel-JOm1WX {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}
