/* screen - edit-lable-hazard */

.edit-lable-hazard {
  background-color: var(--white);
  height: 56.25vw;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100.0vw;
}

.edit-lable-hazard .gb-cxFpfx {
  background-color: transparent;
  height: 58.44vw;
  left: -16.2vw;
  position: fixed;
  top: -0.05vw;
  width: 116.2vw;
}

.edit-lable-hazard .bg-style-N12DL2 {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  position: relative;
  top: 0.0vw;
  width: 100%;
}

.edit-lable-hazard .path-42-B2tI5a {
  background-color: transparent;
  height: calc(100.00% + 0.47vw);
  left: 15.99vw;
  object-fit: cover;
  position: absolute;
  top: 0.05vw;
  width: calc(100.00% - 13.49vw);
}

.edit-lable-hazard .path-43-B2tI5a {
  background-color: transparent;
  height: calc(100.00% + 0.31vw);
  left: calc(18.69% - 6.3vw);
  object-fit: cover;
  position: absolute;
  top: -0.26vw;
  width: 33.8vw;
}

.edit-lable-hazard .person-B2tI5a {
  background-color: transparent;
  height: calc(100.00% - 4.74vw);
  left: 0.05vw;
  object-fit: cover;
  position: absolute;
  top: 4.74vw;
  width: 53.7vw;
}

.edit-lable-hazard .arrow-B2tI5a {
  background-color: transparent;
  height: 6.2vw;
  left: calc(33.56% - 3.28vw);
  object-fit: cover;
  position: absolute;
  top: calc(23.11% - 1.41vw);
  width: 9.79vw;
}

.edit-lable-hazard .main-header-B2tI5a {
  background-color: var(--mine-shaft);
  border-radius: 0.0vw 0.0vw 2.6vw 2.6vw;
  box-shadow: 0.36vw 0.68vw 1.09vw #5e5e5e33;
  height: 7.34vw;
  left: 16.15vw;
  position: absolute;
  top: 0.0vw;
  width: calc(100.00% - 16.15vw);
}

.edit-lable-hazard .logo-B2tI5a {
  background-color: transparent;
  height: 5.73vw;
  left: calc(18.75% - 1.88vw);
  position: absolute;
  top: 2.03vw;
  width: 10.1vw;
}

.edit-lable-hazard .logo-g0qCPF {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  position: relative;
  top: 0.0vw;
  width: 100%;
}

.edit-lable-hazard .m-Cx3Syx {
  background-color: transparent;
  height: 2.5vw;
  left: 0.0vw;
  position: absolute;
  top: 0.0vw;
  width: 2.6vw;
}

.edit-lable-hazard .path-49-XjxyXq {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.edit-lable-hazard .v-Cx3Syx {
  background-color: transparent;
  height: 2.08vw;
  position: absolute;
  right: calc(46.93% - 0.99vw);
  top: 0.42vw;
  width: 2.08vw;
}

.edit-lable-hazard .path-50-9rLQBX {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.edit-lable-hazard .e-Cx3Syx {
  background-color: transparent;
  height: 2.08vw;
  position: absolute;
  right: calc(23.66% - 0.47vw);
  top: 0.42vw;
  width: 2.03vw;
}

.edit-lable-hazard .path-51-8jkbhW {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.edit-lable-hazard .group-29-Cx3Syx {
  background-color: transparent;
  height: calc(100.00% - 0.73vw);
  position: absolute;
  right: 0.0vw;
  top: 0.73vw;
  width: 8.49vw;
}

.edit-lable-hazard .rectangle-6-IypqaS {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.edit-lable-hazard .group-30-Cx3Syx {
  background-color: transparent;
  bottom: calc(42.37% - 0.42vw);
  height: 0.99vw;
  position: absolute;
  right: calc(36.29% - 1.09vw);
  width: 3.02vw;
}

.edit-lable-hazard .path-52-35Lx9j {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: 0.99vw;
}

.edit-lable-hazard .path-53-35Lx9j {
  background-color: transparent;
  height: 100%;
  object-fit: cover;
  position: absolute;
  right: calc(46.23% - 0.42vw);
  top: 0.05vw;
  width: 0.89vw;
}

.edit-lable-hazard .path-54-35Lx9j {
  background-color: transparent;
  height: 100%;
  object-fit: cover;
  position: absolute;
  right: 0.0vw;
  top: 0.05vw;
  width: 0.89vw;
}

.edit-lable-hazard .pin-Cx3Syx {
  background-color: transparent;
  height: 3.44vw;
  left: calc(30.47% - 0.73vw);
  position: absolute;
  top: 0.42vw;
  width: 2.34vw;
}

.edit-lable-hazard .path-55-r677tr {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.edit-lable-hazard .ellipse-4-r677tr {
  background-color: var(--bright-red);
  border-radius: 0.9vw;
  height: 1.77vw;
  left: 0.31vw;
  position: absolute;
  top: 0.26vw;
  width: calc(100.00% - 0.57vw);
}

.edit-lable-hazard .box-Cx3Syx {
  background-color: transparent;
  height: 1.72vw;
  left: calc(31.64% - 0.62vw);
  position: absolute;
  top: 0.62vw;
  width: 1.93vw;
}

.edit-lable-hazard .rectangle-7-chZEw3 {
  background-color: transparent;
  height: 100%;
  left: 0.05vw;
  object-fit: cover;
  position: absolute;
  top: 0.05vw;
  width: 100%;
}

.edit-lable-hazard .new-lable-button-cxFpfx {
  background-color: transparent;
  cursor: pointer;
  height: 3.33vw;
  left: 30.47vw;
  position: fixed;
  top: 8.54vw;
  width: 12.92vw;
}

.edit-lable-hazard .group-375-a6xmQL {
  background-color: transparent;
  cursor: pointer;
  height: 100%;
  left: 0.0vw;
  pointer-events: auto;
  position: relative;
  top: 0.0vw;
  transition: all 0.2s ease;
  width: 100%;
}

.edit-lable-hazard .group-375-a6xmQL:hover {
  transform: scale(1.1);
}

.edit-lable-hazard .green-button-new-lable-JSFaVs {
  background-color: var(--green);
  border-radius: 0.83vw;
  height: 100%;
  left: 0.0vw;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.edit-lable-hazard .x-JSFaVs {
  background-color: transparent;
  cursor: pointer;
  height: 1.98vw;
  left: 0.62vw;
  pointer-events: auto;
  position: absolute;
  top: calc(50.00% - 0.99vw);
  transition: all 0.2s ease;
  width: 1.93vw;
}

.edit-lable-hazard .x-JSFaVs:hover {
  transform: rotate(15deg);
}

.edit-lable-hazard .path-464-SM5eZ5 {
  background-color: transparent;
  height: calc(100.00% - 1.61vw);
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  top: 0.78vw;
  width: 100%;
}

.edit-lable-hazard .path-465-SM5eZ5 {
  background-color: transparent;
  height: 100%;
  left: 0.78vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: calc(100.00% - 1.61vw);
}

.edit-lable-hazard .title-JSFaVs {
  background-color: transparent;
  height: 2.55vw;
  letter-spacing: 0.0vw;
  line-height: 2.49vw;
  position: absolute;
  right: 0.99vw;
  text-align: left;
  top: 0.31vw;
  white-space: nowrap;
  width: 8.8vw;
}

.edit-lable-hazard .main-shape-cxFpfx {
  background-color: transparent;
  height: 36.15vw;
  left: 33.85vw;
  position: fixed;
  top: 16.35vw;
  width: 60.36vw;
}

.edit-lable-hazard .lable-shape-u0JaPv {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.edit-lable-hazard .rectangle-68-AukGIa {
  background-color: var(--white);
  border-radius: 1.5vw 1.5vw 1.5vw 1.51vw;
  box-shadow: 0.36vw 0.36vw 1.51vw #00000042;
  height: 100%;
  left: 0.0vw;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.edit-lable-hazard .path-377-AukGIa {
  background-color: transparent;
  height: 16.15vw;
  left: 0.05vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.edit-lable-hazard .hazard-icon-AukGIa {
  background-color: transparent;
  height: 6.67vw;
  left: 0.89vw;
  position: absolute;
  top: calc(28.61% - 1.93vw);
  width: 7.5vw;
}

.edit-lable-hazard .path-35-PTs6Wz {
  background-color: transparent;
  height: calc(100.00% - 0.21vw);
  left: 0.1vw;
  object-fit: cover;
  position: absolute;
  top: 0.1vw;
  width: calc(100.00% - 0.26vw);
}

.edit-lable-hazard .group-20-PTs6Wz {
  background-color: transparent;
  bottom: 0.99vw;
  height: 3.7vw;
  position: absolute;
  right: calc(50.00% - 0.36vw);
  width: 0.78vw;
}

.edit-lable-hazard .rectangle-5-FUPywG {
  background-color: var(--seashell-peach);
  border-radius: 0.14vw 0.14vw 0.14vw 0.14vw;
  height: 2.34vw;
  left: 0.0vw;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.edit-lable-hazard .ellipse-3-FUPywG {
  background-color: var(--seashell-peach);
  border-radius: 0.39vw;
  bottom: 0.05vw;
  height: 0.78vw;
  left: 0.0vw;
  position: absolute;
  width: 100%;
}

.edit-lable-hazard .group-21-PTs6Wz {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.edit-lable-hazard .path-36-FIDMjn {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.edit-lable-hazard .path-37-FIDMjn {
  background-color: transparent;
  height: 0.42vw;
  left: calc(23.38% - 0.1vw);
  object-fit: cover;
  position: absolute;
  top: calc(41.60% - 0.16vw);
  width: 0.36vw;
}

.edit-lable-hazard .path-38-FIDMjn {
  background-color: transparent;
  height: 2.66vw;
  object-fit: cover;
  position: absolute;
  right: calc(50.00% - 0.52vw);
  top: calc(47.01% - 1.25vw);
  width: 1.04vw;
}

.edit-lable-hazard .path-39-FIDMjn {
  background-color: transparent;
  bottom: 0.83vw;
  height: 1.04vw;
  object-fit: cover;
  position: absolute;
  right: calc(50.00% - 0.52vw);
  width: 1.04vw;
}

.edit-lable-hazard .rectangle-70-AukGIa {
  background-color: var(--tulip-tree);
  border-radius: 0.94vw;
  bottom: calc(46.02% - 8.28vw);
  height: 18.02vw;
  position: absolute;
  right: calc(49.84% - 18.33vw);
  width: 36.82vw;
}

.edit-lable-hazard .elements-placeholder-u0JaPv {
  background-color: transparent;
  bottom: calc(46.39% - 7.45vw);
  height: 15.99vw;
  position: absolute;
  right: calc(49.38% - 16.67vw);
  width: 33.7vw;
}

.edit-lable-hazard .box-field-7xJwll {
  background-color: var(--black);
  border-radius: 0.94vw;
  height: 100%;
  left: 0.0vw;
  opacity: 0.19;
  position: relative;
  top: 0.0vw;
  width: 100%;
}

.edit-lable-hazard .upload-button-u0JaPv {
  background-color: transparent;
  bottom: 2.5vw;
  cursor: pointer;
  height: 4.58vw;
  pointer-events: auto;
  position: absolute;
  right: calc(40.13% - 1.88vw);
  transition: all 0.2s ease;
  width: 4.58vw;
}

.edit-lable-hazard .upload-button-u0JaPv:hover {
  transform: scale(1.1);
}

.edit-lable-hazard .rectangle-75-hx6xxU {
  background-color: var(--tulip-tree);
  border-radius: 0.94vw;
  height: 100%;
  left: 0.0vw;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.edit-lable-hazard .upload-icon-hx6xxU {
  background-color: transparent;
  bottom: calc(50.00% - 1.15vw);
  height: 2.24vw;
  left: 1.15vw;
  position: absolute;
  width: 2.34vw;
}

.edit-lable-hazard .path-423-bk8G2B {
  background-color: transparent;
  bottom: 0.05vw;
  height: 0.94vw;
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  width: 100%;
}

.edit-lable-hazard .path-424-bk8G2B {
  background-color: transparent;
  height: 1.61vw;
  left: 0.47vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: calc(100.00% - 0.94vw);
}

.edit-lable-hazard .record-button-u0JaPv {
  background-color: transparent;
  bottom: 2.45vw;
  cursor: pointer;
  height: 4.58vw;
  left: calc(49.12% - 2.24vw);
  pointer-events: auto;
  position: absolute;
  transition: all 0.2s ease;
  width: 4.58vw;
}

.edit-lable-hazard .record-button-u0JaPv:hover {
  transform: scale(1.1);
}

.edit-lable-hazard .rectangle-76-NN1cxd {
  background-color: var(--tulip-tree);
  border-radius: 0.94vw;
  height: 100%;
  left: 0.0vw;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.edit-lable-hazard .icon-NN1cxd {
  height: 3.02vw;
  left: 1.15vw;
  top: calc(50.00% - 1.51vw);
  width: 2.24vw;
}

.edit-lable-hazard .text-button-u0JaPv {
  background-color: transparent;
  bottom: 2.45vw;
  cursor: pointer;
  height: 4.58vw;
  left: calc(38.37% - 1.77vw);
  pointer-events: auto;
  position: absolute;
  transition: all 0.2s ease;
  width: 4.58vw;
}

.edit-lable-hazard .text-button-u0JaPv:hover {
  transform: scale(1.1);
}

.edit-lable-hazard .rectangle-77-NsD1gu {
  background-color: var(--tulip-tree);
  border-radius: 0.94vw;
  height: 100%;
  left: 0.0vw;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.edit-lable-hazard .icon-NsD1gu {
  bottom: calc(50.00% - 1.35vw);
  height: 2.76vw;
  left: 0.94vw;
  width: 2.76vw;
}

.edit-lable-hazard .titel-u0JaPv {
  background-color: transparent;
  height: 6.35vw;
  left: 3.07vw;
  position: absolute;
  top: 0.99vw;
  width: calc(100.00% - 6.09vw);
}

.edit-lable-hazard .rectangle-69-EVbEgR {
  background-color: var(--black);
  border-radius: 0.98vw;
  height: 100%;
  left: 0.0vw;
  opacity: 0.19;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.edit-lable-hazard .titel-EVbEgR {
  background-color: transparent;
  border: 0;
  height: 5.1vw;
  left: 1.72vw;
  letter-spacing: 0.0vw;
  line-height: 1.13vw;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  top: 0.68vw;
  width: 50.99vw;
}

.edit-lable-hazard .titel-EVbEgR::placeholder {
  color: #ffffff99;
}

.edit-lable-hazard .sign-out-cxFpfx {
  background-color: transparent;
  cursor: pointer;
  height: 2.4vw;
  left: 86.72vw;
  pointer-events: auto;
  position: absolute;
  top: 2.55vw;
  transition: all 0.2s ease;
  width: 10.73vw;
}

.edit-lable-hazard .sign-out-cxFpfx:hover {
  transform: scale(1.1);
}

.edit-lable-hazard .group-377-Tvedyo {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  position: relative;
  top: 0.0vw;
  width: 100%;
}

.edit-lable-hazard .sign-out-hjlicS {
  -webkit-text-stroke: 0.16vw var(--torch-red);
  background-color: transparent;
  height: calc(100.00% + 0.1vw);
  letter-spacing: 0.0vw;
  line-height: 2.36vw;
  position: absolute;
  right: -0.1vw;
  text-align: center;
  top: 0.05vw;
  white-space: nowrap;
  width: 8.44vw;
}

.edit-lable-hazard .path-466-hjlicS {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% - 0.16vw);
  left: -0.1vw;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  top: 0.21vw;
  transition: all 0.2s ease;
  width: calc(100.00% - 9.43vw);
}

.edit-lable-hazard .path-466-hjlicS:hover {
  transform: translate(-5px, 0);
}

.edit-lable-hazard .group-373-hjlicS {
  background-color: transparent;
  bottom: calc(42.91% - 0.21vw);
  height: 0.52vw;
  left: 0.68vw;
  position: absolute;
  width: 1.3vw;
}

.edit-lable-hazard .path-467-rRZmi1 {
  background-color: transparent;
  height: calc(100.00% - 0.26vw);
  left: -0.1vw;
  object-fit: cover;
  position: absolute;
  top: 0.16vw;
  width: calc(100.00% + 0.1vw);
}

.edit-lable-hazard .path-468-rRZmi1 {
  background-color: transparent;
  height: calc(100.00% + 0.16vw);
  left: 0.89vw;
  object-fit: cover;
  position: absolute;
  top: -0.1vw;
  width: calc(100.00% - 0.78vw);
}

.edit-lable-hazard .search-bar-cxFpfx {
  background-color: transparent;
  cursor: pointer;
  height: 3.02vw;
  left: 30.94vw;
  pointer-events: auto;
  position: absolute;
  top: 2.66vw;
  transition: all 0.2s ease-in-out;
  width: 38.12vw;
}

.edit-lable-hazard .search-bar-cxFpfx:hover {
  transform: scale(1.1);
}

.edit-lable-hazard .search-box-4P9fcx {
  background-color: var(--limed-spruce);
  border-radius: 1.19vw;
  cursor: pointer;
  height: 100%;
  left: 0.0vw;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.edit-lable-hazard .search-icon-4P9fcx {
  background-color: transparent;
  bottom: calc(47.12% - 1.15vw);
  cursor: pointer;
  height: 2.4vw;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  right: 0.89vw;
  transition: all 0.2s ease;
  width: 2.4vw;
}

.edit-lable-hazard .search-icon-4P9fcx:hover {
  transform: rotate(15deg);
}

.edit-lable-hazard .seach-for-a-specific-lable-4P9fcx {
  background-color: transparent;
  border: 0;
  bottom: calc(43.23% - 0.83vw);
  height: 1.98vw;
  left: 1.93vw;
  letter-spacing: 0.0vw;
  line-height: 1.13vw;
  opacity: 0.4;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  width: 32.5vw;
}

.edit-lable-hazard .seach-for-a-specific-lable-4P9fcx::placeholder {
  color: #ffffff99;
}

.edit-lable-hazard .done-cxFpfx {
  background-color: transparent;
  cursor: pointer;
  height: 4.84vw;
  left: 87.19vw;
  pointer-events: auto;
  position: fixed;
  top: 45.83vw;
  transition: all 0.2s ease;
  width: 4.84vw;
}

.edit-lable-hazard .done-cxFpfx:hover {
  transform: scale(1.1);
}

.edit-lable-hazard .done-J2jMvS {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.edit-lable-hazard .cancel-cxFpfx {
  background-color: transparent;
  cursor: pointer;
  height: 4.84vw;
  left: 81.3vw;
  pointer-events: auto;
  position: fixed;
  top: 45.83vw;
  transition: all 0.2s ease;
  width: 4.84vw;
}

.edit-lable-hazard .cancel-cxFpfx:hover {
  transform: scale(1.1);
}

.edit-lable-hazard .cancel-kaY3Aa {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}
