/* screen - general-voice */

.general-voice {
  background-color: var(--white);
  height: 56.25vw;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100.0vw;
}

.general-voice .bg-style-AFDyxE {
  background-color: transparent;
  height: 58.44vw;
  left: -16.09vw;
  position: fixed;
  top: 0.0vw;
  width: 116.2vw;
}

.general-voice .path-327-M5FGE1 {
  background-color: transparent;
  height: calc(100.00% + 0.47vw);
  left: 15.99vw;
  object-fit: cover;
  position: absolute;
  top: 0.05vw;
  width: calc(100.00% - 13.49vw);
}

.general-voice .path-328-M5FGE1 {
  background-color: transparent;
  height: calc(100.00% + 0.31vw);
  left: calc(18.70% - 6.3vw);
  object-fit: cover;
  position: absolute;
  top: -0.26vw;
  width: 33.8vw;
}

.general-voice .person-M5FGE1 {
  background-color: transparent;
  height: calc(100.00% - 4.74vw);
  left: 0.05vw;
  object-fit: cover;
  position: absolute;
  top: 4.74vw;
  width: 53.7vw;
}

.general-voice .arrow-M5FGE1 {
  background-color: transparent;
  height: 6.2vw;
  left: calc(33.58% - 3.28vw);
  object-fit: cover;
  position: absolute;
  top: calc(23.11% - 1.41vw);
  width: 9.79vw;
}

.general-voice .main-header-M5FGE1 {
  background-color: var(--mine-shaft);
  border-radius: 0.0vw 0.0vw 2.6vw 2.6vw;
  box-shadow: 0.36vw 0.68vw 1.09vw #5e5e5e33;
  height: 7.34vw;
  left: 16.09vw;
  position: absolute;
  top: 0.0vw;
  width: calc(100.00% - 16.15vw);
}

.general-voice .logo-M5FGE1 {
  background-color: transparent;
  height: 5.73vw;
  left: calc(18.76% - 1.88vw);
  position: absolute;
  top: 2.03vw;
  width: 10.1vw;
}

.general-voice .logo-vHZ2GD {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  position: relative;
  top: 0.0vw;
  width: 100%;
}

.general-voice .m-kI3Sig {
  background-color: transparent;
  height: 2.5vw;
  left: 0.0vw;
  position: absolute;
  top: 0.0vw;
  width: 2.6vw;
}

.general-voice .path-334-O7OMR2 {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.general-voice .v-kI3Sig {
  background-color: transparent;
  height: 2.08vw;
  position: absolute;
  right: calc(46.93% - 0.99vw);
  top: 0.42vw;
  width: 2.08vw;
}

.general-voice .path-335-tpRtIA {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.general-voice .e-kI3Sig {
  background-color: transparent;
  height: 2.08vw;
  position: absolute;
  right: calc(23.66% - 0.47vw);
  top: 0.42vw;
  width: 2.03vw;
}

.general-voice .path-336-MU7VQN {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.general-voice .group-176-kI3Sig {
  background-color: transparent;
  height: calc(100.00% - 0.73vw);
  position: absolute;
  right: 0.0vw;
  top: 0.73vw;
  width: 8.49vw;
}

.general-voice .rectangle-61-EX5med {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.general-voice .group-177-kI3Sig {
  background-color: transparent;
  bottom: calc(42.37% - 0.42vw);
  height: 0.99vw;
  position: absolute;
  right: calc(36.29% - 1.09vw);
  width: 3.02vw;
}

.general-voice .path-337-b9o8Pv {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: 0.99vw;
}

.general-voice .path-338-b9o8Pv {
  background-color: transparent;
  height: 100%;
  object-fit: cover;
  position: absolute;
  right: calc(46.23% - 0.42vw);
  top: 0.05vw;
  width: 0.89vw;
}

.general-voice .path-339-b9o8Pv {
  background-color: transparent;
  height: 100%;
  object-fit: cover;
  position: absolute;
  right: 0.0vw;
  top: 0.05vw;
  width: 0.89vw;
}

.general-voice .pin-kI3Sig {
  background-color: transparent;
  height: 3.44vw;
  left: calc(30.47% - 0.73vw);
  position: absolute;
  top: 0.42vw;
  width: 2.34vw;
}

.general-voice .path-340-ainsB3 {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.general-voice .ellipse-19-ainsB3 {
  background-color: var(--bright-red);
  border-radius: 0.9vw;
  height: 1.77vw;
  left: 0.31vw;
  position: absolute;
  top: 0.26vw;
  width: calc(100.00% - 0.57vw);
}

.general-voice .box-kI3Sig {
  background-color: transparent;
  height: 1.72vw;
  left: calc(31.64% - 0.62vw);
  position: absolute;
  top: 0.62vw;
  width: 1.93vw;
}

.general-voice .rectangle-62-42NXoE {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  top: 0.05vw;
  width: 100%;
}

.general-voice .new-lable-button-AFDyxE {
  background-color: transparent;
  cursor: pointer;
  height: 3.33vw;
  left: 30.47vw;
  position: fixed;
  top: 8.54vw;
  width: 12.92vw;
}

.general-voice .group-375-ku06eJ {
  background-color: transparent;
  cursor: pointer;
  height: 100%;
  left: 0.0vw;
  pointer-events: auto;
  position: relative;
  top: 0.0vw;
  transition: all 0.2s ease;
  width: 100%;
}

.general-voice .group-375-ku06eJ:hover {
  transform: scale(1.1);
}

.general-voice .green-button-new-lable-JS14HT {
  background-color: var(--green);
  border-radius: 0.83vw;
  height: 100%;
  left: 0.0vw;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.general-voice .x-JS14HT {
  background-color: transparent;
  cursor: pointer;
  height: 1.98vw;
  left: 0.62vw;
  pointer-events: auto;
  position: absolute;
  top: calc(50.00% - 0.99vw);
  transition: all 0.2s ease;
  width: 1.93vw;
}

.general-voice .x-JS14HT:hover {
  transform: rotate(15deg);
}

.general-voice .path-464-uxjWey {
  background-color: transparent;
  height: calc(100.00% - 1.61vw);
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  top: 0.78vw;
  width: 100%;
}

.general-voice .path-465-uxjWey {
  background-color: transparent;
  height: 100%;
  left: 0.78vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: calc(100.00% - 1.61vw);
}

.general-voice .new-lable-JS14HT {
  background-color: transparent;
  height: 2.55vw;
  letter-spacing: 0.0vw;
  line-height: 2.49vw;
  position: absolute;
  right: 0.99vw;
  text-align: left;
  top: 0.31vw;
  white-space: nowrap;
  width: 8.8vw;
}

.general-voice .main-shape-AFDyxE {
  background-color: transparent;
  height: 36.15vw;
  left: 33.85vw;
  position: fixed;
  top: 16.41vw;
  width: 60.36vw;
}

.general-voice .main-shape-8Qufs6 {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  position: relative;
  top: 0.0vw;
  width: 100%;
}

.general-voice .rectangle-63-QaxLYm {
  background-color: var(--white);
  border-radius: 1.5vw 1.5vw 1.5vw 1.52vw;
  box-shadow: 0.36vw 0.36vw 1.51vw #00000042;
  height: 100%;
  left: 0.0vw;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.general-voice .path-341-QaxLYm {
  background-color: transparent;
  height: 16.15vw;
  left: 0.05vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.general-voice .box-icon-QaxLYm {
  background-color: transparent;
  height: 7.4vw;
  left: 0.36vw;
  position: absolute;
  top: calc(28.48% - 2.08vw);
  width: 8.59vw;
}

.general-voice .group-178-h9Fudx {
  background-color: transparent;
  bottom: 0.16vw;
  height: 4.27vw;
  left: 1.2vw;
  position: absolute;
  width: 3.12vw;
}

.general-voice .path-342-CZIOdx {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.general-voice .group-179-h9Fudx {
  background-color: transparent;
  height: 2.86vw;
  position: absolute;
  right: 0.16vw;
  top: 0.16vw;
  width: 4.22vw;
}

.general-voice .path-343-ykOtbG {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.general-voice .group-180-h9Fudx {
  background-color: transparent;
  bottom: calc(34.74% - 0.99vw);
  height: 2.86vw;
  left: 0.16vw;
  position: absolute;
  width: 4.22vw;
}

.general-voice .path-344-cXzf9w {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.general-voice .group-181-h9Fudx {
  background-color: transparent;
  bottom: 0.16vw;
  height: 4.22vw;
  position: absolute;
  right: 1.25vw;
  width: 3.02vw;
}

.general-voice .path-345-9CaAJx {
  background-color: transparent;
  bottom: 0.0vw;
  height: 2.81vw;
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  width: 100%;
}

.general-voice .path-346-9CaAJx {
  background-color: transparent;
  height: 1.35vw;
  left: 0.05vw;
  object-fit: cover;
  position: absolute;
  top: 0.05vw;
  width: 100%;
}

.general-voice .path-347-9CaAJx {
  background-color: transparent;
  height: 0.05vw;
  object-fit: cover;
  position: absolute;
  right: 0.0vw;
  top: 0.0vw;
  width: 0.05vw;
}

.general-voice .group-182-h9Fudx {
  background-color: transparent;
  height: 2.76vw;
  left: 0.31vw;
  position: absolute;
  top: 0.21vw;
  width: 3.96vw;
}

.general-voice .path-348-w6XJtp {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.general-voice .group-183-h9Fudx {
  background-color: transparent;
  bottom: calc(35.07% - 0.99vw);
  height: 2.76vw;
  position: absolute;
  right: 0.31vw;
  width: 3.96vw;
}

.general-voice .path-349-xhcVxy {
  background-color: transparent;
  height: 100%;
  left: 0.05vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.general-voice .path-350-xhcVxy {
  background-color: transparent;
  bottom: 49.90%;
  height: 0.05vw;
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  width: 0.05vw;
}

.general-voice .group-184-h9Fudx {
  background-color: transparent;
  height: 2.81vw;
  left: 1.25vw;
  position: absolute;
  top: calc(34.49% - 0.99vw);
  width: calc(100.00% - 2.45vw);
}

.general-voice .path-351-3lZLRp {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.general-voice .group-185-h9Fudx {
  background-color: transparent;
  height: 0.0vw;
  left: 1.72vw;
  position: absolute;
  top: 38.29%;
  width: 0.0vw;
}

.general-voice .path-352-o0GkWL {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.general-voice .path-353-h9Fudx {
  background-color: transparent;
  height: 2.81vw;
  object-fit: cover;
  position: absolute;
  right: 1.25vw;
  top: calc(34.49% - 0.99vw);
  width: 3.12vw;
}

.general-voice .group-186-h9Fudx {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.general-voice .path-354-6ZErFp {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.general-voice .path-355-6ZErFp {
  background-color: transparent;
  height: 0.36vw;
  left: calc(16.53% - 0.05vw);
  object-fit: cover;
  position: absolute;
  top: 0.83vw;
  width: 0.42vw;
}

.general-voice .group-187-h9Fudx {
  background-color: transparent;
  height: 0.0vw;
  left: 1.72vw;
  position: absolute;
  top: 38.29%;
  width: 0.0vw;
}

.general-voice .path-356-HWGCrS {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.general-voice .title-QaxLYm {
  height: 5.16vw;
  left: 2.14vw;
  letter-spacing: 0.0vw;
  line-height: 5.07vw;
  text-align: left;
  top: 1.46vw;
  white-space: nowrap;
  width: 10.26vw;
}

.general-voice .whats-inside-the-box-QaxLYm {
  background-color: transparent;
  height: 2.66vw;
  left: calc(25.41% - 5.36vw);
  letter-spacing: 0.0vw;
  line-height: 2.51vw;
  position: absolute;
  text-align: left;
  top: calc(27.39% - 0.73vw);
  white-space: nowrap;
  width: 21.2vw;
}

.general-voice .rectangle-65-QaxLYm {
  background-color: var(--picton-blue);
  border-radius: 0.94vw;
  bottom: calc(39.26% - 5.83vw);
  height: 14.9vw;
  position: absolute;
  right: calc(42.19% - 12.86vw);
  width: 30.47vw;
}

.general-voice .play-button-AFDyxE {
  background-color: transparent;
  cursor: pointer;
  height: 3.07vw;
  left: 54.11vw;
  pointer-events: auto;
  position: fixed;
  top: 39.11vw;
  transition: all 0.2s ease;
  width: 11.25vw;
}

.general-voice .play-button-AFDyxE:hover {
  transform: scale(1.1);
}

.general-voice .start-recording-fFzO8k {
  background-color: transparent;
  height: 1.56vw;
  letter-spacing: 0.0vw;
  line-height: 1.47vw;
  position: absolute;
  right: 0.62vw;
  text-align: left;
  top: calc(48.29% - 0.73vw);
  white-space: nowrap;
  width: 7.97vw;
}

.general-voice .play-button-fFzO8k {
  background-color: transparent;
  bottom: calc(49.60% - 0.89vw);
  height: 1.82vw;
  left: 0.52vw;
  position: absolute;
  width: 1.82vw;
}

.general-voice .group-188-mzaWju {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.general-voice .path-357-3oHHxw {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.general-voice .group-189-mzaWju {
  background-color: transparent;
  height: 0.99vw;
  position: absolute;
  right: calc(43.82% - 0.36vw);
  top: calc(50.00% - 0.52vw);
  width: 0.83vw;
}

.general-voice .path-358-nTufx9 {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.general-voice .play-button-rN4gU0 {
  background-color: transparent;
  bottom: calc(44.91% - 0.89vw);
  height: 1.93vw;
  left: 0.73vw;
  object-fit: cover;
  position: absolute;
  width: 1.61vw;
}

.general-voice .stop-button-AFDyxE {
  background-color: transparent;
  cursor: pointer;
  height: 3.07vw;
  left: 67.29vw;
  pointer-events: auto;
  position: fixed;
  top: 39.17vw;
  transition: all 0.2s ease;
  width: 11.25vw;
}

.general-voice .stop-button-AFDyxE:hover {
  transform: scale(1.1);
}

.general-voice .stop-recording-mVqemf {
  background-color: transparent;
  height: 1.61vw;
  letter-spacing: 0.0vw;
  line-height: 1.54vw;
  position: absolute;
  right: 0.52vw;
  text-align: left;
  top: calc(47.04% - 0.78vw);
  white-space: nowrap;
  width: 8.07vw;
}

.general-voice .stop-button-mVqemf {
  background-color: transparent;
  bottom: calc(47.92% - 0.89vw);
  height: 1.82vw;
  left: 0.52vw;
  position: absolute;
  width: 1.82vw;
}

.general-voice .group-190-idKf2A {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.general-voice .path-359-DIGqXt {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.general-voice .group-191-idKf2A {
  background-color: transparent;
  height: 0.83vw;
  left: calc(50.00% - 0.42vw);
  position: absolute;
  top: calc(50.00% - 0.42vw);
  width: 0.83vw;
}

.general-voice .path-360-iQQsvo {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.general-voice .timeline-AFDyxE {
  background-color: transparent;
  height: 0.42vw;
  left: 56.2vw;
  position: fixed;
  top: 34.79vw;
  width: 19.74vw;
}

.general-voice .timeline-shape-Jx4Dnz {
  background-color: var(--white);
  border-radius: 0.21vw 0.21vw 0.21vw 0.21vw;
  height: 100%;
  left: 0.0vw;
  opacity: 0.5;
  position: absolute;
  top: 0.05vw;
  width: 100%;
}

.general-voice .timeline-progress-Jx4Dnz {
  background-color: var(--white);
  border-radius: 0.21vw 0.21vw 0.21vw 0.21vw;
  height: 100%;
  left: 0.0vw;
  opacity: 0.7;
  position: absolute;
  top: 0.0vw;
  width: 0.42vw;
}

.general-voice .timer-AFDyxE {
  background-color: transparent;
  height: 1.46vw;
  left: 76.41vw;
  position: fixed;
  top: 34.22vw;
  width: 3.12vw;
}

.general-voice .x0000-3FzQFZ {
  background-color: transparent;
  height: calc(100.00% + 0.1vw);
  left: 0.0vw;
  letter-spacing: 0.0vw;
  line-height: 1.22vw;
  position: absolute;
  text-align: left;
  top: 0.1vw;
  white-space: nowrap;
  width: calc(100.00% + 0.1vw);
}

.general-voice .mic-icon-AFDyxE {
  background-color: transparent;
  height: 2.92vw;
  left: 53.18vw;
  position: fixed;
  top: 33.33vw;
  width: 2.19vw;
}

.general-voice .mic-icon-WvRDGJ {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.general-voice .sign-out-AFDyxE {
  background-color: transparent;
  cursor: pointer;
  height: 2.4vw;
  left: 86.72vw;
  pointer-events: auto;
  position: absolute;
  top: 2.55vw;
  transition: all 0.2s ease;
  width: 10.73vw;
}

.general-voice .sign-out-AFDyxE:hover {
  transform: scale(1.1);
}

.general-voice .group-377-WAhCuO {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  position: relative;
  top: 0.0vw;
  width: 100%;
}

.general-voice .sign-out-2ADK9h {
  -webkit-text-stroke: 0.16vw var(--torch-red);
  background-color: transparent;
  height: calc(100.00% + 0.1vw);
  letter-spacing: 0.0vw;
  line-height: 2.36vw;
  position: absolute;
  right: -0.1vw;
  text-align: center;
  top: 0.05vw;
  white-space: nowrap;
  width: 8.44vw;
}

.general-voice .path-466-2ADK9h {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% - 0.16vw);
  left: -0.1vw;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  top: 0.21vw;
  transition: all 0.2s ease;
  width: calc(100.00% - 9.43vw);
}

.general-voice .path-466-2ADK9h:hover {
  transform: translate(-5px, 0);
}

.general-voice .group-373-2ADK9h {
  background-color: transparent;
  bottom: calc(42.91% - 0.21vw);
  height: 0.52vw;
  left: 0.68vw;
  position: absolute;
  width: 1.3vw;
}

.general-voice .path-467-M4IrvE {
  background-color: transparent;
  height: calc(100.00% - 0.26vw);
  left: -0.1vw;
  object-fit: cover;
  position: absolute;
  top: 0.16vw;
  width: calc(100.00% + 0.1vw);
}

.general-voice .path-468-M4IrvE {
  background-color: transparent;
  height: calc(100.00% + 0.16vw);
  left: 0.89vw;
  object-fit: cover;
  position: absolute;
  top: -0.1vw;
  width: calc(100.00% - 0.78vw);
}

.general-voice .search-bar-AFDyxE {
  background-color: transparent;
  cursor: pointer;
  height: 3.02vw;
  left: 30.94vw;
  pointer-events: auto;
  position: absolute;
  top: 2.66vw;
  transition: all 0.2s ease-in-out;
  width: 38.12vw;
}

.general-voice .search-bar-AFDyxE:hover {
  transform: scale(1.1);
}

.general-voice .search-box-qxaQZr {
  background-color: var(--limed-spruce);
  border-radius: 1.19vw;
  cursor: pointer;
  height: 100%;
  left: 0.0vw;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.general-voice .search-icon-qxaQZr {
  background-color: transparent;
  bottom: calc(47.12% - 1.15vw);
  cursor: pointer;
  height: 2.4vw;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  right: 0.89vw;
  transition: all 0.2s ease;
  width: 2.4vw;
}

.general-voice .search-icon-qxaQZr:hover {
  transform: rotate(15deg);
}

.general-voice .seach-for-a-specific-lable-qxaQZr {
  background-color: transparent;
  border: 0;
  bottom: calc(43.23% - 0.83vw);
  height: 1.98vw;
  left: 1.93vw;
  letter-spacing: 0.0vw;
  line-height: 1.13vw;
  opacity: 0.4;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  width: 32.5vw;
}

.general-voice .seach-for-a-specific-lable-qxaQZr::placeholder {
  color: #ffffff99;
}

.general-voice .cancel-AFDyxE {
  background-color: transparent;
  cursor: pointer;
  height: 4.84vw;
  left: 81.3vw;
  pointer-events: auto;
  position: fixed;
  top: 45.83vw;
  transition: all 0.2s ease;
  width: 4.84vw;
}

.general-voice .cancel-AFDyxE:hover {
  transform: scale(1.1);
}

.general-voice .cancel-JUmw9V {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.general-voice .done-AFDyxE {
  background-color: transparent;
  cursor: pointer;
  height: 4.84vw;
  left: 87.19vw;
  pointer-events: auto;
  position: fixed;
  top: 45.83vw;
  transition: all 0.2s ease;
  width: 4.84vw;
}

.general-voice .done-AFDyxE:hover {
  transform: scale(1.1);
}

.general-voice .done-dMPZbd {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.general-voice .title-AFDyxE {
  height: 6.04vw;
  left: 46.88vw;
  top: 17.6vw;
  width: 45.52vw;
}

.general-voice .rectangle-194-QZkhxQ {
  background-color: var(--black-2);
  border-radius: 0.73vw;
  height: 100%;
  left: 0.0vw;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.general-voice .titel-QZkhxQ {
  background-color: transparent;
  border: 0;
  height: 3.54vw;
  left: 2.97%;
  letter-spacing: 0.0vw;
  line-height: 2.86vw;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  top: 21.55%;
  width: 93.94%;
}

.general-voice .titel-QZkhxQ::placeholder {
  color: #ffffff99;
}
