/* screen - general-text */

.general-text {
  background-color: var(--white);
  height: 56.25vw;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100.0vw;
}

.general-text .bg-eQxjhj {
  background-color: transparent;
  height: 58.44vw;
  left: -16.09vw;
  position: fixed;
  top: -0.05vw;
  width: 116.2vw;
}

.general-text .bg-style-mqWMxy {
  background-color: transparent;
  height: calc(100.00% - 0.16vw);
  left: 0.0vw;
  position: absolute;
  top: 0.16vw;
  width: 100%;
}

.general-text .path-363-YjYywB {
  background-color: transparent;
  height: calc(100.00% + 0.62vw);
  left: 15.99vw;
  object-fit: cover;
  position: absolute;
  top: -0.1vw;
  width: calc(100.00% - 13.49vw);
}

.general-text .path-364-YjYywB {
  background-color: transparent;
  height: calc(100.00% + 0.47vw);
  left: calc(18.70% - 6.3vw);
  object-fit: cover;
  position: absolute;
  top: -0.42vw;
  width: 33.8vw;
}

.general-text .person-YjYywB {
  background-color: transparent;
  height: calc(100.00% - 4.58vw);
  left: 0.05vw;
  object-fit: cover;
  position: absolute;
  top: 4.58vw;
  width: 53.7vw;
}

.general-text .arrow-YjYywB {
  background-color: transparent;
  height: 6.2vw;
  left: calc(33.58% - 3.28vw);
  object-fit: cover;
  position: absolute;
  top: calc(22.85% - 1.41vw);
  width: 9.79vw;
}

.general-text .main-header-mqWMxy {
  background-color: var(--mine-shaft);
  border-radius: 0.0vw 0.0vw 2.6vw 2.6vw;
  box-shadow: 0.36vw 0.68vw 1.09vw #5e5e5e33;
  height: 7.34vw;
  left: 16.09vw;
  position: absolute;
  top: 0.0vw;
  width: calc(100.00% - 16.15vw);
}

.general-text .logo-mqWMxy {
  background-color: transparent;
  height: 5.73vw;
  left: calc(18.76% - 1.88vw);
  position: absolute;
  top: 2.03vw;
  width: 10.1vw;
}

.general-text .logo-ojsjwS {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  position: relative;
  top: 0.0vw;
  width: 100%;
}

.general-text .m-qyoR3u {
  background-color: transparent;
  height: 2.5vw;
  left: 0.0vw;
  position: absolute;
  top: 0.0vw;
  width: 2.6vw;
}

.general-text .path-370-p0qjai {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.general-text .v-qyoR3u {
  background-color: transparent;
  height: 2.08vw;
  position: absolute;
  right: calc(46.93% - 0.99vw);
  top: 0.42vw;
  width: 2.08vw;
}

.general-text .path-371-xza14Z {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.general-text .e-qyoR3u {
  background-color: transparent;
  height: 2.08vw;
  position: absolute;
  right: calc(23.66% - 0.47vw);
  top: 0.42vw;
  width: 2.03vw;
}

.general-text .path-372-9H46zY {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.general-text .group-201-qyoR3u {
  background-color: transparent;
  height: calc(100.00% - 0.73vw);
  position: absolute;
  right: 0.0vw;
  top: 0.73vw;
  width: 8.49vw;
}

.general-text .rectangle-66-rNar0t {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.general-text .group-202-qyoR3u {
  background-color: transparent;
  bottom: calc(42.37% - 0.42vw);
  height: 0.99vw;
  position: absolute;
  right: calc(36.29% - 1.09vw);
  width: 3.02vw;
}

.general-text .path-373-lfEfQF {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: 0.99vw;
}

.general-text .path-374-lfEfQF {
  background-color: transparent;
  height: 100%;
  object-fit: cover;
  position: absolute;
  right: calc(46.23% - 0.42vw);
  top: 0.05vw;
  width: 0.89vw;
}

.general-text .path-375-lfEfQF {
  background-color: transparent;
  height: 100%;
  object-fit: cover;
  position: absolute;
  right: 0.0vw;
  top: 0.05vw;
  width: 0.89vw;
}

.general-text .pin-qyoR3u {
  background-color: transparent;
  height: 3.44vw;
  left: calc(30.47% - 0.73vw);
  position: absolute;
  top: 0.42vw;
  width: 2.34vw;
}

.general-text .path-376-43D6wP {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.general-text .ellipse-20-43D6wP {
  background-color: var(--bright-red);
  border-radius: 0.9vw;
  height: 1.77vw;
  left: 0.31vw;
  position: absolute;
  top: 0.26vw;
  width: calc(100.00% - 0.57vw);
}

.general-text .box-qyoR3u {
  background-color: transparent;
  height: 1.72vw;
  left: calc(31.64% - 0.62vw);
  position: absolute;
  top: 0.62vw;
  width: 1.93vw;
}

.general-text .rectangle-67-qqLcep {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  top: 0.05vw;
  width: 100%;
}

.general-text .new-lable-button-eQxjhj {
  background-color: transparent;
  cursor: pointer;
  height: 3.33vw;
  left: 30.47vw;
  position: fixed;
  top: 8.54vw;
  width: 12.92vw;
}

.general-text .group-375-D1ksW6 {
  background-color: transparent;
  cursor: pointer;
  height: 100%;
  left: 0.0vw;
  pointer-events: auto;
  position: relative;
  top: 0.0vw;
  transition: all 0.2s ease;
  width: 100%;
}

.general-text .group-375-D1ksW6:hover {
  transform: scale(1.1);
}

.general-text .green-button-new-lable-sxsSY4 {
  background-color: var(--green);
  border-radius: 0.83vw;
  height: 100%;
  left: 0.0vw;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.general-text .x-sxsSY4 {
  background-color: transparent;
  cursor: pointer;
  height: 1.98vw;
  left: 0.62vw;
  pointer-events: auto;
  position: absolute;
  top: calc(50.00% - 0.99vw);
  transition: all 0.2s ease;
  width: 1.93vw;
}

.general-text .x-sxsSY4:hover {
  transform: rotate(15deg);
}

.general-text .path-464-toiKrU {
  background-color: transparent;
  height: calc(100.00% - 1.61vw);
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  top: 0.78vw;
  width: 100%;
}

.general-text .path-465-toiKrU {
  background-color: transparent;
  height: 100%;
  left: 0.78vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: calc(100.00% - 1.61vw);
}

.general-text .new-lable-sxsSY4 {
  background-color: transparent;
  height: 2.55vw;
  letter-spacing: 0.0vw;
  line-height: 2.49vw;
  position: absolute;
  right: 0.99vw;
  text-align: left;
  top: 0.31vw;
  white-space: nowrap;
  width: 8.8vw;
}

.general-text .main-shape-eQxjhj {
  background-color: transparent;
  height: 36.15vw;
  left: 33.85vw;
  position: fixed;
  top: 16.35vw;
  width: 60.36vw;
}

.general-text .main-shape-JxDw3i {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  position: relative;
  top: 0.0vw;
  width: 100%;
}

.general-text .rectangle-68-zhfSnj {
  background-color: var(--white);
  border-radius: 1.5vw 1.5vw 1.5vw 1.51vw;
  box-shadow: 0.36vw 0.36vw 1.51vw #00000042;
  height: 100%;
  left: 0.0vw;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.general-text .path-377-zhfSnj {
  background-color: transparent;
  height: 16.15vw;
  left: 0.05vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.general-text .box-icon-zhfSnj {
  background-color: transparent;
  height: 7.4vw;
  left: 0.36vw;
  position: absolute;
  top: calc(28.48% - 2.08vw);
  width: 8.59vw;
}

.general-text .group-203-DYvDex {
  background-color: transparent;
  bottom: 0.16vw;
  height: 4.27vw;
  left: 1.2vw;
  position: absolute;
  width: 3.12vw;
}

.general-text .path-378-3POs2y {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.general-text .group-204-DYvDex {
  background-color: transparent;
  height: 2.86vw;
  position: absolute;
  right: 0.16vw;
  top: 0.16vw;
  width: 4.22vw;
}

.general-text .path-379-hHxDY8 {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.general-text .group-205-DYvDex {
  background-color: transparent;
  bottom: calc(34.74% - 0.99vw);
  height: 2.86vw;
  left: 0.16vw;
  position: absolute;
  width: 4.22vw;
}

.general-text .path-380-xGzAm6 {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.general-text .group-206-DYvDex {
  background-color: transparent;
  bottom: 0.16vw;
  height: 4.22vw;
  position: absolute;
  right: 1.25vw;
  width: 3.02vw;
}

.general-text .path-381-AR9cGi {
  background-color: transparent;
  bottom: 0.0vw;
  height: 2.81vw;
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  width: 100%;
}

.general-text .path-382-AR9cGi {
  background-color: transparent;
  height: 1.35vw;
  left: 0.05vw;
  object-fit: cover;
  position: absolute;
  top: 0.05vw;
  width: 100%;
}

.general-text .path-383-AR9cGi {
  background-color: transparent;
  height: 0.05vw;
  object-fit: cover;
  position: absolute;
  right: 0.0vw;
  top: 0.0vw;
  width: 0.05vw;
}

.general-text .group-207-DYvDex {
  background-color: transparent;
  height: 2.76vw;
  left: 0.31vw;
  position: absolute;
  top: 0.21vw;
  width: 3.96vw;
}

.general-text .path-384-p9D9kJ {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.general-text .group-208-DYvDex {
  background-color: transparent;
  bottom: calc(35.07% - 0.99vw);
  height: 2.76vw;
  position: absolute;
  right: 0.31vw;
  width: 3.96vw;
}

.general-text .path-385-6VdxVa {
  background-color: transparent;
  height: 100%;
  left: 0.05vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.general-text .path-386-6VdxVa {
  background-color: transparent;
  bottom: 49.90%;
  height: 0.05vw;
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  width: 0.05vw;
}

.general-text .group-209-DYvDex {
  background-color: transparent;
  height: 2.81vw;
  left: 1.25vw;
  position: absolute;
  top: calc(34.49% - 0.99vw);
  width: calc(100.00% - 2.45vw);
}

.general-text .path-387-f8jFTZ {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.general-text .group-210-DYvDex {
  background-color: transparent;
  height: 0.0vw;
  left: 1.72vw;
  position: absolute;
  top: 38.29%;
  width: 0.0vw;
}

.general-text .path-388-ni82FL {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.general-text .path-389-DYvDex {
  background-color: transparent;
  height: 2.81vw;
  object-fit: cover;
  position: absolute;
  right: 1.25vw;
  top: calc(34.49% - 0.99vw);
  width: 3.12vw;
}

.general-text .group-211-DYvDex {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.general-text .path-390-jxxq7K {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.general-text .path-391-jxxq7K {
  background-color: transparent;
  height: 0.36vw;
  left: calc(16.53% - 0.05vw);
  object-fit: cover;
  position: absolute;
  top: 0.83vw;
  width: 0.42vw;
}

.general-text .group-212-DYvDex {
  background-color: transparent;
  height: 0.0vw;
  left: 1.72vw;
  position: absolute;
  top: 38.29%;
  width: 0.0vw;
}

.general-text .path-392-vp4MTc {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.general-text .title-zhfSnj {
  height: 5.16vw;
  left: 2.14vw;
  letter-spacing: 0.0vw;
  line-height: 5.07vw;
  text-align: left;
  top: 1.46vw;
  white-space: nowrap;
  width: 10.26vw;
}

.general-text .whats-inside-the-box-zhfSnj {
  background-color: transparent;
  height: 2.66vw;
  left: calc(25.41% - 5.36vw);
  letter-spacing: 0.0vw;
  line-height: 2.51vw;
  position: absolute;
  text-align: left;
  top: calc(27.39% - 0.73vw);
  white-space: nowrap;
  width: 21.2vw;
}

.general-text .rectangle-70-zhfSnj {
  background-color: var(--picton-blue);
  border-radius: 0.94vw;
  bottom: calc(39.26% - 5.83vw);
  height: 14.9vw;
  position: absolute;
  right: calc(42.19% - 12.86vw);
  width: 30.47vw;
}

.general-text .done-eQxjhj {
  background-color: transparent;
  cursor: pointer;
  height: 4.84vw;
  left: 87.19vw;
  pointer-events: auto;
  position: fixed;
  top: 45.83vw;
  transition: all 0.2s ease;
  width: 4.84vw;
}

.general-text .done-eQxjhj:hover {
  transform: scale(1.1);
}

.general-text .done-1XY3QZ {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.general-text .type-field-eQxjhj {
  background-color: transparent;
  height: 13.23vw;
  left: 52.55vw;
  position: fixed;
  top: 30.1vw;
  width: 27.86vw;
}

.general-text .box-field-NO1e3r {
  background-color: var(--black);
  border-radius: 0.94vw;
  height: 100%;
  left: 0.0vw;
  opacity: 0.19;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.general-text .start-typing-here-NO1e3r {
  background-color: transparent;
  border: 0;
  height: 11.82vw;
  left: 0.94vw;
  letter-spacing: 0.0vw;
  line-height: 1.13vw;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  top: 0.62vw;
  width: 26.15vw;
}

.general-text .start-typing-here-NO1e3r::placeholder {
  color: #ffffff99;
}

.general-text .sign-out-eQxjhj {
  background-color: transparent;
  cursor: pointer;
  height: 2.4vw;
  left: 86.72vw;
  pointer-events: auto;
  position: absolute;
  top: 2.55vw;
  transition: all 0.2s ease;
  width: 10.73vw;
}

.general-text .sign-out-eQxjhj:hover {
  transform: scale(1.1);
}

.general-text .group-377-rNVDsj {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  position: relative;
  top: 0.0vw;
  width: 100%;
}

.general-text .sign-out-knUpiM {
  -webkit-text-stroke: 0.16vw var(--torch-red);
  background-color: transparent;
  height: calc(100.00% + 0.1vw);
  letter-spacing: 0.0vw;
  line-height: 2.36vw;
  position: absolute;
  right: -0.1vw;
  text-align: center;
  top: 0.05vw;
  white-space: nowrap;
  width: 8.44vw;
}

.general-text .path-466-knUpiM {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% - 0.16vw);
  left: -0.1vw;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  top: 0.21vw;
  transition: all 0.2s ease;
  width: calc(100.00% - 9.43vw);
}

.general-text .path-466-knUpiM:hover {
  transform: translate(-5px, 0);
}

.general-text .group-373-knUpiM {
  background-color: transparent;
  bottom: calc(42.91% - 0.21vw);
  height: 0.52vw;
  left: 0.68vw;
  position: absolute;
  width: 1.3vw;
}

.general-text .path-467-VY0ai3 {
  background-color: transparent;
  height: calc(100.00% - 0.26vw);
  left: -0.1vw;
  object-fit: cover;
  position: absolute;
  top: 0.16vw;
  width: calc(100.00% + 0.1vw);
}

.general-text .path-468-VY0ai3 {
  background-color: transparent;
  height: calc(100.00% + 0.16vw);
  left: 0.89vw;
  object-fit: cover;
  position: absolute;
  top: -0.1vw;
  width: calc(100.00% - 0.78vw);
}

.general-text .search-bar-eQxjhj {
  background-color: transparent;
  cursor: pointer;
  height: 3.02vw;
  left: 30.94vw;
  pointer-events: auto;
  position: absolute;
  top: 2.66vw;
  transition: all 0.2s ease-in-out;
  width: 38.12vw;
}

.general-text .search-bar-eQxjhj:hover {
  transform: scale(1.1);
}

.general-text .search-box-lnxXoz {
  background-color: var(--limed-spruce);
  border-radius: 1.19vw;
  cursor: pointer;
  height: 100%;
  left: 0.0vw;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.general-text .search-icon-lnxXoz {
  background-color: transparent;
  bottom: calc(47.12% - 1.15vw);
  cursor: pointer;
  height: 2.4vw;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  right: 0.89vw;
  transition: all 0.2s ease;
  width: 2.4vw;
}

.general-text .search-icon-lnxXoz:hover {
  transform: rotate(15deg);
}

.general-text .seach-for-a-specific-lable-lnxXoz {
  background-color: transparent;
  border: 0;
  bottom: calc(43.23% - 0.83vw);
  height: 1.98vw;
  left: 1.93vw;
  letter-spacing: 0.0vw;
  line-height: 1.13vw;
  opacity: 0.4;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  width: 32.5vw;
}

.general-text .seach-for-a-specific-lable-lnxXoz::placeholder {
  color: #ffffff99;
}

.general-text .cancel-eQxjhj {
  background-color: transparent;
  cursor: pointer;
  height: 4.84vw;
  left: 81.3vw;
  pointer-events: auto;
  position: fixed;
  top: 45.83vw;
  transition: all 0.2s ease;
  width: 4.84vw;
}

.general-text .cancel-eQxjhj:hover {
  transform: scale(1.1);
}

.general-text .cancel-i6Algq {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.general-text .title-eQxjhj {
  height: 6.04vw;
  left: 46.88vw;
  top: 17.6vw;
  width: 45.52vw;
}

.general-text .rectangle-194-600u3V {
  background-color: var(--black-2);
  border-radius: 0.73vw;
  height: 100%;
  left: 0.0vw;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.general-text .titel-600u3V {
  background-color: transparent;
  border: 0;
  height: 3.54vw;
  left: 2.97%;
  letter-spacing: 0.0vw;
  line-height: 2.86vw;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  top: 21.55%;
  width: 93.94%;
}

.general-text .titel-600u3V::placeholder {
  color: #ffffff99;
}
