/* screen - home */

.home {
  background-color: var(--white);
  height: 56.25vw;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100.0vw;
}

.home .bg-elems-xl4bh6 {
  background-color: transparent;
  height: 58.44vw;
  left: -16.15vw;
  position: absolute;
  top: -0.0vw;
  width: 116.15vw;
}

.home .bg-elements-b2ulYz {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.home .group-374-xE0Mep {
  background-color: transparent;
  height: calc(100.00% - 0.16vw);
  left: 0.0vw;
  position: absolute;
  top: 0.16vw;
  width: 100%;
}

.home .path-462-oQfiJA {
  background-color: transparent;
  height: calc(100.00% + 0.57vw);
  left: 15.99vw;
  object-fit: cover;
  position: absolute;
  top: -0.1vw;
  width: calc(100.00% - 13.49vw);
}

.home .path-463-oQfiJA {
  background-color: transparent;
  height: calc(100.00% + 0.42vw);
  left: calc(18.70% - 6.3vw);
  object-fit: cover;
  position: absolute;
  top: -0.42vw;
  width: 33.8vw;
}

.home .person-oQfiJA {
  background-color: transparent;
  height: calc(100.00% - 4.58vw);
  left: 0.05vw;
  object-fit: cover;
  position: absolute;
  top: 4.58vw;
  width: 53.7vw;
}

.home .arrow-xE0Mep {
  background-color: transparent;
  height: 6.2vw;
  left: calc(33.57% - 3.28vw);
  object-fit: cover;
  position: absolute;
  top: calc(23.11% - 1.41vw);
  width: 9.79vw;
}

.home .main-header-xE0Mep {
  background-color: var(--mine-shaft);
  border-radius: 0.0vw 0.0vw 2.6vw 2.6vw;
  box-shadow: 0.36vw 0.68vw 1.09vw #5e5e5e33;
  height: 7.34vw;
  left: 16.15vw;
  position: absolute;
  top: 0.0vw;
  width: 100.0vw;
}

.home .logo-b2ulYz {
  background-color: transparent;
  height: 5.73vw;
  left: 19.9vw;
  position: absolute;
  top: 2.03vw;
  width: 10.1vw;
}

.home .m-5Lf67E {
  background-color: transparent;
  height: 2.5vw;
  left: 0.0vw;
  position: absolute;
  top: 0.0vw;
  width: 2.6vw;
}

.home .path-469-I7EJXq {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.home .v-5Lf67E {
  background-color: transparent;
  height: 2.08vw;
  position: absolute;
  right: calc(46.93% - 0.99vw);
  top: 0.42vw;
  width: 2.08vw;
}

.home .path-470-p1FER0 {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.home .e-5Lf67E {
  background-color: transparent;
  height: 2.08vw;
  position: absolute;
  right: calc(23.66% - 0.47vw);
  top: 0.42vw;
  width: 2.03vw;
}

.home .path-471-bnzQAx {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.home .group-264-5Lf67E {
  background-color: transparent;
  height: calc(100.00% - 0.73vw);
  position: absolute;
  right: 0.0vw;
  top: 0.73vw;
  width: 8.49vw;
}

.home .rectangle-81-4Escn6 {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.home .group-265-5Lf67E {
  background-color: transparent;
  bottom: calc(42.37% - 0.42vw);
  height: 0.99vw;
  position: absolute;
  right: calc(36.29% - 1.09vw);
  width: 3.02vw;
}

.home .path-472-U17kh0 {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: 0.99vw;
}

.home .path-473-U17kh0 {
  background-color: transparent;
  height: 100%;
  object-fit: cover;
  position: absolute;
  right: calc(46.23% - 0.42vw);
  top: 0.05vw;
  width: 0.89vw;
}

.home .path-474-U17kh0 {
  background-color: transparent;
  height: 100%;
  object-fit: cover;
  position: absolute;
  right: 0.0vw;
  top: 0.05vw;
  width: 0.89vw;
}

.home .pin-5Lf67E {
  background-color: transparent;
  height: 3.44vw;
  left: calc(30.47% - 0.73vw);
  position: absolute;
  top: 0.42vw;
  width: 2.34vw;
}

.home .path-475-hv4NV3 {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.home .ellipse-24-hv4NV3 {
  background-color: var(--bright-red);
  border-radius: 0.9vw;
  height: 1.77vw;
  left: 0.31vw;
  position: absolute;
  top: 0.26vw;
  width: calc(100.00% - 0.57vw);
}

.home .box-5Lf67E {
  background-color: transparent;
  height: 1.72vw;
  left: calc(31.64% - 0.62vw);
  position: absolute;
  top: 0.62vw;
  width: 1.93vw;
}

.home .rectangle-82-iG4p4b {
  background-color: transparent;
  height: 100%;
  left: 0.05vw;
  object-fit: cover;
  position: absolute;
  top: 0.05vw;
  width: 100%;
}

.home .new-lable-button-xl4bh6 {
  background-color: transparent;
  cursor: pointer;
  height: 3.33vw;
  left: 30.47vw;
  pointer-events: auto;
  position: absolute;
  top: 8.49vw;
  transition: all 0.2s ease-in-out;
  width: 12.92vw;
  z-index: 1;
}

.home .new-lable-button-xl4bh6:hover {
  transform: scale(1.1);
}

.home .group-375-PelNm4 {
  background-color: transparent;
  cursor: pointer;
  height: 100%;
  left: 0.0vw;
  pointer-events: auto;
  position: relative;
  top: 0.0vw;
  transition: all 0.2s ease;
  width: 100%;
}

.home .group-375-PelNm4:hover {
  transform: scale(1.1);
}

.home .green-button-new-lable-vUdHvx {
  background-color: var(--green);
  border-radius: 0.83vw;
  height: 100%;
  left: 0.0vw;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.home .x-vUdHvx {
  background-color: transparent;
  cursor: pointer;
  height: 1.98vw;
  left: 0.62vw;
  pointer-events: auto;
  position: absolute;
  top: calc(50.00% - 0.99vw);
  transition: all 0.2s ease;
  width: 1.93vw;
}

.home .x-vUdHvx:hover {
  transform: rotate(15deg);
}

.home .path-464-5p9wUQ {
  background-color: transparent;
  height: calc(100.00% - 1.61vw);
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  top: 0.78vw;
  width: 100%;
}

.home .path-465-5p9wUQ {
  background-color: transparent;
  height: 100%;
  left: 0.78vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: calc(100.00% - 1.61vw);
}

.home .title-vUdHvx {
  background-color: transparent;
  height: 2.55vw;
  letter-spacing: 0.0vw;
  line-height: 2.49vw;
  position: absolute;
  right: 0.99vw;
  text-align: left;
  top: 0.31vw;
  white-space: nowrap;
  width: 8.8vw;
}

.home .sign-out-xl4bh6 {
  background-color: transparent;
  cursor: pointer;
  height: 2.4vw;
  left: 86.72vw;
  pointer-events: auto;
  position: absolute;
  top: 2.5vw;
  transition: all 0.2s ease;
  width: 10.73vw;
}

.home .sign-out-xl4bh6:hover {
  transform: scale(1.1);
}

.home .group-377-3I6Sld {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  position: relative;
  top: 0.0vw;
  width: 100%;
}

.home .sign-out-4kwxF7 {
  -webkit-text-stroke: 0.16vw var(--torch-red);
  background-color: transparent;
  height: calc(100.00% + 0.1vw);
  letter-spacing: 0.0vw;
  line-height: 2.36vw;
  position: absolute;
  right: -0.1vw;
  text-align: center;
  top: 0.05vw;
  white-space: nowrap;
  width: 8.44vw;
}

.home .path-466-4kwxF7 {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% - 0.16vw);
  left: -0.1vw;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  top: 0.21vw;
  transition: all 0.2s ease;
  width: calc(100.00% - 9.43vw);
}

.home .path-466-4kwxF7:hover {
  transform: translate(-5px, 0);
}

.home .group-373-4kwxF7 {
  background-color: transparent;
  bottom: calc(42.91% - 0.21vw);
  height: 0.52vw;
  left: 0.68vw;
  position: absolute;
  width: 1.3vw;
}

.home .path-467-KVs3uk {
  background-color: transparent;
  height: calc(100.00% - 0.26vw);
  left: -0.1vw;
  object-fit: cover;
  position: absolute;
  top: 0.16vw;
  width: calc(100.00% + 0.1vw);
}

.home .path-468-KVs3uk {
  background-color: transparent;
  height: calc(100.00% + 0.16vw);
  left: 0.89vw;
  object-fit: cover;
  position: absolute;
  top: -0.1vw;
  width: calc(100.00% - 0.78vw);
}

.home .search-bar-xl4bh6 {
  background-color: transparent;
  cursor: pointer;
  height: 3.02vw;
  left: 30.94vw;
  pointer-events: auto;
  position: absolute;
  top: 2.6vw;
  transition: all 0.2s ease-in-out;
  width: 38.12vw;
  z-index: 1;
}

.home .search-bar-xl4bh6:hover {
  transform: scale(1.1);
}

.home .search-box-LvIzbA {
  background-color: var(--limed-spruce);
  border-radius: 1.19vw;
  cursor: pointer;
  height: 100%;
  left: 0.0vw;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.home .search-icon-LvIzbA {
  background-color: transparent;
  bottom: calc(47.12% - 1.15vw);
  cursor: pointer;
  height: 2.4vw;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  right: 0.89vw;
  transition: all 0.2s ease;
  width: 2.4vw;
}

.home .search-icon-LvIzbA:hover {
  transform: rotate(15deg);
}

.home .seach-for-a-specific-lable-LvIzbA {
  background-color: transparent;
  border: 0;
  bottom: calc(43.23% - 0.83vw);
  height: 1.98vw;
  left: 1.93vw;
  letter-spacing: 0.0vw;
  line-height: 1.13vw;
  opacity: 0.4;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  width: 32.5vw;
}

.home .seach-for-a-specific-lable-LvIzbA::placeholder {
  color: #ffffff99;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 equal columns */
  row-gap: 16vw; /* Vertical space between grid items */
  column-gap: 0.5vw; /* Horizontal space between grid items */
  max-width: 70vw;
  margin: auto auto auto auto; /* Center the grid */
  padding: 0;
  transform: translate(-330px, -1120px); /* left , up */
  z-index: -100; /* Place the grid behind other elements */
}

.general-complete, 
.hazard-comple, 
.fragile-comple {
  display: flex; /* Use Flexbox to control internal alignment */
  flex-direction: column; /* Stack children vertically */
  justify-content: flex-start; /* Align children to the top */
  align-items: flex-start; /* Align children to the left */
  width: 16vw; /* Set the width of each card */
  height: auto; /* Let the height adapt to the content */
  padding: 0; /* Add padding inside the card */
  box-sizing: border-box;
  position: relative;
}

.general-complete > *, 
.hazard-comple > *, 
.fragile-comple > * {
  width: auto; /* Auto width for child elements */
  max-width: 100%; /* Prevent child elements from exceeding the container width */
  box-sizing: border-box;
  margin-bottom: 0.5vw; /* Add space between child elements */
  align-self: flex-start; /* Align child elements to the left */
}
