/* screen - preview-lable-fragile */

.preview-lable-fragile {
  background-color: var(--white);
  height: 56.25vw;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100.0vw;
}

.preview-lable-fragile .gb-HMSngL {
  background-color: transparent;
  height: 58.44vw;
  left: -16.2vw;
  position: fixed;
  top: -0.05vw;
  width: 116.2vw;
}

.preview-lable-fragile .bg-style-gtTaMk {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  position: relative;
  top: 0.0vw;
  width: 100%;
}

.preview-lable-fragile .path-42-Qx70fH {
  background-color: transparent;
  height: calc(100.00% + 0.47vw);
  left: 15.99vw;
  object-fit: cover;
  position: absolute;
  top: 0.05vw;
  width: calc(100.00% - 13.49vw);
}

.preview-lable-fragile .path-43-Qx70fH {
  background-color: transparent;
  height: calc(100.00% + 0.31vw);
  left: calc(18.69% - 6.3vw);
  object-fit: cover;
  position: absolute;
  top: -0.26vw;
  width: 33.8vw;
}

.preview-lable-fragile .person-Qx70fH {
  background-color: transparent;
  height: calc(100.00% - 4.74vw);
  left: 0.05vw;
  object-fit: cover;
  position: absolute;
  top: 4.74vw;
  width: 53.7vw;
}

.preview-lable-fragile .arrow-Qx70fH {
  background-color: transparent;
  height: 6.2vw;
  left: calc(33.56% - 3.28vw);
  object-fit: cover;
  position: absolute;
  top: calc(23.11% - 1.41vw);
  width: 9.79vw;
}

.preview-lable-fragile .main-header-Qx70fH {
  background-color: var(--mine-shaft);
  border-radius: 0.0vw 0.0vw 2.6vw 2.6vw;
  box-shadow: 0.36vw 0.68vw 1.09vw #5e5e5e33;
  height: 7.34vw;
  left: 16.15vw;
  position: absolute;
  top: 0.0vw;
  width: calc(100.00% - 16.15vw);
}

.preview-lable-fragile .logo-Qx70fH {
  background-color: transparent;
  height: 5.73vw;
  left: calc(18.75% - 1.88vw);
  position: absolute;
  top: 2.03vw;
  width: 10.1vw;
}

.preview-lable-fragile .logo-v3huMC {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  position: relative;
  top: 0.0vw;
  width: 100%;
}

.preview-lable-fragile .m-YKnCvw {
  background-color: transparent;
  height: 2.5vw;
  left: 0.0vw;
  position: absolute;
  top: 0.0vw;
  width: 2.6vw;
}

.preview-lable-fragile .path-49-WPcL0w {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.preview-lable-fragile .v-YKnCvw {
  background-color: transparent;
  height: 2.08vw;
  position: absolute;
  right: calc(46.93% - 0.99vw);
  top: 0.42vw;
  width: 2.08vw;
}

.preview-lable-fragile .path-50-7qJuxx {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.preview-lable-fragile .e-YKnCvw {
  background-color: transparent;
  height: 2.08vw;
  position: absolute;
  right: calc(23.66% - 0.47vw);
  top: 0.42vw;
  width: 2.03vw;
}

.preview-lable-fragile .path-51-4tC2S8 {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.preview-lable-fragile .group-29-YKnCvw {
  background-color: transparent;
  height: calc(100.00% - 0.73vw);
  position: absolute;
  right: 0.0vw;
  top: 0.73vw;
  width: 8.49vw;
}

.preview-lable-fragile .rectangle-6-JtPXmC {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.preview-lable-fragile .group-30-YKnCvw {
  background-color: transparent;
  bottom: calc(42.37% - 0.42vw);
  height: 0.99vw;
  position: absolute;
  right: calc(36.29% - 1.09vw);
  width: 3.02vw;
}

.preview-lable-fragile .path-52-BngAq6 {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: 0.99vw;
}

.preview-lable-fragile .path-53-BngAq6 {
  background-color: transparent;
  height: 100%;
  object-fit: cover;
  position: absolute;
  right: calc(46.24% - 0.42vw);
  top: 0.05vw;
  width: 0.89vw;
}

.preview-lable-fragile .path-54-BngAq6 {
  background-color: transparent;
  height: 100%;
  object-fit: cover;
  position: absolute;
  right: 0.0vw;
  top: 0.05vw;
  width: 0.89vw;
}

.preview-lable-fragile .pin-YKnCvw {
  background-color: transparent;
  height: 3.44vw;
  left: calc(30.47% - 0.73vw);
  position: absolute;
  top: 0.42vw;
  width: 2.34vw;
}

.preview-lable-fragile .path-55-zxdDLd {
  background-color: transparent;
  height: 100%;
  left: 0.05vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.preview-lable-fragile .ellipse-4-zxdDLd {
  background-color: var(--bright-red);
  border-radius: 0.9vw;
  height: 1.77vw;
  left: 0.31vw;
  position: absolute;
  top: 0.26vw;
  width: calc(100.00% - 0.57vw);
}

.preview-lable-fragile .box-YKnCvw {
  background-color: transparent;
  height: 1.72vw;
  left: calc(31.64% - 0.62vw);
  position: absolute;
  top: 0.62vw;
  width: 1.93vw;
}

.preview-lable-fragile .rectangle-7-iPqNcf {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  top: 0.05vw;
  width: 100%;
}

.preview-lable-fragile .new-lable-button-HMSngL {
  background-color: transparent;
  cursor: pointer;
  height: 3.33vw;
  left: 30.47vw;
  position: fixed;
  top: 8.54vw;
  width: 12.92vw;
}

.preview-lable-fragile .group-375-Zx5ZrF {
  background-color: transparent;
  cursor: pointer;
  height: 100%;
  left: 0.0vw;
  pointer-events: auto;
  position: relative;
  top: 0.0vw;
  transition: all 0.2s ease;
  width: 100%;
}

.preview-lable-fragile .group-375-Zx5ZrF:hover {
  transform: scale(1.1);
}

.preview-lable-fragile .green-button-new-lable-OgqHd7 {
  background-color: var(--green);
  border-radius: 0.83vw;
  height: 100%;
  left: 0.0vw;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.preview-lable-fragile .x-OgqHd7 {
  background-color: transparent;
  cursor: pointer;
  height: 1.98vw;
  left: 0.62vw;
  pointer-events: auto;
  position: absolute;
  top: calc(50.00% - 0.99vw);
  transition: all 0.2s ease;
  width: 1.93vw;
}

.preview-lable-fragile .x-OgqHd7:hover {
  transform: rotate(15deg);
}

.preview-lable-fragile .path-464-YxVJQu {
  background-color: transparent;
  height: calc(100.00% - 1.61vw);
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  top: 0.78vw;
  width: 100%;
}

.preview-lable-fragile .path-465-YxVJQu {
  background-color: transparent;
  height: 100%;
  left: 0.78vw;
  object-fit: cover;
  position: absolute;
  top: 0.05vw;
  width: calc(100.00% - 1.61vw);
}

.preview-lable-fragile .title-OgqHd7 {
  background-color: transparent;
  height: 2.55vw;
  letter-spacing: 0.0vw;
  line-height: 2.49vw;
  position: absolute;
  right: 0.99vw;
  text-align: left;
  top: 0.31vw;
  white-space: nowrap;
  width: 8.8vw;
}

.preview-lable-fragile .main-shape-HMSngL {
  background-color: transparent;
  height: 36.15vw;
  left: 33.85vw;
  position: fixed;
  top: 16.35vw;
  width: 60.36vw;
}

.preview-lable-fragile .main-shape-LWxixK {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.preview-lable-fragile .main-shape-8gYfOx {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  position: relative;
  top: 0.0vw;
  width: 100%;
}

.preview-lable-fragile .rectangle-68-3rOgFX {
  background-color: var(--white);
  border-radius: 1.5vw 1.5vw 1.5vw 1.51vw;
  box-shadow: 0.36vw 0.36vw 1.51vw #00000042;
  height: 100%;
  left: 0.0vw;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.preview-lable-fragile .path-377-3rOgFX {
  background-color: transparent;
  height: 16.15vw;
  left: 0.05vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.preview-lable-fragile .fragile-icon-3rOgFX {
  background-color: transparent;
  height: 7.4vw;
  left: 2.86vw;
  position: absolute;
  top: calc(28.48% - 2.08vw);
  width: 3.54vw;
}

.preview-lable-fragile .path-16-5OtO4B {
  background-color: transparent;
  height: calc(100.00% - 0.26vw);
  left: 0.16vw;
  object-fit: cover;
  position: absolute;
  top: 0.16vw;
  width: calc(100.00% - 0.26vw);
}

.preview-lable-fragile .group-10-5OtO4B {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.preview-lable-fragile .path-17-aAnlAc {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.preview-lable-fragile .path-18-aAnlAc {
  background-color: transparent;
  height: 0.47vw;
  left: 0.1vw;
  object-fit: cover;
  position: absolute;
  top: calc(16.18% - 0.05vw);
  width: 0.31vw;
}

.preview-lable-fragile .rectangle-70-3rOgFX {
  background-color: var(--salmon-pearl);
  border-radius: 0.94vw;
  bottom: 5.16vw;
  height: 21.2vw;
  position: absolute;
  right: 5.26vw;
  width: 43.28vw;
}

.preview-lable-fragile .elements-placeholder-LWxixK {
  background-color: transparent;
  bottom: calc(36.54% - 6.98vw);
  height: 19.11vw;
  position: absolute;
  right: 6.61vw;
  width: 40.26vw;
}

.preview-lable-fragile .box-field-UtVWGx {
  background-color: var(--black);
  border-radius: 0.94vw;
  height: 100%;
  left: 0.0vw;
  opacity: 0.19;
  position: relative;
  top: 0.0vw;
  width: 100%;
}

.preview-lable-fragile .titel-LWxixK {
  background-color: transparent;
  height: 6.35vw;
  left: 3.07vw;
  position: absolute;
  top: 0.99vw;
  width: calc(100.00% - 6.09vw);
}

.preview-lable-fragile .rectangle-69-hzhfjQ {
  background-color: var(--black);
  border-radius: 0.98vw;
  height: 100%;
  left: 0.0vw;
  opacity: 0.19;
  position: relative;
  top: 0.0vw;
  width: 100%;
}

.preview-lable-fragile .sign-out-HMSngL {
  background-color: transparent;
  cursor: pointer;
  height: 2.4vw;
  left: 86.72vw;
  pointer-events: auto;
  position: absolute;
  top: 2.55vw;
  transition: all 0.2s ease;
  width: 10.73vw;
}

.preview-lable-fragile .sign-out-HMSngL:hover {
  transform: scale(1.1);
}

.preview-lable-fragile .group-377-R01YoF {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  position: relative;
  top: 0.0vw;
  width: 100%;
}

.preview-lable-fragile .sign-out-J4uDhI {
  -webkit-text-stroke: 0.16vw var(--torch-red);
  background-color: transparent;
  height: calc(100.00% + 0.1vw);
  letter-spacing: 0.0vw;
  line-height: 2.36vw;
  position: absolute;
  right: -0.1vw;
  text-align: center;
  top: 0.05vw;
  white-space: nowrap;
  width: 8.44vw;
}

.preview-lable-fragile .path-466-J4uDhI {
  background-color: transparent;
  cursor: pointer;
  height: calc(100.00% - 0.16vw);
  left: -0.1vw;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  top: 0.21vw;
  transition: all 0.2s ease;
  width: calc(100.00% - 9.43vw);
}

.preview-lable-fragile .path-466-J4uDhI:hover {
  transform: translate(-5px, 0);
}

.preview-lable-fragile .group-373-J4uDhI {
  background-color: transparent;
  bottom: calc(42.91% - 0.21vw);
  height: 0.52vw;
  left: 0.68vw;
  position: absolute;
  width: 1.3vw;
}

.preview-lable-fragile .path-467-57HkPb {
  background-color: transparent;
  height: calc(100.00% - 0.26vw);
  left: -0.1vw;
  object-fit: cover;
  position: absolute;
  top: 0.16vw;
  width: calc(100.00% + 0.1vw);
}

.preview-lable-fragile .path-468-57HkPb {
  background-color: transparent;
  height: calc(100.00% + 0.16vw);
  left: 0.89vw;
  object-fit: cover;
  position: absolute;
  top: -0.1vw;
  width: calc(100.00% - 0.78vw);
}

.preview-lable-fragile .search-bar-HMSngL {
  background-color: transparent;
  cursor: pointer;
  height: 3.02vw;
  left: 30.94vw;
  pointer-events: auto;
  position: absolute;
  top: 2.66vw;
  transition: all 0.2s ease-in-out;
  width: 38.12vw;
}

.preview-lable-fragile .search-bar-HMSngL:hover {
  transform: scale(1.1);
}

.preview-lable-fragile .search-box-HIK9D4 {
  background-color: var(--limed-spruce);
  border-radius: 1.19vw;
  cursor: pointer;
  height: 100%;
  left: 0.0vw;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}

.preview-lable-fragile .search-icon-HIK9D4 {
  background-color: transparent;
  bottom: calc(47.12% - 1.15vw);
  cursor: pointer;
  height: 2.4vw;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  right: 0.89vw;
  transition: all 0.2s ease;
  width: 2.4vw;
}

.preview-lable-fragile .search-icon-HIK9D4:hover {
  transform: rotate(15deg);
}

.preview-lable-fragile .seach-for-a-specific-lable-HIK9D4 {
  background-color: transparent;
  border: 0;
  bottom: calc(43.23% - 0.83vw);
  height: 1.98vw;
  left: 1.93vw;
  letter-spacing: 0.0vw;
  line-height: 1.13vw;
  opacity: 0.4;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  width: 32.5vw;
}

.preview-lable-fragile .seach-for-a-specific-lable-HIK9D4::placeholder {
  color: #ffffff99;
}

.preview-lable-fragile .cancel-HMSngL {
  background-color: transparent;
  cursor: pointer;
  height: 4.84vw;
  left: 88.75vw;
  pointer-events: auto;
  position: fixed;
  top: 47.08vw;
  transition: all 0.2s ease;
  width: 4.84vw;
}

.preview-lable-fragile .cancel-HMSngL:hover {
  transform: scale(1.1);
}

.preview-lable-fragile .cancel-xoGKxx {
  background-color: transparent;
  height: 100%;
  left: 0.0vw;
  object-fit: cover;
  position: absolute;
  top: 0.0vw;
  width: 100%;
}
