/* Global styles */
body {
    font-family: 'Lato', sans-serif;
    background-color: #F1FAEE; /* Accent off-white */
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #1D3557; /* Dark navy */
}

.container, .login-container, .signup-container, .dashboard-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

form div {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #1D3557; /* Dark navy */
}

input[type="email"], input[type="password"], input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #A8DADC; /* Lighter teal border */
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #F1FAEE; /* Accent off-white */
}

/* Button styles */
button {
    width: 100%;
    background-color: #E63946; /* Primary bold red */
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #B0313B; /* Darker red on hover */
}

.error-message {
    color: #E63946; /* Bold red */
    text-align: center;
    margin-bottom: 10px;
}

.actions a.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: #457B9D; /* Cool blue */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}

.actions a.button:hover {
    background-color: #345B72; /* Darker blue */
}

/* Password field with eye icon */
.password-field {
    position: relative;
}

.password-field input[type="password"],
.password-field input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #A8DADC; /* Lighter teal border */
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #F1FAEE; /* Accent off-white */
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.toggle-password i {
    color: #E63946; /* Primary bold red */
}

.toggle-password i:hover {
    color: #B0313B; /* Darker red on hover */
}

p {
    text-align: center;
    color: #1D3557; /* Dark navy */
}